<template>
  <q-page :class="{'qpage-padding-l':innerWidth > 1024,'qpage-padding-s':innerWidth <=1024}">
    <app-student-details></app-student-details>

    <!-- content -->
    <div align="center" class="bg-amber-1 q-pa-md">
      <div>
        <video
          id="my-video"
          controls
          style="width:95%;height:100%;max-width:1024px;border-radius:10px;border:10px solid#268DE5"
          class="video-js"
        >
          <source :src="vdoPath" type="video/mp4">
        </video>
      </div>
      <div
        class="q-pt-md text-light-blue-10"
        :class="{'font-28' : innerWidth > 600,'font-24' : innerWidth >= 320,'font-14' : innerWidth <320}"
      >{{ currentEngSub }}</div>
      <div
        class="q-pt-md text-light-blue-10"
        :class="{'font-28' : innerWidth > 600,'font-24' : innerWidth >= 320,'font-14' : innerWidth <320}"
      >{{ currentThSub }}</div>
    </div>
    <div align="center" class="q-mt-sm">
      <q-btn
        style="width:250px"
        class="bg-light-blue-9 text-white text-h6"
        push
        :glossy="$q.theme === 'mat'"
        @click="exist()"
      >ออกจากบทเรียน</q-btn>
    </div>
  </q-page>
</template>

<script>
import appStudentDetails from "../components/StudentDetails.vue";
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  // name: 'PageName',
  components: {
    appStudentDetails
  },
  data() {
    return {
      vdoPath: this.$store.state.system.vdoTeachingPath,
      subtitle: [],
      currentIndex: undefined,
      currentEngSub: "",
      currentThSub: "",
      order: undefined,
      practiceName: undefined
    };
  },
  methods: {
    ...mapActions([
      "setEnglishInstruction",
      "setThaiInstruction",
      "setCurrentQuestion",
      "setTotalQuestion",
      "setShowLayouts",
      "setCharacterAction",
      "setStar", //ดาว
      "setScore", //คะแนน
      "setStar3", //เกณฑ์สามดาว
      "setPassScore" //เซ็ทเกณฑ์การผ่าน
    ]),
    getSubtitle() {
      db.collection("conversation")
        .doc(this.$route.params.practicekey)
        .collection("dialog")
        .orderBy("orderid")
        .get()
        .then(doc => {
          this.saveMonitor(this.$route.params.practicekey, doc.size);
          doc.forEach(element => {
            let splitTime = element.data().starttime.split(":");
            var time = Number(splitTime[0]) * 60 + Number(splitTime[1]);
            let dataAdd = {
              time: time
            };
            let dataFinal = { ...dataAdd, ...element.data() };

            this.subtitle.push(dataFinal);
          });
          this.currentEngSub = this.subtitle[0].sentenceEnglish;
          this.currentThSub = this.subtitle[0].sentenceThai;
          setTimeout(() => {
            this.showSubtitle();
          }, 500);
        });
    },
    showSubtitle() {
      let _this = this;
      var player = document.getElementById("my-video");
      player.ontimeupdate = function() {
        let currentTime = player.currentTime;

        for (let i = 0; i < _this.subtitle.length; i++) {
          if (currentTime >= _this.subtitle[i].time) {
            _this.currentEngSub = _this.subtitle[i].sentenceEnglish;
            _this.currentThSub = _this.subtitle[i].sentenceThai;
          }
        }
      };
      player.onended = function() {
        _this.currentEngSub = _this.subtitle[0].sentenceEnglish;
        _this.currentThSub = _this.subtitle[0].sentenceThai;
      };
    },
    exist() {
      this.showLoading();
      this.hideLoading();
      this.$router.push("/studyplan");
    },
    getOrder() {
      let levelUnit =
        "L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit;
      db.collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .doc(this.$route.params.practicekey)
        .get()
        .then(order => {
          this.order = order.data().order;
          this.practiceName = order.data().name;

          if (this.$store.state.system.currentWorld == 2) {
            var world = "Grammar";
          } else if (this.$store.state.system.currentWorld == 5) {
            var world = "Listening & Speaking";
          }
          this.savePracticeLog(
            this.$route.params.practicekey,
            100,
            "pass",
            0,
            world,
            order.data().name,
            order.data().order,
            "VDO Teaching"
          );
        });
    }
  },
  computed: {
    innerWidth: function() {
      return this.$store.state.system.innerWidth;
    }
  },
  mounted() {
    this.getSubtitle();
    this.getOrder();
  }
};
</script>

<style>
</style>
