<template>
  <div padding>
    <!-- content -->
    <!-- content comlumn -->
    <div
      class="q-mt-xl"
      style="width:100%"
    >
      <div
        class="bg-amber-1 q-pa-md text-white"
        style="min-height:fit-content;border-radius:10px"
      >
        <div
          align="center"
          class="q-pa-md"
          v-show="!showNextButton"
        >
          <q-btn
            label="ฟังเสียงโจทย์"
            color="light-blue-9"
            style="width:250px"
            push
            class="text-h6 text-weight-regular"
            :glossy="$q.theme === 'mat'"
            @click="playSound(dictationData[currentQuestion].soundPath,1)"
            icon="fas fa-volume-up"
          ></q-btn>
        </div>

        <!-- ส่วนโจทย์ -->
        <div
          class="bg-light-blue-9 q-pa-md"
          :class="{'bg-light-blue-9':!showNextButton,'bg-teal-14 correct-effect':showNextButton}"
          align="center"
          style="border-radius:10px"
        >
          <div
            class="bg-white q-pa-md"
            style="height:70px;display:flex;position:relative;align-items:center;border-radius:10px"
          >
            <div
              :class="{'font-28':innerWidth2 > 1439,'font-24' : innerWidth2<=1439,'font-20' : innerWidth2 < 600}"
              class="text-black q-title text-light-blue-9"
              style="width:100%"
            >
              {{showAnswer}}
              <span
                v-show="showCursor"
                class="flash-cursor"
              >|</span>
            </div>
          </div>
        </div>
        <!-- ส่วนตัวอักษร -->
        <div
          class="row justify-center q-mt-lg"
          v-if="dictationData.length"
        >
          <div
            v-for="(word,index) in dictationData[currentQuestion].letter"
            :key="index"
            class="q-pa-sm"
            v-show="displayLetter"
          >
            <q-btn
              dense
              push
              align="center"
              @click="checkAnswer(dictationData[currentQuestion].letter[index])"
              :class="{'error-color' : index == wrongButton,'bg-light-blue-8' : index != wrongButton,'btn-letter-l font-24 text-weight-bold' : innerWidth2 > 599,'btn-letter-s':innerWidth2 <= 599}"
              :disabled="!allowClick"
              no-caps
            >
              <span>{{ dictationData[currentQuestion].letter[index] }}</span>
            </q-btn>
          </div>
        </div>
        <div v-if="showDescription">
          <div
            v-if="dictationData.length"
            class="text-light-blue-9 bg-white q-pa-lg"
            :class="{'font-28':innerWidth2 > 1439,'font-24' : innerWidth2<=1439,'font-20' : innerWidth2 < 600}"
            v-html="dictationData[currentQuestion].sentenceThai"
            align="center"
          ></div>
        </div>
      </div>

      <div
        v-show="showNextButton"
        align="center"
        class="q-pa-lg"
      >
        <q-btn
          @click="nextQuestion()"
          label="ถัดไป"
          style="width:250px"
          color="light-blue-9"
          icon-right="fas fa-arrow-right"
          class="text-h6"
          :glossy="$q.theme === 'mat'"
          push
        ></q-btn>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
import appVocabHelp from "../components/helpVocab.vue";
import { mapActions } from "vuex";
export default {
  // name: 'PageName',
  components: {
    appVocabHelp
  },
  data() {
    return {
      showHelp: false,
      showNextButton: false,
      showCursor: true,
      showAnswer: "",
      score: 100,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight,
      dictationData: [],
      currentQuestion: 0,
      dictationSettings: [],
      wrongButton: 999,
      counter: 0,
      highlightWord: [],
      allowClick: true,
      showLetter: 5,
      displayLetter: true,
      practiceName: "",
      showDescription: false,
      alphabets: this.shuffle([
        "a",
        "b",
        "c",
        "d",
        "e",
        "f",
        "g",
        "h",
        "i",
        "j",
        "k",
        "l",
        "m",
        "n",
        "o",
        "p",
        "q",
        "r",
        "s",
        "t",
        "u",
        "v",
        "w",
        "x",
        "y",
        "z"
      ]),
      order: undefined,
      practicekey: this.$route.params.practicekey
    };
  },
  methods: {
    ...mapActions([
      "setEnglishInstruction",
      "setThaiInstruction",
      "setCurrentQuestion",
      "setTotalQuestion",
      "setShowLayouts",
      "setCharacterAction",
      "setStar",
      "setStar3",
      "setScore",
      "setPassScore"
    ]),
    loadDictationData() {
      this.showLoading();
      db.collection("dictation")
        .doc(this.$route.params.practicekey)
        .collection("schooloption")
        .doc(this.$store.state.system.schoolType.name)
        .get()
        .then(setting => {
          if (setting.exists) {
            this.loadInstruction();
            this.dictationSettings = setting.data();
            this.setPassScore(this.dictationSettings.passScore);
            this.setStar3(this.dictationSettings.star);
            db.collection("dictation")
              .doc(this.$route.params.practicekey)
              .collection("server")
              .where(this.$store.state.system.schoolType.name, "==", true)
              .get()
              .then(dictation => {
                this.setTotalQuestion(dictation.size);

                this.saveMonitor(
                  this.$route.params.practicekey,
                  dictation.size * 2
                );

                dictation.forEach(element => {
                  var getRandomStr = [];
                  let copyArr = this.alphabets.slice();

                  for (let i = 0; i < this.showLetter; i++) {
                    var sentenceEng = element
                      .data()
                      .sentenceEng.replace("<strong>", "")
                      .replace("</strong>", "");
                    if (i == 0) {
                      //   เอาตัวถูกเข้าก่อน
                      getRandomStr.push(sentenceEng[0].trim());
                      let indexOf = copyArr.indexOf(
                        sentenceEng[0].trim().toLowerCase()
                      );
                      copyArr.splice(indexOf, 1);
                    } else {
                      getRandomStr.push(copyArr[i]);
                    }
                  }

                  var re = new RegExp("<strong>", "g");
                  var re1 = new RegExp("</strong>", "g");

                  let splitWord = {
                    sentenceEngTrim: element
                      .data()
                      .sentenceEng.replace(re, "")
                      .replace(re1, "")
                      .trim(),
                    letter: this.shuffle(getRandomStr),
                    split: element
                      .data()
                      .sentenceEng.replace(re, "")
                      .replace(re1, "")
                      .split(""),
                    soundPath:
                      "https://api.winner-english.com/data/sound_dictation/" +
                      element.id +
                      ".mp3"
                  };
                  let dataFinal = { ...splitWord, ...element.data() };
                  this.dictationData.push(dataFinal);
                  this.dictationData.sort((a, b) => {
                    return a.orderid - b.orderid;
                  });
                  // this.shuffle(this.dictationData);
                });

                this.hideLoading();
              });
          }
        });
    },
    loadInstruction() {
      db.collection("dictation")
        .doc(this.$route.params.practicekey)
        .get()
        .then(doc => {
          this.setThaiInstruction(doc.data().instructionthai);
          this.setEnglishInstruction(doc.data().instructioneng);
        });
    },
    checkAnswer(answer) {
      if (this.allowClick) {
        this.allowClick = false;
        var replaced = this.dictationData[this.currentQuestion].split;
        var correctWord = replaced[this.counter];
        var nextCorrectLetter = this.dictationData[this.currentQuestion].split[
          this.counter + 1
        ];

        if (answer == correctWord) {
          // กรณีตอบถูก
          this.displayAnswer(replaced);
          this.playSound("../statics/correct.mp3", 0.1);
          // this.correctSoundEffect.play();
          let findCorrectIndex = this.dictationData[
            this.currentQuestion
          ].letter.indexOf(answer);

          if (
            this.counter + 1 <
            this.dictationData[this.currentQuestion].sentenceEngTrim.length
          ) {
            this.getRandomString(nextCorrectLetter);
          }
          setTimeout(() => {
            this.allowClick = true;
          }, 100);
        } else {
          // กรณีตอบผิด
          this.playSound("../statics/wrong.mp3", 0.1);
          this.setCharacterAction("incorrect");
          var findAnswerIndex = this.dictationData[
            this.currentQuestion
          ].letter.indexOf(answer);

          this.wrongButton = findAnswerIndex;
          this.allowClick = false;
          this.displayAnswer(replaced);
          this.score -=
            100 /
            this.dictationData.length /
            this.dictationData[this.currentQuestion].split.length;

          setTimeout(() => {
            this.getRandomString(nextCorrectLetter);
            // รีเซ็ท เพื่อให้คลาสหาย
            this.wrongButton = 999;
            this.allowClick = true;
            this.counterClick++;
            this.setCharacterAction("default");
          }, 1000);
        }
        this.counter++;
      }
    },
    displayAnswer(replacedword) {
      // ตัวสุดท้ายไม่เติมช่องว่างด้านหลัง
      this.showAnswer += replacedword[this.counter];
    },
    nextQuestion() {
      this.setCharacterAction("default");
      this.displayLetter = true;
      this.showNextButton = false;
      this.showCursor = true;
      this.wrongButton = 999;
      this.allowClick = true;

      this.showDescription = false;
      if (this.currentQuestion + 1 < this.dictationData.length) {
        this.currentQuestion += 1;
        this.setCurrentQuestion(this.currentQuestion + 1);
        this.showAnswer = "";
        this.counter = 0;
      } else {
        // ทำครบทุกข้อ

        this.setScore(this.score);
        this.setStar3(this.dictationSettings.star);
        this.savePracticeLog(
          this.practicekey,
          this.score,
          "pass",
          this.$store.state.system.star,
          "Writing",
          this.practiceName,
          this.order,
          "Dictation"
        );

        this.$router.push("/finishpractice");
      }
    },
    getRandomString(correctletter) {
      var randomString = [];
      var copyArr = this.alphabets.slice();
      for (let i = 0; i < this.showLetter; i++) {
        if (i == 0) {
          //   เอาตัวถูกเข้าก่อน
          randomString.push(correctletter);

          let indexOf = copyArr.indexOf(correctletter.trim().toLowerCase());
          copyArr.splice(indexOf, 1);
        } else {
          // randomString.push(this.alphabets[i]);
          randomString.push(copyArr[i]);
        }
      }

      this.shuffle(randomString);

      this.dictationData[this.currentQuestion].letter = randomString;
    },
    getOrder() {
      let levelUnit =
        "L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit;
      db.collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .doc(this.$route.params.practicekey)
        .get()
        .then(order => {
          this.order = order.data().order;
          this.practiceName = order.data().name;
        });
    }
  },
  mounted() {
    this.setCurrentQuestion(1);
    this.loadDictationData();
    this.setScore(100);
    this.setCharacterAction("default");
    this.setStar(3);
    this.getOrder();

    let _this = this;
    // window.addEventListener("keyup", function(event) {
    //   let key = event.keyCode;
    //   var shuffleSplit = _this.dictationData[_this.currentQuestion].letter;
    //   if (!event.shiftKey) {
    //     if (key == 65) {
    //       if (shuffleSplit.includes("a")) {
    //         _this.checkAnswer("a");
    //       }
    //     } else if (key == 66) {
    //       if (shuffleSplit.includes("b")) {
    //         _this.checkAnswer("b");
    //       }
    //     } else if (key == 67) {
    //       if (shuffleSplit.includes("c")) {
    //         _this.checkAnswer("c");
    //       }
    //     } else if (key == 68) {
    //       if (shuffleSplit.includes("d")) {
    //         _this.checkAnswer("d");
    //       }
    //     } else if (key == 69) {
    //       if (shuffleSplit.includes("e")) {
    //         _this.checkAnswer("e");
    //       }
    //     } else if (key == 70) {
    //       if (shuffleSplit.includes("f")) {
    //         _this.checkAnswer("f");
    //       }
    //     } else if (key == 71) {
    //       if (shuffleSplit.includes("g")) {
    //         _this.checkAnswer("g");
    //       }
    //     } else if (key == 72) {
    //       if (shuffleSplit.includes("h")) {
    //         _this.checkAnswer("h");
    //       }
    //     } else if (key == 73) {
    //       if (shuffleSplit.includes("i")) {
    //         _this.checkAnswer("i");
    //       }
    //     } else if (key == 74) {
    //       if (shuffleSplit.includes("j")) {
    //         _this.checkAnswer("j");
    //       }
    //     } else if (key == 75) {
    //       if (shuffleSplit.includes("k")) {
    //         _this.checkAnswer("k");
    //       }
    //     } else if (key == 76) {
    //       if (shuffleSplit.includes("l")) {
    //         _this.checkAnswer("l");
    //       }
    //     } else if (key == 77) {
    //       if (shuffleSplit.includes("m")) {
    //         _this.checkAnswer("m");
    //       }
    //     } else if (key == 78) {
    //       if (shuffleSplit.includes("n")) {
    //         _this.checkAnswer("n");
    //       }
    //     } else if (key == 79) {
    //       if (shuffleSplit.includes("o")) {
    //         _this.checkAnswer("o");
    //       }
    //     } else if (key == 80) {
    //       if (shuffleSplit.includes("p")) {
    //         _this.checkAnswer("p");
    //       }
    //     } else if (key == 81) {
    //       if (shuffleSplit.includes("q")) {
    //         _this.checkAnswer("q");
    //       }
    //     } else if (key == 82) {
    //       if (shuffleSplit.includes("r")) {
    //         _this.checkAnswer("r");
    //       }
    //     } else if (key == 83) {
    //       if (shuffleSplit.includes("s")) {
    //         _this.checkAnswer("s");
    //       }
    //     } else if (key == 84) {
    //       if (shuffleSplit.includes("t")) {
    //         _this.checkAnswer("t");
    //       }
    //     } else if (key == 85) {
    //       if (shuffleSplit.includes("u")) {
    //         _this.checkAnswer("u");
    //       }
    //     } else if (key == 86) {
    //       if (shuffleSplit.includes("v")) {
    //         _this.checkAnswer("v");
    //       }
    //     } else if (key == 87) {
    //       if (shuffleSplit.includes("w")) {
    //         _this.checkAnswer("w");
    //       }
    //     } else if (key == 88) {
    //       if (shuffleSplit.includes("x")) {
    //         _this.checkAnswer("x");
    //       }
    //     } else if (key == 89) {
    //       if (shuffleSplit.includes("y")) {
    //         _this.checkAnswer("y");
    //       }
    //     } else if (key == 90) {
    //       if (shuffleSplit.includes("z")) {
    //         _this.checkAnswer("z");
    //       }
    //     } else if (key == 13) {
    //       if (_this.showNextButton) {
    //         _this.nextQuestion();
    //       }
    //     } else if (key == 32) {
    //       if (shuffleSplit.includes(" ")) {
    //         _this.checkAnswer(" ");
    //       }
    //     } else if (key == 110 || key == 190) {
    //       if (shuffleSplit.includes(".")) {
    //         _this.checkAnswer(".");
    //       }
    //     } else if (key == 188) {
    //       if (shuffleSplit.includes(",")) {
    //         _this.checkAnswer(",");
    //       }
    //     } else if (key == 222) {
    //       if (shuffleSplit.includes("'")) {
    //         _this.checkAnswer("'");
    //       }
    //     }
    //   }
    //   // CAPITAL LETTER
    //   if (event.shiftKey && key == 65) {
    //     if (shuffleSplit.includes("A")) {
    //       _this.checkAnswer("A");
    //     }
    //   }
    //   if (event.shiftKey && key == 66) {
    //     if (shuffleSplit.includes("B")) {
    //       _this.checkAnswer("B");
    //     }
    //   }
    //   if (event.shiftKey && key == 67) {
    //     if (shuffleSplit.includes("C")) {
    //       _this.checkAnswer("C");
    //     }
    //   }
    //   if (event.shiftKey && key == 68) {
    //     if (shuffleSplit.includes("D")) {
    //       _this.checkAnswer("D");
    //     }
    //   }
    //   if (event.shiftKey && key == 69) {
    //     if (shuffleSplit.includes("E")) {
    //       _this.checkAnswer("E");
    //     }
    //   }
    //   if (event.shiftKey && key == 70) {
    //     if (shuffleSplit.includes("F")) {
    //       _this.checkAnswer("F");
    //     }
    //   }
    //   if (event.shiftKey && key == 71) {
    //     if (shuffleSplit.includes("G")) {
    //       _this.checkAnswer("G");
    //     }
    //   }
    //   if (event.shiftKey && key == 72) {
    //     if (shuffleSplit.includes("H")) {
    //       _this.checkAnswer("H");
    //     }
    //   }
    //   if (event.shiftKey && key == 73) {
    //     if (shuffleSplit.includes("I")) {
    //       _this.checkAnswer("I");
    //     }
    //   }
    //   if (event.shiftKey && key == 74) {
    //     if (shuffleSplit.includes("J")) {
    //       _this.checkAnswer("J");
    //     }
    //   }
    //   if (event.shiftKey && key == 75) {
    //     if (shuffleSplit.includes("K")) {
    //       _this.checkAnswer("K");
    //     }
    //   }
    //   if (event.shiftKey && key == 76) {
    //     if (shuffleSplit.includes("L")) {
    //       _this.checkAnswer("L");
    //     }
    //   }
    //   if (event.shiftKey && key == 77) {
    //     if (shuffleSplit.includes("M")) {
    //       _this.checkAnswer("M");
    //     }
    //   }
    //   if (event.shiftKey && key == 78) {
    //     if (shuffleSplit.includes("N")) {
    //       _this.checkAnswer("N");
    //     }
    //   }
    //   if (event.shiftKey && key == 79) {
    //     if (shuffleSplit.includes("O")) {
    //       _this.checkAnswer("O");
    //     }
    //   }
    //   if (event.shiftKey && key == 80) {
    //     if (shuffleSplit.includes("P")) {
    //       _this.checkAnswer("P");
    //     }
    //   }
    //   if (event.shiftKey && key == 81) {
    //     if (shuffleSplit.includes("Q")) {
    //       _this.checkAnswer("Q");
    //     }
    //   }
    //   if (event.shiftKey && key == 82) {
    //     if (shuffleSplit.includes("R")) {
    //       _this.checkAnswer("R");
    //     }
    //   }
    //   if (event.shiftKey && key == 83) {
    //     if (shuffleSplit.includes("S")) {
    //       _this.checkAnswer("S");
    //     }
    //   }
    //   if (event.shiftKey && key == 84) {
    //     if (shuffleSplit.includes("T")) {
    //       _this.checkAnswer("T");
    //     }
    //   }
    //   if (event.shiftKey && key == 85) {
    //     if (shuffleSplit.includes("U")) {
    //       _this.checkAnswer("U");
    //     }
    //   }
    //   if (event.shiftKey && key == 86) {
    //     if (shuffleSplit.includes("V")) {
    //       _this.checkAnswer("V");
    //     }
    //   }
    //   if (event.shiftKey && key == 87) {
    //     if (shuffleSplit.includes("W")) {
    //       _this.checkAnswer("W");
    //     }
    //   }
    //   if (event.shiftKey && key == 88) {
    //     if (shuffleSplit.includes("X")) {
    //       _this.checkAnswer("X");
    //     }
    //   }
    //   if (event.shiftKey && key == 89) {
    //     if (shuffleSplit.includes("Y")) {
    //       _this.checkAnswer("Y");
    //     }
    //   }
    //   if (event.shiftKey && key == 90) {
    //     if (shuffleSplit.includes("Z")) {
    //       _this.checkAnswer("Z");
    //     }
    //   }
    //   // QUESTION MARK ??
    //   if (event.shiftKey && key == 191) {
    //     if (shuffleSplit.includes("?")) {
    //       _this.checkAnswer("?");
    //     }
    //   }
    // });
  },
  computed: {
    innerWidth2: function() {
      return this.$store.state.system.innerWidth;
    }
  },
  watch: {
    showAnswer() {
      if (
        this.showAnswer ==
        this.dictationData[this.currentQuestion].sentenceEngTrim
      ) {
        // ทำเสร็จตอบถูก
        this.setCharacterAction("correct");
        // this.playSound("../statics/correct.mp3");
        // this.correctSoundEffect.play();
        this.showNextButton = true;
        this.showCursor = false;
        this.displayLetter = false;
        this.showDescription = true;
      }
    },
    currentQuestion() {
      let sentence = this.dictationData[
        this.currentQuestion
      ].sentenceEngTrim.split(" ");
      let correctWord = sentence[0];
    },
    score() {
      let passScore = this.$store.state.system.passScore;
      let star3 = this.$store.state.system.star3;
      let star2 = (Number(passScore) + Number(star3)) / 2;
      if (Number(this.score) < Number(passScore)) {
        // กรณีทำไม่ผ่าน

        this.savePracticeLog(
          this.practicekey,
          this.score,
          "failed",
          0,
          "Writing",
          this.practiceName,
          this.order,
          "Dictation"
        );

        this.$router.push(
          "/retrypage/" + this.$route.name + "/" + this.practicekey
        );
      } else if (this.score >= star3) {
        // กรณีสามดาว
        this.setStar(3);
      } else if (this.score >= star2) {
        // กรณีสองดาว
        this.setStar(2);
      } else {
        this.setStar(1);
      }
    }
  }
};
</script>

<style>
.brx {
  border: 2px solid red;
}
.bg-beige {
  background-color: rgba(255, 255, 255, 0.6);
}
.btn-letter-l {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: 3px solid #e0e0e0;
}
.btn-letter-s {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e0e0e0;
}
.error-color {
  background-color: #db2828;
  animation: shake 1s 1;
}
.disabled-btn {
  background-color: gray !important;
}
@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
.correct-effect {
  animation: flash 1s 1;
}

.flash-cursor {
  animation: flash 2s infinite;
  position: relative;
  left: -7px;
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
@keyframes rotate10deg {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.animate-btn {
  animation: rotate10deg 1s infinite;
}
</style>

