<template>
  <div class="q-pa-sm" style="width:100%">
    <!-- content -->
    <div class="row bg-amber-1 q-mt-md q-pa-lg" style="border-radius:10px;">
      <!-- โจทย์Text -->
      <!-- <app-error-detection-question :question="practiceData[currentQuestion].question"></app-error-detection-question> -->
      <div
        class="col-12 q-py-lg bg-white text-weight-bold text-light-blue-10"
        align="center"
        style="border:5px solid #01579B;border-radius:10px"
        :class="{'font-34' : innerWidth > 1024,'font-28' : innerWidth <= 1024,'font-20':innerWidth < 600}"
      >
        <span
          v-for="(items,index) in practiceData[currentQuestion].questionSplit"
          :key="index"
          class="q-pa-sm"
        >
          <q-btn
            color="primary"
            v-if="practiceData[currentQuestion].underline.includes(items)"
          >{{items}}</q-btn>

          <span v-else>{{items}}</span>
        </span>
      </div>

      <!-- คำอธิบาย -->
      <div
        class="col-12 q-mt-lg bg-white q-pa-sm"
        :class="{'font-22' : innerWidth > 599,'font-14' : innerWidth < 600}"
        style="border-radius:10px"
        v-show="showNextButton"
      >
        <div align="center" class="text-weight-bold">คำอธิบาย</div>
        <span>Description</span>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
import appErrorDetectionQuestion from "../components/ErrorDetectionQuestion.vue";

export default {
  // name: 'PageName',
  components: {
    appErrorDetectionQuestion
  },
  data() {
    return {
      score: 100,
      showHelpBtn: true,
      showNextButton: false,
      settings: [],
      practiceData: [],
      currentQuestion: 0
    };
  },
  methods: {
    ...mapActions([
      "setEnglishInstruction",
      "setThaiInstruction",
      "setCurrentQuestion",
      "setTotalQuestion",
      "setShowLayouts",
      "setCharacterAction",
      "setStar", //ดาว
      "setScore", //คะแนน
      "setStar3", //เกณฑ์สามดาว
      "setPassScore" //เซ็ทเกณฑ์การผ่าน
    ]),
    loadInstruction() {
      db.collection("errordetection")
        .doc(this.$route.params.practicekey)
        .get()
        .then(doc => {
          this.setThaiInstruction(doc.data().instructionThai);
          this.setEnglishInstruction(doc.data().instructionEng);
        });
    },
    loadSchoolSettings() {
      db.collection("errordetection")
        .doc(this.$route.params.practicekey)
        .collection("schooloption")
        .doc(this.$store.state.system.schoolType.name)
        .get()
        .then(doc => {
          this.settings = doc.data();
          this.setStar3(doc.data().star);
          this.setPassScore(doc.data().passScore);
        });
    },
    loadPractice() {
      var errorDetectionRef = db
        .collection("errordetection")
        .doc(this.$route.params.practicekey)
        .collection("server");

      errorDetectionRef
        .orderBy("orderid")
        .get()
        .then(doc => {
          doc.forEach(element => {
            let extraVocab = [];
            errorDetectionRef
              .doc(element.id)
              .collection("extraVocab")
              .get()
              .then(extra => {
                extra.forEach(element => {
                  extraVocab.push(element.data());
                });
                let dataExtraVocab = {
                  extraVocab: extraVocab,
                  questionSplit: element.data().question.split(" ")
                };
                let dataFinal = { ...element.data(), ...dataExtraVocab };
                this.practiceData.push(dataFinal);
              });
          });
        });
    },
    test() {
      alert(1234);
    }
  },
  mounted() {
    this.loadInstruction();
    this.loadSchoolSettings();
    this.loadPractice();
  },
  computed: {
    innerWidth: function() {
      return this.$store.state.system.innerWidth;
    },
    showQuestion: function() {
      if (this.practiceData.length) {
        var question = this.practiceData[this.currentQuestion].question;
        if (this.practiceData[this.currentQuestion].extraVocab.length) {
          // กรณีมีคำศัพท์เสริม
          for (
            let i = 0;
            i < this.practiceData[this.currentQuestion].extraVocab.length;
            i++
          ) {
            let re = new RegExp(
              "\\b" +
                this.practiceData[this.currentQuestion].extraVocab[
                  i
                ].vocabulary.trim() +
                "\\b",
              "g"
            );
            question = question.replace(
              re,
              `<span class='text-teal-5 tooltip' data-tool=` +
                this.practiceData[this.currentQuestion].extraVocab[i].meaning +
                `> ` +
                this.practiceData[this.currentQuestion].extraVocab[i]
                  .vocabulary +
                `</span>`
            );
          }
          // Replace ขีดเส้นใต้ด้วยปุ่ม
          let find = new RegExp(
            `<span style="text-decoration: underline;">`,
            "g"
          );
          let countUnderline = question.match(find).length;

          for (let i = 0; i < countUnderline; i++) {
            question = question.replace(
              `<span style="text-decoration: underline;">`,
              `<button @click="test()" style="background-color:#258CE4;color:white;outline:none;border:none;border-radius:10px;box-shadow:2px 2px #657A8D;padding:5px;min-width:50px">`
            );
            question = question.replace(`</span>`, "</button>");
          }

          return question;
        } else {
          return this.practiceData[this.currentQuestion].question;
        }
      }
    }
  }
};
</script>

<style>
</style>
