<template>
  <div class="q-pa-sm" style="width:100%">
    <!-- content -->
    <div v-show="showContent">
      <div class="row bg-amber-1 q-mt-md q-pa-lg" style="border-radius:10px;">
        <!-- โจทย์ -->
        <div
          class="col-12 q-py-lg bg-white q-pa-md text-weight-bold text-light-blue-10 default-border"
          align="center"
          :class="{'font-24' : innerWidth2 > 1024,'font-28' : innerWidth2 <= 1024,'font-20':innerWidth2 < 600}"
          v-if="fillinData.length > 0"
          v-html="showQuestion"
          style="overflow:hidden"
        ></div>
      </div>

      <!-- ปุ่มส่งคำตอบ -->
      <div
        v-show="!showNextButton"
        class="q-pa-lg"
        :class="{'align-right' : innerWidth2 > 768, 'align-center' : innerWidth2 <= 768}"
        align="center"
      >
        <q-btn
          @click="checkAnswer()"
          label="ส่งคำตอบ"
          style="width:250px"
          color="light-blue-9"
          icon="fas fa-paper-plane"
          class="text-h6"
          :glossy="$q.theme === 'mat'"
          push
        ></q-btn>
      </div>

      <!-- ปุ่มถัดไป -->
      <div
        v-show="showNextButton"
        :class="{'align-right' : innerWidth2 > 768, 'align-center' : innerWidth2 <= 768}"
        align="center"
        class="q-pt-lg"
      >
        <div
          :class="{'font-22' : innerWidth2 > 599,'font-14' : innerWidth2 < 600}"
          v-if="fillinData.length > 0 && fillinData[currentQuestion].meaning"
          class="bg-white q-pa-md"
          style="border-radius:10px;box-shadow:1px 1px 1px #f1f1f1"
        >
          <div align="center" class="text-weight-bold">คำอธิบาย</div>
          <div align="center">
            <span v-html="fillinData[currentQuestion].meaning"></span>
          </div>
        </div>

        <div class="q-pt-md">
          <q-btn
            @click="nextQuestion()"
            label="ถัดไป"
            style="width:250px"
            color="light-blue-9"
            icon-right="fas fa-arrow-right"
            class="text-h6"
            :glossy="$q.theme === 'mat'"
            push
          ></q-btn>
        </div>
      </div>

      <!-- ตัวช่วย -->
      <div align="center" class="q-pa-lg">
        <q-btn
          label="ช่วยเหลือ"
          color="light-blue-9"
          style="width:250px"
          push
          icon="far fa-question-circle"
          class="text-h6 text-weight-bold"
          :glossy="$q.theme === 'mat'"
          @click="helpMe()"
        ></q-btn>
      </div>
    </div>

    <app-help-multi
      v-if="showHelp"
      :slide="fillinData[currentQuestion].slide.split(',')"
      :helper="'Grammar VDO'"
      @help="showHelpPage"
    ></app-help-multi>
  </div>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
import appHelpMulti from "../components/helpMultipleChoices";
export default {
  // name: 'PageName',
  components: {
    appHelpMulti
  },

  data() {
    return {
      showContent: true,
      showNextButton: false,
      fillinData: [],
      fillinSettings: [],
      currentQuestion: 0,
      answer: "",
      score: 100,
      countIncorrentAmount: 0,
      order: 0,
      practiceName: "",
      showHelp: false,
      allowAnswer: true
    };
  },
  methods: {
    ...mapActions([
      "setEnglishInstruction",
      "setThaiInstruction",
      "setCurrentQuestion",
      "setTotalQuestion",
      "setShowLayouts",
      "setCharacterAction",
      "setStar", //ดาว
      "setScore", //คะแนน
      "setStar3", //เกณฑ์สามดาว
      "setPassScore", //เซ็ทเกณฑ์การผ่าน
      "setHomeButton",
      "setLogoutButton"
    ]),
    showHelpPage(data) {
      this.setShowLayouts(true);
      this.showContent = true;
      this.setCharacterAction("default");
      this.showHelp = false;
      // this.allowClick = true;
      this.setHomeButton(false);
      this.setLogoutButton(false);
    },
    helpMe() {
      this.setShowLayouts(false);
      this.showHelp = true;
      this.showContent = false;
      this.setHomeButton(true);
      this.setLogoutButton(true);
    },
    getFillinSettings() {
      db.collection("fillintheblank")
        .doc(this.$route.params.practicekey)
        .collection("schooloption")
        .doc(this.$store.state.system.schoolType.name)
        .get()
        .then(doc => {
          this.fillinSettings = doc.data();
        });
    },
    getFillinData() {
      this.showLoading();
      db.collection("fillintheblank")
        .doc(this.$route.params.practicekey)
        .collection("server")
        .orderBy("orderid")
        .where(this.$store.state.system.schoolType.name, "==", true)
        .get()
        .then(doc => {
          this.setTotalQuestion(doc.size);
          this.saveMonitor(this.$route.params.practicekey, doc.size * 2);

          doc.forEach(element => {
            // replace span with input
            var extraVocab = [];

            db.collection("fillintheblank")
              .doc(this.$route.params.practicekey)
              .collection("server")
              .doc(element.id)
              .collection("extraVocab")
              .get()
              .then(extra => {
                extra.forEach(element => {
                  extraVocab.push(element.data());
                });
                let countUnderline = element
                  .data()
                  .question.match(/<span [^>]+>([^<]+)<\/span>/g).length;
                var question = element.data().question;

                for (let i = 0; i < countUnderline; i++) {
                  let answerTemp = "answer" + (i + 1);
                  let answerLength;
                  // console.log(element.data()[answerTemp][i].length);
                  if (element.data()[answerTemp][i]) {
                    answerLength = element.data()[answerTemp][i].length;
                  } else {
                    answerLength = 5;
                  }
                  answerLength = answerLength * 25;
                  answerLength = answerLength + 30;
                  let inputLength = "width:" + answerLength + "px";
                  if (answerLength > 200) {
                    inputLength = "width:200px";
                  }

                  question = question.replace(
                    /<span [^>]+>([^<]+)<\/span>/,
                    "<input autocomplete='off' align='middle' style='" +
                      inputLength +
                      ";outline:none' id='answer" +
                      (i + 1) +
                      "' type='text' class='default-border  q-pa-sm'   >"
                  );
                }

                let dataAdded = {
                  key: element.id,
                  showQuestion: question,
                  countUnderline: element
                    .data()
                    .question.match(/<span [^>]+>([^<]+)<\/span>/g).length,
                  extraVocab: extraVocab
                };
                let dataFinal = { ...dataAdded, ...element.data() };
                this.fillinData.push(dataFinal);
              });

            this.hideLoading();
          });
        });
    },
    checkAnswer() {
      // จำนวนช่องคำตอบ
      if (this.allowAnswer == true) {
        this.allowAnswer = false;
        var incorrect = 0;
        for (
          let i = 0;
          i < this.fillinData[this.currentQuestion].countUnderline;
          i++
        ) {
          let answerNum = "answer" + (i + 1);
          let answer = document.getElementById("answer" + (i + 1)).value;
          answer = answer.trim();
          if (
            this.fillinData[this.currentQuestion][answerNum].includes(answer)
          ) {
            document.getElementById(answerNum).classList.remove("wrong-border");
            document
              .getElementById(answerNum)
              .classList.add("correct-border", "correct-effect");

            document
              .getElementById(answerNum)
              .setAttribute("contenteditable", false);

            // กรณีตอบถูก
          } else {
            // กรณีตอบผิด
            document.getElementById(answerNum).classList.add("wrong-border");
            incorrect++;
          }
        }

        if (incorrect == 0 || this.countIncorrentAmount > 0) {
          // กรณีถูกทั้งหมด
          if (incorrect == 0) {
            // this.playSound("../statics/correct.mp3");
            this.correctSoundEffect.volume = 0.1;
            this.correctSoundEffect.play();
            this.setCharacterAction("correct");
          } else {
            // this.playSound("../statics/wrong.mp3");
            this.wrongSoundEffect.volume = 0.1;
            this.wrongSoundEffect.play();
            this.setCharacterAction("incorrect");
            this.score -= 0.5 * (100 / this.fillinData.length);
          }
          this.showNextButton = true;
        } else {
          // กรณีมีข้อผิด ให้โชว์ตัวช่วย
          this.setCharacterAction("incorrect");
          // this.playSound("../statics/wrong.mp3");
          this.wrongSoundEffect.volume = 0.1;
          this.wrongSoundEffect.play();
          this.score -= 0.5 * (100 / this.fillinData.length);
          this.countIncorrentAmount++;
          setTimeout(() => {
            this.helpMe();
            this.allowAnswer = true;
          }, 1500);
        }
      }
    },
    // โหลด คำสั่งของแบบฝึกหัด
    getInstruction() {
      db.collection("fillintheblank")
        .doc(this.$route.params.practicekey)
        .get()
        .then(doc => {
          this.setEnglishInstruction(doc.data().instructioneng);
          this.setThaiInstruction(doc.data().instructionthai);
        });
    },
    nextQuestion() {
      this.showNextButton = false;
      this.countIncorrentAmount = 0;
      this.allowAnswer = true;
      this.setCharacterAction("default");
      if (this.currentQuestion + 1 < this.$store.state.system.totalQuestion) {
        // กรณียังมีข้อถัดไป
        this.currentQuestion += 1;
        this.setCurrentQuestion(this.currentQuestion + 1);
      } else {
        // กรณีทำเสร็จหมดทุกข้อ
        this.$q.loading.show({ delay: 400 });
        this.setScore(this.score);
        this.setStar3(this.fillinSettings.star);

        db.collection("school")
          .doc(this.$store.state.system.schoolCode)
          .collection("student")
          .doc(this.$store.state.system.studentData.key)
          .collection("practicelog")
          .where("practicekey", "==", this.$route.params.practicekey)
          .where("status", "==", "pass")
          .get()
          .then(check => {
            if (check.empty) {
              this.savePracticeLog(
                this.$route.params.practicekey,
                this.score,
                "pass",
                this.$store.state.system.star,
                "Grammar",
                this.practiceName,
                this.order,
                "Fill in the blank"
              );
              this.$q.loading.hide();
              this.$router.push("/finishpractice");
            }
          });
      }
    },
    getOrder() {
      let levelUnit =
        "L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit;
      db.collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .doc(this.$route.params.practicekey)
        .get()
        .then(order => {
          this.order = order.data().order;
          this.practiceName = order.data().name;
        });
    }
  },
  computed: {
    innerWidth2: function() {
      return this.$store.state.system.innerWidth;
    },
    showQuestion: function() {
      var question = this.fillinData[this.currentQuestion].showQuestion;
      var audioPath = "https://api.winner-english.com/data/sound_extravocab/";
      // กรณีโจทย์มีคำศัพท์เสริม
      if (this.fillinData[this.currentQuestion].extraVocab.length > 0) {
        for (
          let i = 0;
          i < this.fillinData[this.currentQuestion].extraVocab.length;
          i++
        ) {
          let checkExtraword = this.preventExtraword(
            this.fillinData[this.currentQuestion].extraVocab[i].vocab
          );

          if (checkExtraword == 1) {
            let re = new RegExp(
              "\\b" +
                this.fillinData[this.currentQuestion].extraVocab[
                  i
                ].vocab.trim() +
                "\\b"
            );

            // console.log(
            //   this.fillinData[this.currentQuestion].extraVocab[i].vocabulary
            // );
            // return;

            let vocabAudioPath = this.fillinData[
              this.currentQuestion
            ].extraVocab[i].vocab.toLowerCase();
            vocabAudioPath = vocabAudioPath.replace(/\'/, "xx");

            question = question.replace(
              re,
              `<span onclick="new Audio('` +
                audioPath +
                vocabAudioPath +
                `.mp3').play()" class='text-teal-5 tooltip' data-tool='` +
                this.fillinData[this.currentQuestion].extraVocab[i].meaning +
                `'> ` +
                this.fillinData[this.currentQuestion].extraVocab[i].vocab +
                `</span>`
            );
          }
        }
        return question;
      } else {
        return question;
      }
    }
  },
  mounted() {
    this.setShowLayouts(true);
    this.getOrder();
    this.getFillinSettings();
    this.getFillinData();
    this.setCurrentQuestion("1");
    this.getInstruction();
    this.setCharacterAction("default");
    this.setStar(3);

    let _this = this;
    window.addEventListener("keyup", function(event) {
      let key = event.keyCode;
      if (key == 13) {
        // เมื่อกดปุ่ม Enter
        if (_this.showNextButton) {
          this.nextQuestion();
        }
      }
    });
  },
  watch: {
    score() {
      let passScore = this.fillinSettings.passScore;
      let star3 = this.fillinSettings.star;
      let star2 = (Number(passScore) + Number(star3)) / 2;
      if (this.score < Number(passScore)) {
        // กรณีทำไม่ผ่าน

        var currentWorld = this.$store.state.system.currentWorld;
        if (currentWorld == 1) {
          // VOCABULARY
          var world = "Vocabulary";
        } else if (currentWorld == 2) {
          var world = "Grammar";
        } else if (currentWorld == 3) {
          var world = "Reading";
        } else if (currentWorld == 4) {
          var world = "Writing";
        } else if (currentWorld == 5) {
          var world = "Listening";
        }

        this.savePracticeLog(
          this.$route.params.practicekey,
          this.score,
          "failed",
          0,
          "Grammar",
          this.practiceName,
          this.order,
          "Fill in the blank"
        );

        this.$router.push(
          "/retrypage/" +
            this.$route.name +
            "/" +
            this.$route.params.practicekey
        );
      } else if (this.score >= star3) {
        // กรณีสามดาว
        this.setStar(3);
      } else if (this.score >= star2) {
        // กรณีสองดาว
        this.setStar(2);
      } else {
        this.setStar(1);
      }
    }
  }
};
</script>

<style>
.correct-answer-box {
  background-color: #00bfa5;
}
.default-border {
  border: 5px solid #01579b;
  border-radius: 10px;
}
.correct-border {
  border: 5px solid #00bfa5;
  border-radius: 10px;
}
.wrong-border {
  border: 5px solid #b71c1c;
  border-radius: 10px;
}
.correct-effect {
  animation: flash 1s 1;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.inputtextbox {
  /* min-width: 80px; */
  width: 100px;
  max-width: 200px;
  text-align: center;
  outline: none;
  color: #01579b;
  display: inline-block;
}
@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
</style>
