<template>
  <q-page class="row justify-center items-center">
    <div style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);z-index:1000;overflow:hidden">
      <div
        align="center"
        class="animated zoomIn"
        id="diamond-container"
        v-show="showDiamond"
      >
        <img
          src="../assets/diamon-02.png"
          width="100%"
          alt
        >
        <span
          class="text-blue-10"
          style="text-stroke:3px white;font-weight:bold"
          :class="{'font-60' : innerWidth > 600,'font-30' : innerWidth <= 600}"
        >+ {{ this.$store.state.system.star }}</span>
      </div>
    </div>
    <div style="position:relative;z-index:900">
      <div align="center">
        <span
          v-if="this.$store.state.system.star == 3"
          style="letter-spacing:2px"
          class="textStroke"
          :class="{'font-60' : innerWidth > 600,'font-30' : innerWidth <= 600}"
        >{{ showRandomWord }}</span>
        <span
          v-else-if="this.$store.state.system.star == 2"
          style="letter-spacing:2px"
          class="textStroke"
          :class="{'font-60' : innerWidth > 600,'font-30' : innerWidth <= 600}"
        >{{ showRandomWord }}</span>
        <span
          v-else
          :class="{'font-60' : innerWidth > 600,'font-30' : innerWidth <= 600}"
          class="textStroke q-pa-sm"
          style="letter-spacing:2px"
        >{{ showRandomWord }}</span>
      </div>
      <div class="row justify-center animated pulse">
        <div
          class="q-pa-md"
          v-for="i in 3"
          :key="i"
        >
          <img
            :class="{'star-xs' : innerWidth < 600}"
            v-if="i <= showStar3"
            src="../assets/fash-card-star.png"
            alt
            class="boomboom"
            :id="'star' + i"
          >
          <img
            :class="{'star-xs' : innerWidth < 600}"
            v-else
            src="../assets/fash-card-star-no.png"
            alt
            class="boomboom"
            :id="'star' + i"
          >
        </div>
      </div>

      <div
        align="center"
        class="text-weight-bold text-light-blue-9 font-30"
      >คุณได้คะแนนจากการทำแบบฝึกหัด</div>

      <div class="row justify-center text-weight-bold text-light-blue-9 font-60 animated pulse infinite">{{this.$store.state.system.score.toFixed(0)}} %</div>

      <div
        align="center"
        class="q-mt-md"
      >
        <q-btn
          color="primary"
          style="width:250px"
          push
          :glossy="$q.theme === 'mat'"
          label="กลับสู่หน้าหลัก"
          icon="fas fa-home"
          class="text-h6"
          @click="toStudyplan()"
        ></q-btn>
      </div>
    </div>
    <div
      style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:100%;z-index:800"
      align="center"
    >
      <img
        style="width:100%;max-width:800px"
        src="../assets/bringbring.png"
        alt
      >
    </div>
  </q-page>
</template>

<script>
import { mapActions } from "vuex";
export default {
  // name: 'ComponentName',
  // PARAMS : score,star
  data() {
    return {
      showRandomWord: "",
      showDiamond: false
    };
  },
  methods: {
    toStudyplan() {
      this.$router.push("/studyplan");
    },
    randomWords() {
      this.showRandomWord = "";
      if (this.$store.state.system.star == 3) {
        var word = [
          "สุดจัดปลัดบอก",
          "คุณพระช่วยกล้วยทอด",
          "เฟี้ยวฟ้าวแกงขี้เหล็ก",
          "โจทย์แบบเด็กๆ มันดูเฟคไม่รู้เหรอครับ",
          "ถ้าโจทย์จะมาหลอก เราขอบอกว่าสามดาว",
          "สอยดาวไม่ชอบ ชอบสามดาว",
          "เศร้าเป็นช่วงๆ แต่สามดาวเป็นประจำ",
          "ไม่เด็ด แต่สามดาว",
          
          "เราไม่เก่ง แต่แค่สามดาว",
          "เงียบให้ถูกจังหวะ คนชนะไม่พูดมาก",
          "ไม่พูดเยอะ เจ็บคอ",
          "เย็นนี้กินไก่",
          "ปลัดลาออก ยังกลับมาบอกว่าสุดจัด",
          "เฟี้ยวฟ้าวราวตากผ้า",
          "เฟี้ยวฟ้าวมะพร้าวแก้ว"
        ];
      } else if (this.$store.state.system.star == 2) {
        var word = [
          "ชอบสองดาวไม่นิยมสามดาว",
          "เป็นได้ทุกอย่างยกเว้นสามดาว",
          "คุณจะให้เราเอาอะไรไปสู้กับคนสามดาว",
          "เรามันเสือซ่อนเล็บ กัดเจ็บนะบอกให้",
          "สามดาวทำเป็น แต่ไม่ใช่ประเด็นที่ต้องทำ",
          "สุดใจแล้วจ้า สองดาวเองจ้า",
          "อุส่าห์นั่งทำ สองดาวซะงั้น",
          "สามดาวมีเกลื่อน สองดาวก็ได้",
          "ไม่สามดาวไม่เป็นไร ถูกใจอาจารย์ก็พอ",
          "สองดาวก็คือสองดาว จะสามดาวได้ยังไง",
          "สองดาวก็ได้ สบายใจก็พอ",
          "เป็นความรู้ที่ลึกซึ้ง แต่ก็ไม่ถึงสามดาว",
          "สามดาวหาไม่ยาก แต่เราหาไม่ได้",
          "แค่สามดาว ยังรักษาไว้ไม่ได้...",
          "ทำแล้วฟุ้งซ่าน หันไปเจอโต๊ะข้างๆสามดาว",
          "ขอโทษนะที่ไม่ได้สามดาว พอดีเราไม่ค่อยเคร่ง",
          "ทำตัวเฟี้ยว เลี้ยวมาสองดาว"
        ];
      } else {
        var word = [
          "ถ้าพลาดคือบทเรียน โป๊ยเซียนคือยาดม",
          "ล้มแล้วลุก ผัดเผ็ดปลาดุกอร่อยจัง",
          "ร้องไห้ฮือๆ ข้าวเหนียวติดมือทำไง",
          "อยู่หนึ่งดาวมาตลอด ปลัดบอกไม่ตาย",
          "ช่วงนี้ดาวเหลือ... เหลือไม่กี่ดาว",
          "ที่ทำได้ขนาดนี้ ก็เก่งแล้ว",
          "ทำตัวเฟี้ยว เลี้ยวมาหนึ่งดาว",
          "สามดาวไม่สนุก มีความสุขกับดาวเดียว",
          "สามดาวมีเกลื่อน หนึ่งดาวก็ได้",
          "ไม่สามดาวไม่เป็นไร ถูกใจอาจารย์ก็พอ",
          "หนึ่งดาวก็ได้ สบายใจก็พอ",
          "ถ้าเราเหนื่อยล้า ชานมไข่มุกเยียวยาทุกสิ่ง",
          "สิ่งที่หายากที่สุดคือ... สามดาว",
          "ก็ไม่เห็นมีใครเจ็บ เพราะหนึ่งดาว",
          "สามดาวหาไม่ยาก แต่เราหาไม่ได้",
          "แค่สามดาว ยังรักษาไว้ไม่ได้...",
          "ทำแล้วฟุ้งซ่าน หันไปเจอโต๊ะข้างๆสามดาว",
          "ชินจังไม่ใช่การ์ตูน แต่คือความรู้สึกที่ได้หนึ่งดาว",
          "ขอโทษนะที่ไม่ได้สามดาว พอดีเราไม่ค่อยเคร่ง",
          "สาหัสกี่รอบ ก็ชอบอยู่ดี"
        ];
      }
      let sendText = word[Math.floor(Math.random() * word.length)];
      this.showRandomWord = sendText;
      // return word[Math.floor(Math.random() * word.length)];
    }
  },
  computed: {
    showStar3: function() {
      return this.$store.state.system.star;
    },
    innerWidth: function() {
      return this.$store.state.system.innerWidth;
    }
  },
  mounted() {
    this.randomWords(this.$store.state.system.star);
    setTimeout(() => {
      this.showDiamond = true;
      setTimeout(() => {
        document
          .getElementById("diamond-container")
          .classList.add("animated", "zoomOut");
        document.getElementById("star1").classList.add("animate-btn");
        document.getElementById("star2").classList.add("animate-btn");
        document.getElementById("star3").classList.add("animate-btn");
      }, 1000);
    }, 1000);
  }
};
</script>

<style>
.textStroke {
  text-shadow: rgb(71, 151, 186) 4px 0px 0px,
    rgb(71, 151, 186) 3.87565px 0.989616px 0px,
    rgb(71, 151, 186) 3.51033px 1.9177px 0px,
    rgb(71, 151, 186) 2.92676px 2.72656px 0px,
    rgb(71, 151, 186) 2.16121px 3.36588px 0px,
    rgb(71, 151, 186) 1.26129px 3.79594px 0px,
    rgb(71, 151, 186) 0.282949px 3.98998px 0px,
    rgb(71, 151, 186) -0.712984px 3.93594px 0px,
    rgb(71, 151, 186) -1.66459px 3.63719px 0px,
    rgb(71, 151, 186) -2.51269px 3.11229px 0px,
    rgb(71, 151, 186) -3.20457px 2.39389px 0px,
    rgb(71, 151, 186) -3.69721px 1.52664px 0px,
    rgb(71, 151, 186) -3.95997px 0.56448px 0px,
    rgb(71, 151, 186) -3.97652px -0.432781px 0px,
    rgb(71, 151, 186) -3.74583px -1.40313px 0px,
    rgb(71, 151, 186) -3.28224px -2.28625px 0px,
    rgb(71, 151, 186) -2.61457px -3.02721px 0px,
    rgb(71, 151, 186) -1.78435px -3.57996px 0px,
    rgb(71, 151, 186) -0.843183px -3.91012px 0px,
    rgb(71, 151, 186) 0.150409px -3.99717px 0px,
    rgb(71, 151, 186) 1.13465px -3.8357px 0px,
    rgb(71, 151, 186) 2.04834px -3.43574px 0px,
    rgb(71, 151, 186) 2.83468px -2.82216px 0px,
    rgb(71, 151, 186) 3.44477px -2.03312px 0px,
    rgb(71, 151, 186) 3.84068px -1.11766px 0px,
    rgb(71, 151, 186) 3.9978px -0.132717px 0px;
  color: white;
}
.bringbring {
  animation: bring 2s infinite;
}
@keyframes bring {
  0% {
    transform: scale(0.97);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.97);
    opacity: 0.5;
  }
}
.star-xs {
  width: 80px;
}
.boomboom {
  animation: boomStar 0.5s 1;
}
@keyframes boomStar {
  0% {
    transform: scale(6);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate10deg {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.animate-btn {
  animation: rotate10deg 1s infinite;
}
</style>
