<template>
  <q-page :class="{'qpage-padding-l':innerWidth > 1024,'qpage-padding-s':innerWidth <=1024}">
    <!-- content -->
    <app-student-details></app-student-details>
    <div
      class="row items-center justify-center"
      :class="{'center-screen' : innerWidth > 1439}"
    >
      <div>
        <div
          class="q-pa-sm row items-center q-py-lg bg-amber-1"
          align="center"
          style="width:100%;max-width:1630px;margin:auto;border-radius:10px;letter-spacing:1px"
          v-show="showDetails"
          :class="{'text-subtitle1' : innerWidth  <=599,'font-34-b' : innerWidth > 599}"
        >
          <div class="col-xs-12 col-lg-5">
            <!-- <img
              v-lazy="flashcard.imgPath"
              alt
             
            >-->
            <q-img
              :src="flashcard.imgPath"
              spinner-color="primary"
              :class="{'img-vocab-l' : innerWidth > 1439,'img-vocab-m' : innerWidth <=1439,'img-vocab-s' : innerWidth <1025,'img-vocab-xs' : innerWidth < 600}"
            ></q-img>
          </div>
          <div
            class="col-xs-12 col-lg-7 q-pa-md row items-center"
            align="left"
          >
            <div
              class="col-xs-2 col-md-1 q-pa-xs"
              align="right"
            >
              <img
                src="../assets/icon-01.png"
                alt
                class="hover-btn"
                :class="{'sound-btn-l' : innerWidth > 599,'sound-btn-s' : innerWidth < 600}"
                @click="playSound(flashcard.soundSpell,1)"
              >
            </div>
            <div class="col-xs-2 col-md-1 q-pa-xs">
              <img
                :class="{'sound-btn-l' : innerWidth > 599,'sound-btn-s' : innerWidth < 600}"
                src="../assets/icon-02.png"
                alt
                class="hover-btn"
                @click="playSound(flashcard.soundMain,1)"
              >
            </div>

            <div
              class="col-xs-8 col-md-10 q-pl-sm text-primary text-weight-bold"
              :class="{'font-34 ' : innerWidth > 1439,'font-30' : innerWidth > 1024,'font-24' : innerWidth > 599,'font-16' : innerWidth <= 599}"
            >
              <span
                class="q-pr-xs"
                v-html="flashcard.vocabulary"
              ></span>
              <span>(</span>
              <span v-html="flashcard.partOfSpeech"></span>
              <span>)</span>
            </div>
            <div class="col-xs-4 col-md-2"></div>
            <div
              class="col-xs-8 col-md-10 q-pa-sm text-grey-9"
              :class="{'font-34 ' : innerWidth > 1439,'font-30' : innerWidth > 1024,'font-24' : innerWidth > 599,'font-16' : innerWidth <= 599}"
            >
              <span v-html="flashcard.pronounce"></span>
            </div>
            <div class="col-xs-4 col-md-2"></div>
            <div
              class="col-xs-8 col-md-10 q-pa-sm text-weight-regular text-grey-9"
              :class="{'font-34 ' : innerWidth > 1439,'font-30' : innerWidth > 1024,'font-24' : innerWidth > 599,'font-16' : innerWidth <= 599}"
            >
              <span v-html="flashcard.meaning"></span>
            </div>
            <div class="col-xs-12 q-my-lg">
              <div
                style="border-bottom:2px dashed"
                class="text-grey-6"
              ></div>
            </div>

            <div class="col-xs-2 col-md-1"></div>
            <div class="col-xs-2 col-md-1 q-pa-sm">
              <img
                :class="{'sound-btn-l' : innerWidth > 599,'sound-btn-s' : innerWidth < 600}"
                src="../assets/icon-02.png"
                alt
                class="hover-btn"
                @click="playSound(flashcard.soundSentence,1)"
              >
            </div>
            <div
              id="test"
              class="col-xs-8 col-md-10 q-pa-sm text-grey-9 text-weight-bold"
              :class="{'font-34 ' : innerWidth > 1439,'font-30' : innerWidth > 1024,'font-24' : innerWidth > 599,'font-16' : innerWidth <= 599}"
            >
              <span
                v-html="sentenceEnglish"
                v-if="flashcard.englishSentence"
              ></span>
            </div>
            <div class="col-xs-4 col-md-2"></div>
            <div
              class="col-xs-8 col-md-10 q-pa-sm text-grey-9 text-weight-bold"
              :class="{'font-34 ' : innerWidth > 1439,'font-30' : innerWidth > 1024,'font-24' : innerWidth > 599,'font-16' : innerWidth <= 599}"
            >
              <span
                v-if="flashcard.thaiSentence"
                v-html="flashcard.thaiSentence.replace(flashcard.meaning,'<span class=text-primary>' + flashcard.meaning  + '</span>')"
              ></span>
            </div>
          </div>
        </div>

        <br>
        <!-- <span class="tooltip text-h1">
          <span class="tooltiptext">text</span>xx
        </span>-->
        <div
          align="center"
          class="q-pt-lg"
          v-show="showDetails"
        >
          <q-btn
            style="width:250px"
            class="bg-primary text-white text-h6"
            push
            :glossy="$q.theme === 'mat'"
            @click="backToFlashcard()"
            label="ย้อนกลับ"
          ></q-btn>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import appStudentDetails from "../components/StudentDetails.vue";
import { db } from "../router/index.js";
import { mapActions } from "vuex";

export default {
  // name: 'PageName',
  data() {
    return {
      flashcard: [],
      showDetails: false,
      sentenceEngWithExtra: "",
      extraVocabArr: []
    };
  },
  methods: {
    loadFlashcardDetails() {
      let _this = this;
      this.showLoading();
      db.collection("flashcard")
        .doc(this.$route.params.practicekey)
        .collection("server")
        .doc(this.$route.params.flashcardid)
        .get()
        .then(doc => {
          this.flashcard = doc.data();
          this.flashcard.imgPath =
            "https://api.winner-english.com/ws/winnerp16/pic/flashcard/" +
            doc.data().vocabulary +
            ".jpg";
          this.flashcard.soundMain =
            "https://api.winner-english.com/ws/winnerp16/sound/flashcard/" +
            doc.data().vocabulary +
            ".mp3";
          this.flashcard.soundSpell =
            "https://api.winner-english.com/ws/winnerp16/sound/flashcard/" +
            doc.data().vocabulary +
            "-spell.mp3";
          this.flashcard.soundSentence =
            "https://api.winner-english.com/ws/winnerp16/sound/flashcard/" +
            doc.data().vocabulary +
            "-sentence.mp3";
          this.flashcard.key = doc.id;
          this.loadExtraVocab();
          this.hideLoading();
          this.showDetails = true;
        });
    },
    backToFlashcard() {
      this.$router.push("/flashcard/" + this.$route.params.practicekey);
    },
    async extraVocab(key, sentence) {
      let flashcardDb = await db
        .collection("flashcard")
        .doc(this.$route.params.practicekey)
        .collection("server")
        .doc(this.$route.params.flashcardid)
        .collection("extraVocab")
        .get();
      var finalStr;
      var finalSentence;
      flashcardDb.forEach(element => {
        finalSentence = sentence.replace(
          element.data().vocabulary,
          " " + element.data().vocabulary + " "
        );
        sentence = finalSentence;
      });

      flashcardDb.forEach(doc => {
        finalStr = finalSentence.replace(
          " " + doc.data().vocabulary + " ",
          "<span class=text-teal-5>" + doc.data().vocabulary + "</span>"
        );
        finalSentence = finalStr;
      });

      finalSentence = finalSentence.replace(
        this.flashcard.vocabulary,
        "<span class=text-primary>" + this.flashcard.vocabulary + "</span>"
      );
      document.getElementById("test").innerHTML = finalSentence;
      this.showDetails = true;
    },
    loadExtraVocab() {
      db.collection("flashcard")
        .doc(this.$route.params.practicekey)
        .collection("server")
        .doc(this.$route.params.flashcardid)
        .collection("extraVocab")
        .get()
        .then(doc => {
          doc.forEach(element => {
            this.extraVocabArr.push(element.data());
          });
        });
    }
  },
  components: {
    appStudentDetails
  },
  computed: {
    sentenceEnglish: function() {
      var finalStr;
      var finalSentence;
      var sentence = this.flashcard.englishSentence;

      for (let i = 0; i < this.extraVocabArr.length; i++) {
        let re = new RegExp(
          "\\b" + this.extraVocabArr[i].vocabulary.trim() + "\\b"
        );

        finalSentence = sentence.replace(
          re,
          `<span class='text-teal-5 tooltip' data-tool=` +
            this.extraVocabArr[i].meaning +
            `> ` +
            this.extraVocabArr[i].vocabulary +
            `</span>`
        );
        sentence = finalSentence;
      }

      return finalSentence;
    },
    innerWidth: function() {
      return this.$store.state.system.innerWidth;
    }
  },
  mounted() {
    this.loadFlashcardDetails();
  }
};
</script>

<style>
.sound-btn-l {
  width: 50px;
  height: 50px;
}
.sound-btn-s {
  width: 40px;
  height: 40px;
}
.border-white {
  border: 5px solid;
}
.center-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  margin: auto;
}
.img-vocab-l {
  width: 100%;
  max-width: 400px;
  border: 5px solid #027be3;
  border-radius: 10px;
}
.img-vocab-m {
  width: 100%;
  max-width: 300px;
  border: 5px solid #027be3;
  border-radius: 10px;
}
.img-vocab-s {
  width: 100%;
  max-width: 200px;
  border: 5px solid #027be3;
  border-radius: 10px;
}
.img-vocab-xs {
  width: 100%;
  max-width: 150px;
  border: 5px solid #027be3;
  border-radius: 10px;
}
</style>

