<template>
  <q-page :class="{'qpage-padding-l':innerWidth > 1024,'qpage-padding-s':innerWidth <=1024}">
    <!-- content -->
    <app-student-details></app-student-details>
    <div
      style="width:100%"
      v-show="!showDetails"
    >
      <div class="row q-mt-sm">
        <div
          class="col-xs-12 col-sm-6 col-lg-4 q-my-sm"
          align="center"
          v-for="(flashcards,index) in flashcard"
          :key="index"
        >
          <q-btn
            style="width:90%;border-radius:10px;display:flex;justify-content:center"
            class="bg-light-blue-8 text-white border-white text-weight-bold card-height-desktop desktop-only"
            :class="{'font-34' : innerWidth >1439,'font-28' : innerWidth <= 1439,'font-18' : innerWidth < 600}"
            no-caps
            @click="showFlashcardDetails(index)"
          >
            <span style="align-self:center">{{ flashcards.vocabulary }}</span>
          </q-btn>

          <q-btn
            style="width:90%;border-radius:10px;display:flex;justify-content:center"
            class="bg-light-blue-8 text-white border-white text-weight-bold card-height-mobile mobile-only"
            :class="{'font-34' : innerWidth >1439,'font-28' : innerWidth <= 1439,'font-18' : innerWidth < 600}"
            no-caps
            @click="showFlashcardDetails(index)"
          >
            <span style="align-self:center">{{ flashcards.vocabulary }}</span>
          </q-btn>

        </div>
      </div>

      <div>
        <div
          class="q-mt-md"
          align="center"
          v-show="!isLoading"
        >
          <q-btn
            style="width:250px"
            class="bg-light-blue-9 text-white text-h6"
            push
            :glossy="$q.theme === 'mat'"
            @click="showFinish()"
          >ออกจากบทเรียน</q-btn>
        </div>
      </div>
    </div>
    <!-- FLASHCARD DETAILS -->
    <div
      class="row items-center justify-center q-pt-xl"
      v-if="showDetails"
    >
      <div
        class="q-pa-sm row items-center q-py-lg bg-amber-1"
        align="center"
        style="width:100%;max-width:1630px;margin:auto;border-radius:10px;letter-spacing:1px"
        :class="{'text-subtitle1' : innerWidth  <=599,'font-34-b' : innerWidth > 599}"
      >
        <div class="col-xs-12 col-lg-5">
          <q-img
            :src="flashcard[flashcardSelectedIndex].imgPath"
            spinner-color="light-blue-9"
            :class="{'img-vocab-l' : innerWidth > 1439,'img-vocab-m' : innerWidth <=1439,'img-vocab-s' : innerWidth <1025,'img-vocab-xs' : innerWidth < 600}"
          ></q-img>
        </div>
        <div
          class="col-xs-12 col-lg-7 q-pa-md row items-center"
          align="left"
        >
          <div
            class="col-xs-2 col-md-1 q-pa-xs"
            align="right"
          >
            <img
              src="../assets/icon-01.png"
              alt
              class="hover-btn"
              :class="{'sound-btn-l' : innerWidth > 599,'sound-btn-s' : innerWidth < 600}"
              @click="playSound(flashcard[flashcardSelectedIndex].soundSpell,1)"
              v-show="spellingSound"
            >
          </div>
          <div class="col-xs-2 col-md-1 q-pa-xs">
            <img
              :class="{'sound-btn-l' : innerWidth > 599,'sound-btn-s' : innerWidth < 600}"
              src="../assets/icon-02.png"
              alt
              class="hover-btn"
              @click="playSound(flashcard[flashcardSelectedIndex].soundMain,1)"
            >
          </div>

          <div
            class="col-xs-8 col-md-10 q-pl-sm text-light-blue-9 text-weight-bold"
            :class="{'font-34 ' : innerWidth > 1439,'font-30' : innerWidth > 1024,'font-24' : innerWidth > 599,'font-16' : innerWidth <= 599}"
          >
            <span
              class="q-pr-xs"
              v-html="flashcard[flashcardSelectedIndex].vocabulary"
            ></span>
            <span>(</span>
            <span v-html="flashcard[flashcardSelectedIndex].partOfSpeech"></span>
            <span>)</span>
          </div>
          <div class="col-xs-4 col-md-2"></div>
          <div
            class="col-xs-8 col-md-10 q-pa-sm text-grey-9"
            :class="{'font-34 ' : innerWidth > 1439,'font-30' : innerWidth > 1024,'font-24' : innerWidth > 599,'font-16' : innerWidth <= 599}"
          >
            <span v-html="flashcard[flashcardSelectedIndex].pronounce"></span>
          </div>
          <div class="col-xs-4 col-md-2"></div>
          <div
            class="col-xs-8 col-md-10 q-pa-sm text-weight-regular text-grey-9"
            :class="{'font-34 ' : innerWidth > 1439,'font-30' : innerWidth > 1024,'font-24' : innerWidth > 599,'font-16' : innerWidth <= 599}"
          >
            <span v-html="flashcard[flashcardSelectedIndex].meaning"></span>
          </div>
          <div class="col-xs-12 q-my-lg">
            <div
              style="border-bottom:2px dashed"
              class="text-grey-6"
            ></div>
          </div>

          <div class="col-xs-2 col-md-1"></div>
          <div class="col-xs-2 col-md-1 q-pa-sm">
            <img
              :class="{'sound-btn-l' : innerWidth > 599,'sound-btn-s' : innerWidth < 600}"
              src="../assets/icon-02.png"
              alt
              class="hover-btn"
              @click="playSound(flashcard[flashcardSelectedIndex].soundSentence,1)"
            >
          </div>
          <div
            class="col-xs-8 col-md-10 q-pa-sm text-grey-9 "
            :class="{'font-34 ' : innerWidth > 1439,'font-30' : innerWidth > 1024,'font-24' : innerWidth > 599,'font-16' : innerWidth <= 599}"
          >
            <span
              v-html="sentenceEnglish"
              v-if="flashcard[flashcardSelectedIndex].englishSentence"
            ></span>
          </div>
          <div class="col-xs-4 col-md-2"></div>
          <div
            class="col-xs-8 col-md-10 q-pa-sm text-grey-9 "
            :class="{'font-34 ' : innerWidth > 1439,'font-30' : innerWidth > 1024,'font-24' : innerWidth > 599,'font-16' : innerWidth <= 599}"
          >
            <span
              v-if="flashcard[flashcardSelectedIndex].thaiSentence"
              v-html="flashcard[flashcardSelectedIndex].thaiSentence"
            ></span>
          </div>
        </div>
      </div>
      <br>
      <div
        align="center"
        class="q-pt-lg"
        v-show="showDetails"
      >
        <q-btn
          style="width:250px"
          class="bg-light-blue-9 text-white text-h6"
          push
          :glossy="$q.theme === 'mat'"
          @click="backToFlashcard()"
          label="ย้อนกลับ"
        ></q-btn>
      </div>
    </div>
  </q-page>
</template>

<script>
import appStudentDetails from "../components/StudentDetails.vue";
import { db } from "../router/index.js";
import { mapActions } from "vuex";

export default {
  data() {
    return {
      flashcard: this.$store.state.system.flashcardData,
      flashcardSelectedIndex: 0,
      spellingSound: this.$store.state.system.vocabPractice[
        this.$store.state.system.vocabPractice.findIndex(
          x => x.key == this.$route.params.practicekey
        )
      ].spellingSound,
      schoolTypeKey: this.$store.state.system.schoolType.key,
      isLoading: true,
      showDetails: false,
      order: undefined,
      practiceName: ""
    };
  },
  components: {
    appStudentDetails
  },
  methods: {
    ...mapActions(["setVocabPractice", "setFlashcard"]),
    backToFlashcard() {
      this.showDetails = false;
    },
    loadFlashcard() {
      this.showLoading();
      db.collection("flashcard")
        .doc(this.$route.params.practicekey)
        .collection("server")
        .where(
          "schoolTypeSelected",
          "array-contains",
          this.$store.state.system.schoolType.key
        )
        .get()
        .then(flashcard => {
          flashcard.forEach(doc => {
            var extraVocabArr = [];
            var extraVocabArrTest = [];
            db.collection("flashcard")
              .doc(this.$route.params.practicekey)
              .collection("server")
              .doc(doc.id)
              .collection("extraVocab")
              .get()
              .then(extra => {
                extra.forEach(extraelement => {
                  extraVocabArr.push(extraelement.data());
                  extraVocabArrTest.push(extraelement.data().vocabulary);
                });

                let vocabKey = {
                  vocabKey: doc.id,
                  imgPath:
                    "https://api.winner-english.com/data/pic_flashcard/" +
                    doc.id.toLowerCase() +
                    ".jpg",
                  soundMain:
                    "https://api.winner-english.com/data/sound_flashcard/" +
                    doc.id.toLowerCase() +
                    ".mp3",
                  soundSpell:
                    "https://api.winner-english.com/data/sound_flashcard/" +
                    doc.id.toLowerCase() +
                    "-spell.mp3",
                  soundSentence:
                    "https://api.winner-english.com/data/sound_flashcard/" +
                    doc.id.toLowerCase() +
                    "-sentence.mp3",
                  extraVocab: extraVocabArr,
                  sentenceSplit: doc.data().englishSentence.split(" "),
                  extraVocabArrTest: extraVocabArrTest
                };
                let dataFinal = { ...vocabKey, ...doc.data() };
                this.flashcard.push(dataFinal);
                this.flashcard.sort(function(a, b) {
                  return a.order - b.order;
                });
              });
          });
          this.setFlashcard(this.flashcard);
          this.isLoading = false;
          setTimeout(() => {
            this.hideLoading();
          }, 500);
        });
    },
    showFinish() {
      this.savePracticeLog(
        this.$route.params.practicekey,
        100,
        "pass",
        0,
        "Vocabulary",
        this.practiceName,
        this.order,
        "Flashcard"
      );
      this.$router.push("/studyplan");
    },
    showFlashcardDetails(index) {
      this.flashcardSelectedIndex = index;
      this.playSound(this.flashcard[this.flashcardSelectedIndex].soundMain, 1);
      this.showDetails = true;
    },
    getOrder() {
      let levelUnit =
        "L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit;
      db.collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .doc(this.$route.params.practicekey)
        .get()
        .then(order => {
          this.order = order.data().order;
          this.practiceName = order.data().name;
          3;
        });
    }
  },
  mounted() {
    this.getOrder();

    if (!this.$store.state.system.flashcardData.length) {
      this.loadFlashcard();
    } else {
      this.isLoading = false;
    }
    this.saveMonitor(this.$route.params.practicekey, this.flashcard.length);
  },
  computed: {
    innerWidth: function() {
      return this.$store.state.system.innerWidth;
    },
    sentenceEnglish: function() {
      var finalStr;
      var finalSentence;
      var sentence = this.flashcard[this.flashcardSelectedIndex]
        .englishSentence;

      if (this.flashcard[this.flashcardSelectedIndex].extraVocab.length) {
        for (
          let i = 0;
          i < this.flashcard[this.flashcardSelectedIndex].extraVocab.length;
          i++
        ) {
          let re = new RegExp(
            "\\b" +
              this.flashcard[this.flashcardSelectedIndex].extraVocab[
                i
              ].vocabulary.trim() +
              "\\b",
            "g"
          );

          var audioPath =
            "https://api.winner-english.com/data/sound_extravocab/";

          let reStrong = new RegExp("</strong>", "g");

          sentence = sentence
            .replace(/<strong>/g, "<b>")
            .replace(reStrong, "</b>");

          let vocabAudioPath = this.flashcard[
            this.flashcardSelectedIndex
          ].extraVocab[i].vocabulary.toLowerCase();
          vocabAudioPath = vocabAudioPath.replace(/\'/, "xx");
          finalSentence = sentence.replace(
            re,
            " " +
              `<span onclick="new Audio('` +
              audioPath +
              vocabAudioPath +
              `.mp3').play()" class='text-teal-5 tooltip' data-tool=` +
              this.flashcard[this.flashcardSelectedIndex].extraVocab[i]
                .meaning +
              `> ` +
              this.flashcard[this.flashcardSelectedIndex].extraVocab[i]
                .vocabulary +
              `</span>`
          );
          sentence = finalSentence;
          // ทำ Highlight สีของ คำศัพท์หลัก
          let reSpan = new RegExp("</b>", "g");
          finalSentence = sentence
            .replace(/<b>/g, "<span class=text-light-blue-9>")
            .replace(reSpan, "</span>");
        }

        return finalSentence;
      } else {
        let re = new RegExp("</strong>", "g");
        let re2 = new RegExp("</b>", "g");
        sentence = sentence.replace(/<strong>/g, "<b>").replace(re, "</b>");
        finalSentence = sentence
          .replace(/<b>/g, "<span class=text-light-blue-9>")
          .replace(re2, "</span>");
        return finalSentence;
      }
    }
  }
};
</script>

<style>
.border-white {
  border: 5px solid;
}
.sound-btn-l {
  width: 50px;
  height: 50px;
}
.sound-btn-s {
  width: 40px;
  height: 40px;
}
.border-white {
  border: 5px solid;
}
.center-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  margin: auto;
}
.img-vocab-l {
  width: 100%;
  max-width: 400px;
  border: 5px solid #027be3;
  border-radius: 10px;
}
.img-vocab-m {
  width: 100%;
  max-width: 300px;
  border: 5px solid #027be3;
  border-radius: 10px;
}
.img-vocab-s {
  width: 100%;
  max-width: 200px;
  border: 5px solid #027be3;
  border-radius: 10px;
}
.img-vocab-xs {
  width: 100%;
  max-width: 150px;
  border: 5px solid #027be3;
  border-radius: 10px;
}
.card-height-mobile {
  min-height: 80px;
}
.card-height-desktop {
  min-height: 100px;
}
</style>
