<template>
  <q-page padding style="background-image:url(../assets/background.jpg)">
    <!-- content -->
    <app-student-details></app-student-details>
    <q-resize-observer @resize="onResize"></q-resize-observer>TEMPLAET 2
    <div class="row q-mt-xl" v-show="!showFlashcardDetails">
      <div
        class="col-lg-3 col-xs-12 q-pt-sm"
        align="center"
        v-for="(flashcards,index) in flashcard"
        :key="index"
      >
        <q-btn
          v-if="flashcards.schoolTypeSelected.includes(schoolTypeKey)"
          style="width:90%;height:120px;border-radius:3px;display:flex;justify-content:center;border:3px solid"
          class="bg-primary text-white q-headline"
          @click="showVocabDetails(index)"
          :class="{'bg-red' : flashcards.clicked == true}"
        >
          <span style="align-self:center">{{ flashcards.vocabulary }}</span>
        </q-btn>
      </div>
    </div>

    <div
      class="q-headline q-pa-sm row items-center q-pt-xl"
      v-if="showFlashcardDetails"
      align="center"
      style="width:100%"
    >
      <div class="col-xs-12 col-lg-4">
        <img v-lazy="flashcard[flashcardSelectedIndex].imgPath" alt>
      </div>
      <div class="col-xs-12 col-lg-8 q-pa-md row" align="left">
        <div class="col-xs-2 col-md-1 q-pa-xs">
          <q-btn
            :class="{'sound-btn-l' : innerWidth > 1700,'sound-btn-s' : innerWidth <=1700}"
            color="primary"
            icon="fas fa-volume-up"
            rounded
            v-show="spellingSound == true"
          />
        </div>
        <div class="col-xs-2 col-md-1 q-pa-xs">
          <q-btn
            :class="{'sound-btn-l' : innerWidth > 1700,'sound-btn-s' : innerWidth <=1700}"
            color="primary"
            icon="fas fa-volume-up"
            rounded
            v-show="spellingSound == true"
          />
        </div>

        <div class="col-xs-8 col-md-10 q-pl-sm">
          <span
            class="text-primary text-weight-bold q-headline q-pr-xs"
            v-html="flashcard[flashcardSelectedIndex].vocabulary"
            style="position:relative;bottom:-8px"
          ></span>
          <span style="position:relative;bottom:-5px" class="q-subheading">(</span>
          <span
            style="position:relative;bottom:-7px"
            class="q-subheading"
            v-html="flashcard[flashcardSelectedIndex].partOfSpeech"
          ></span>
          <span style="position:relative;bottom:-5px" class="q-subheading">)</span>
        </div>
        <div class="col-xs-4 col-md-2"></div>
        <div class="col-xs-8 col-md-10 q-pa-sm q-subheading">
          <span v-html="flashcard[flashcardSelectedIndex].pronounce"></span>
        </div>
        <div class="col-xs-4 col-md-2"></div>
        <div class="col-xs-8 col-md-10 q-pa-sm q-subheading">
          <span v-html="flashcard[flashcardSelectedIndex].meaning"></span>
        </div>
        <div class="col-xs-12">
          <div style="border-bottom:1px dotted teal"></div>
        </div>
        <div class="col-xs-2 col-md-1"></div>
        <div class="col-xs-2 col-md-1 q-pa-sm">
          <q-btn
            :class="{'sound-btn-l' : innerWidth > 1700,'sound-btn-s' : innerWidth <=1700}"
            color="primary"
            icon="fas fa-volume-up"
            class="q-mr-sm"
            rounded
            v-show="spellingSound == true"
          />
        </div>
        <div class="col-xs-8 col-md-10 q-pa-sm q-subheading">
          <span v-html="flashcard[flashcardSelectedIndex].englishSentence"></span>
        </div>
        <div class="col-xs-4 col-md-2"></div>
        <div class="col-xs-8 col-md-10 q-pa-sm q-subheading">
          <span v-html="flashcard[flashcardSelectedIndex].thaiSentence"></span>
        </div>
      </div>
      <div class="col-12">
        <div>
          <q-btn
            style="width:250px"
            :glossy="$q.theme === 'mat'"
            label="ย้อนกลับ"
            class="bg-primary text-white q-title"
            @click="closeFlashcardDetails()"
          ></q-btn>
        </div>
      </div>
    </div>
    <div class="q-mt-xl" v-show="!showFlashcardDetails" align="center">
      <q-btn
        style="width:250px"
        class="bg-primary text-white q-title"
        to="/studyplan"
        push
        :glossy="$q.theme === 'mat'"
      >กลับหน้าหลัก</q-btn>
    </div>
  </q-page>
</template>

<script>
import appStudentDetails from "../components/StudentDetails.vue";
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      flashcard: [],
      showFlashcardDetails: false,
      flashcardSelectedIndex: 0,
      flashcardClicked: [],
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight,
      // get practice index จาก studyplan ว่าเป็น practice ที่เท่าไร เอาไว้ดึงค่าจาก Vuex ให้ถูกต้อง
      practiceIndex: this.$store.state.system.vocabPractice.findIndex(
        x => x.key == this.$route.params.practicekey
      ),
      spellingSound: this.$store.state.system.vocabPractice[
        this.$store.state.system.vocabPractice.findIndex(
          x => x.key == this.$route.params.practicekey
        )
      ].spellingSound,
      schoolTypeKey: this.$store.state.system.schoolType.key
    };
  },
  components: {
    appStudentDetails
  },
  methods: {
    loadFlashcard() {
      this.$q.loading.show({
        delay: 400 // ms
      });
      db.collection("flashcard")
        .doc(this.$route.params.practicekey)
        .collection("server")
        .get()
        .then(flashcard => {
          flashcard.forEach(doc => {
            let vocabKey = {
              vocabKey: doc.id
            };
            let dataFinal = { ...vocabKey, ...doc.data() };
            this.flashcard.push(dataFinal);
          });
          setTimeout(() => {
            this.$q.loading.hide();
          }, 500);
        });
    },
    showVocabDetails(index) {
      this.flashcardSelectedIndex = index;
      this.showFlashcardDetails = true;
      this.flashcard[index].clicked = true;
    },
    closeFlashcardDetails() {
      this.showFlashcardDetails = false;
    },
    onResize(size) {
      this.innerWidth = size.width;
      this.innerHeight = size.height;
    },
    showLoading() {}
  },
  mounted() {
    this.loadFlashcard();
  }
};
</script>

<style>
.brx {
  border: 2px solid red;
}
.sound-btn-l {
  width: 80px;
  height: fit-content;
}
.sound-btn-s {
  width: 40px;
  height: fit-content;
}
</style>
