<template>
  <div class="q-pa-md" style="height:100vh;">
    <div class="row brx">
      <div class="col-6 bg-primary">
        <div align="center">COL 1</div>
        <div class="row">
          <div class="col">1</div>
          <div class="col">2</div>
          <div class="col">3</div>
          <div class="col">4</div>
          <div class="col">5</div>
          <div class="col">6</div>
          <div class="col">7</div>
          <div class="col">8</div>
          <div class="col">9</div>
          <div class="col">10</div>
          <div class="col">11</div>
          <div class="col">12</div>
        </div>
      </div>
      <div class="col-6 bg-secondary">
        <div align="center">COL2</div>
        <div class="row">
          <div class="col">1</div>
          <div class="col">2</div>
          <div class="col">3</div>
          <div class="col">4</div>
          <div class="col">5</div>
          <div class="col">6</div>
          <div class="col">7</div>
          <div class="col">8</div>
          <div class="col">9</div>
          <div class="col">10</div>
          <div class="col">11</div>
          <div class="col">12</div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
</style>
