<template>
  <q-page padding>
    <!-- content -->
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
  mounted() {
    this.$router.push(
      "/" + this.$route.params.name + "/" + this.$route.params.practicekey
    );
  }
};
</script>

<style>
</style>
