<template>
  <div id="body">
    <div id="starsbg"></div>
    <div id="spacebg">
      <!-- content -->
      <q-resize-observer @resize="onResize"></q-resize-observer>

      <div
        align="center"
        class="q-pa-xl"
        style="width:100%;position:absolute"
        v-show="innerWidth > 1024 && innerHeight > 850"
      >
        <img style="max-width:700px;min-width:300px;" src="../assets/winnerbanner.png" alt />
      </div>

      <div
        style="position:absolute;z-index:800;"
        class="plane"
        :class="{plane2:page == 2,plane3:page == 3}"
      >
        <img
          width="250px"
          src="../statics/theme/space/rocket.png"
          style="transform:rotate(20deg);"
          alt
        />
      </div>
      <input type="text" ref="inputHidden" readonly style="position:absolute;top:-500px" />

      <div
        style="position:relative;z-index:900;top:50%;left:50%;transform:translate(-50%,-50%)"
        align="center"
      >
        <div
          style="width:95%;max-width:450px;border:2px solid #38469F;background-color:#38469F;border-radius:15px"
        >
          <div
            class="text-white text-weight-bold text-h5 q-pa-sm"
            style="letter-spacing:1px"
            align="center"
          >
            <span v-show="page == 1">LOGIN</span>
            <span v-show="page == 2 || page == 3">{{showName}}</span>
          </div>
          <div class="q-pa-sm q-ma-sm text-blue-grey-4" style="background-color:#DCE2EF">
            <div
              class="text-h6"
              align="center"
              style="line-height:40px;width:90%;margin:auto;border:1px solid #38469F;border-radius:10px;background-color:#FFF8E1"
            >
              <span v-if="page == 1" style="color:#38469F">
                <span v-if="username.length > 0">{{username}}</span>
                <span v-else>รหัสผู้ใช้งาน</span>
              </span>
              <span v-else>
                <div
                  v-if="password.length > 0"
                  style="display:flex;justify-content:center;position:relative"
                >
                  <div style="width:100%;color:black" :class="{showPass:showPass}">{{password}}</div>
                  <div style="width:50px;background-color:#036193;position:absolute;right:0px">
                    <span class="fas fa-eye text-white hover" @click="togglePasswordVisibility()"></span>
                  </div>
                </div>
                <div v-else style="display:flex;justify-content:center;position:relative">
                  <div style="width:100%;" class="text-blue-grey-4">PASSWORD</div>
                  <div style="width:50px;background-color:#036193;position:absolute;right:0px">
                    <span class="fas fa-eye text-white hover" @click="togglePasswordVisibility()"></span>
                  </div>
                </div>
              </span>
            </div>
            <div class="q-mt-sm">
              <div
                class="row q-pa-sm"
                style="width:90%;margin:auto;border:1px solid #38469F;border-radius:10px;background-color:#FFF8E1"
              >
                <!-- row1 -->
                <div class="col-xs-4 q-mb-md" align="center">
                  <q-btn
                    push
                    size="lg"
                    label="1"
                    @click="clickNumberBtn(1)"
                    style="background-color:#38469F"
                    class="q-title text-white text-weight-bold"
                    :class="{'btnWidth-l':innerWidth > 430,'btnWidth-s':innerWidth <= 430}"
                  ></q-btn>
                </div>
                <div class="col-xs-4 q-mb-md" align="center">
                  <q-btn
                    push
                    size="lg"
                    label="2"
                    @click="clickNumberBtn(2)"
                    style="background-color:#38469F"
                    class="q-title text-white text-weight-bold"
                    :class="{'btnWidth-l':innerWidth > 430,'btnWidth-s':innerWidth <= 430}"
                  ></q-btn>
                </div>
                <div class="col-xs-4 q-mb-md" align="center">
                  <q-btn
                    push
                    size="lg"
                    label="3"
                    @click="clickNumberBtn(3)"
                    style="background-color:#38469F"
                    class="q-title text-white text-weight-bold"
                    :class="{'btnWidth-l':innerWidth > 430,'btnWidth-s':innerWidth <= 430}"
                  ></q-btn>
                </div>
                <!-- end row 1 -->
                <!-- row2 -->
                <div class="col-xs-4 q-mb-md" align="center">
                  <q-btn
                    push
                    size="lg"
                    label="4"
                    @click="clickNumberBtn(4)"
                    style="background-color:#38469F"
                    class="q-title text-white text-weight-bold"
                    :class="{'btnWidth-l':innerWidth > 430,'btnWidth-s':innerWidth <= 430}"
                  ></q-btn>
                </div>
                <div class="col-xs-4 q-mb-md" align="center">
                  <q-btn
                    push
                    size="lg"
                    label="5"
                    @click="clickNumberBtn(5)"
                    style="background-color:#38469F"
                    class="q-title text-white text-weight-bold"
                    :class="{'btnWidth-l':innerWidth > 430,'btnWidth-s':innerWidth <= 430}"
                  ></q-btn>
                </div>
                <div class="col-xs-4 q-mb-md" align="center">
                  <q-btn
                    push
                    size="lg"
                    label="6"
                    @click="clickNumberBtn(6)"
                    style="background-color:#38469F"
                    class="q-title text-white text-weight-bold"
                    :class="{'btnWidth-l':innerWidth > 430,'btnWidth-s':innerWidth <= 430}"
                  ></q-btn>
                </div>
                <!-- end row 2 -->
                <!-- row 3 -->
                <div class="col-xs-4 q-mb-md" align="center">
                  <q-btn
                    push
                    size="lg"
                    label="7"
                    @click="clickNumberBtn(7)"
                    style="background-color:#38469F"
                    class="q-title text-white text-weight-bold"
                    :class="{'btnWidth-l':innerWidth > 430,'btnWidth-s':innerWidth <= 430}"
                  ></q-btn>
                </div>
                <div class="col-xs-4 q-mb-md" align="center">
                  <q-btn
                    push
                    size="lg"
                    label="8"
                    @click="clickNumberBtn(8)"
                    style="background-color:#38469F"
                    class="q-title text-white text-weight-bold"
                    :class="{'btnWidth-l':innerWidth > 430,'btnWidth-s':innerWidth <= 430}"
                  ></q-btn>
                </div>
                <div class="col-xs-4 q-mb-md" align="center">
                  <q-btn
                    push
                    size="lg"
                    label="9"
                    @click="clickNumberBtn(9)"
                    style="background-color:#38469F"
                    class="q-title text-white text-weight-bold"
                    :class="{'btnWidth-l':innerWidth > 430,'btnWidth-s':innerWidth <= 430}"
                  ></q-btn>
                </div>
                <!-- end row 3 -->
                <!-- row4 -->
                <div class="col-xs-4 q-mb-md" align="center"></div>
                <div class="col-xs-4 q-mb-md" align="center">
                  <q-btn
                    push
                    size="lg"
                    label="0"
                    @click="clickNumberBtn(0)"
                    style="background-color:#38469F"
                    class="q-title text-white text-weight-bold"
                    :class="{'btnWidth-l':innerWidth > 430,'btnWidth-s':innerWidth <= 430}"
                  ></q-btn>
                </div>
                <div class="col-xs-4 q-mb-md" align="center">
                  <q-btn
                    push
                    @click="backspace()"
                    icon="fas fa-backspace"
                    class="q-title text-white text-weight-bold"
                    style="padding:13px;background-color:#38469F"
                    :class="{'btnWidth-l':innerWidth > 430,'btnWidth-s':innerWidth <= 430}"
                  ></q-btn>
                </div>
                <!-- end row 4 -->
              </div>
              <div class="q-mt-lg">
                <!-- row5 -->
                <div v-if="page == 1">
                  <div align="center">
                    <q-btn
                      label="ถัดไป"
                      @click="checkUsername()"
                      class="text-white text-weight-bold q-pa-sm"
                      push
                      style="width:100px;background-color:#38469F"
                    ></q-btn>
                  </div>
                </div>
                <div class="row gutter-sm" v-else>
                  <div class="col-xs-6" align="center">
                    <q-btn
                      label="ย้อนกลับ"
                      @click="backToLogin()"
                      color="red-5"
                      class="text-white text-weight-bold"
                      push
                      style="width:100px"
                    ></q-btn>
                  </div>
                  <div class="col-xs-6" align="center">
                    <q-btn
                      label="เข้าสู่ระบบ"
                      @click="checkPassword()"
                      color="primary"
                      class="text-white text-weight-bold"
                      push
                      style="width:100px"
                    ></q-btn>
                  </div>
                </div>
                <!-- end row 5 -->
              </div>

              <div style="color:#38469F" class="text-right">Version {{ version }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  // name: 'PageName',
  data() {
    return {
      username: "",
      password: "",
      page: 1, //1== username page, 2==password page,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight,
      schoolId: 0,
      showPass: true,
      allowKeyboard: true,
      studentDocKey: "",
      showName: "NAME",
      lat: 0,
      long: 0,
      allowLogin: true,
      schoolType: "",
    };
  },
  methods: {
    ...mapActions([
      "setStudentData",
      "setStudentCourse",
      "setSchooltype",
      "setVocabPractice",
      "setGrammarPractice",
      "setReadingPractice",
      "setWritingPractice",
      "setListeningPractice",
      "setSchoolCode",
      "setShowLayouts",
      "setStar",
      "setFlashcard",
      "setScore",
      "setLoginKey",
      "setCurrentLesson",
      "setCurrentPracticeUnit",
    ]),
    clickNumberBtn(number) {
      this.$refs.inputHidden.focus();
      if (this.page == 1) {
        this.username += number;
      } else {
        if (this.password.length < 4) {
          this.password += number;
        }
      }
    },

    backspace() {
      if (this.page == 1) {
        this.username = this.username.slice(0, -1);
      } else {
        this.password = this.password.slice(0, -1);
      }
    },
    openFullscreen() {
      var elem = document.documentElement;
      if (elem.requestFullscreen) {
        elem.requestFullscreen();
      } else if (elem.mozRequestFullScreen) {
        /* Firefox */
        elem.mozRequestFullScreen();
      } else if (elem.webkitRequestFullscreen) {
        /* Chrome, Safari and Opera */
        elem.webkitRequestFullscreen();
      } else if (elem.msRequestFullscreen) {
        /* IE/Edge */
        elem.msRequestFullscreen();
      }
    },

    checkUsername() {
      if (this.username.length > 0) {
        this.showLoading();
        let _this = this;
        this.schoolId = this.username.substring(0, 3);
        db.collection("school")
          .doc(_this.schoolId)
          .collection("student")
          .where("username", "==", _this.username)
          .get()
          .then((doc) => {
            if (doc.size > 0) {
              _this.page = 2;
              _this.studentDocKey = doc.docs[0].id;
              db.collection("school")
                .doc(_this.schoolId)
                .collection("student")
                .doc(doc.docs[0].id)
                .get()
                .then((doc1) => {
                  _this.showName = doc1.data().name;
                  // _this.openFullscreen();
                });
            } else {
              _this.allowKeyboard = false;
              this.$swal({
                type: "error",
                title: "ผิดพลาด",
                text: "ไม่พบรหัสผู้ใช้งานนี้ในระบบ",
              }).then((result) => {
                setTimeout(() => {
                  _this.allowKeyboard = true;
                }, 1000);
              });
            }
            this.hideLoading();
          });
      }
    },

    backToLogin() {
      this.page = 1;
    },
    async getStudentCourse() {
      let _this = this;
      // let schoolCode;
      let courseRef = await db
        .collection("course")
        .where("studentid", "==", _this.studentDocKey)
        .get();
      var stuCourse = [];
      courseRef.forEach((data) => {
        stuCourse.push(data.data());
        // schoolCode = data.data().schoolcode;
      });

      // let checkSchool = await db
      //   .collection("school")
      //   .doc(schoolCode)
      //   .get();
      // let schoolType = checkSchool.data().type;
      // let checkSchoolType = await db
      //   .collection("schooltype")
      //   .doc(schoolType)
      //   .get();

      //   let schoolTypeName = checkSchoolType.data().name
      //   if (schoolTypeName != "ยุวพัฒน์") {

      //   }else{

      //   }

      stuCourse = stuCourse.sort((a, b) => {
        return a.timestamp - b.timestamp;
      });
      _this.setStudentCourse(stuCourse);

      // console.log(practicekey, score, status, star, world, practicename, order, practicetype);

      var currentTerm = stuCourse[stuCourse.length - 1].academicYear;
      let currentTermWithUnderScore = currentTerm.replace("/", "_");
      currentTerm = currentTerm.replace("/", "-");
      let academicTermRef = _this.schoolId + "_" + currentTermWithUnderScore;

      let academicRef = await db
        .collection("academicyear")
        .doc(academicTermRef)
        .get();
      var startDate = academicRef.data().startdate;
      startDate = startDate.replace("/", "-").replace("/", "-");
      let WeekApi =
        "https://api.winner-english.com/data/api/checkweek.php?cdate=" +
        startDate;
      let getWeek = await axios.get(WeekApi);
      let startWeek = "week" + getWeek.data;

      // ADD ATTENDENCE
      let api = "https://api.winner-english.com/data/api/gettime.php";
      let response = await axios.get(api);
      // let week = "week" + response.data[0].week;
      let date = response.data[0].date;
      let microTime = response.data[0].microtime;
      let dateNew = new Date(microTime);
      // let year = date.split("/");
      // year = year[2];
      let re = new RegExp("/", "g");

      let dateReplaced = date.replace(re, "-");

      let term = stuCourse[stuCourse.length - 1].academicYear;
      term = term.replace("/", "-");

      let attendenceRef = await db
        .collection("school")
        .doc(_this.schoolId)
        .collection("attendence")
        .doc(term)
        .collection(startWeek)
        .doc(dateReplaced)
        .collection("data")
        .doc(_this.studentDocKey)
        .get();

      if (!attendenceRef.exists) {
        // ถ้ายังไม่มีการเซฟ Attendence ให้ทำการเพิ่ม
        let dataAttendence = {
          class: stuCourse[stuCourse.length - 1].room,
          loginTime: dateNew,
        };

        let setAddMicrotime = await db
          .collection("school")
          .doc(_this.schoolId)
          .collection("attendence")
          .doc(term)
          .set({
            microTime: microTime,
          });

        let setDataInCollection = await db
          .collection("school")
          .doc(_this.schoolId)
          .collection("attendence")
          .doc(term)
          .collection(startWeek)
          .doc(dateReplaced)
          .set({
            microTime: microTime,
          });

        let attendence = await db
          .collection("school")
          .doc(_this.schoolId)
          .collection("attendence")
          .doc(term)
          .collection(startWeek)
          .doc(dateReplaced)
          .collection("data")
          .doc(_this.studentDocKey)
          .set(dataAttendence);
      }
    },
    getSchoolType() {
      let _this = this;
      db.collection("school")
        .doc(_this.schoolId)
        .get()
        .then((doc) => {
          let schoolType = {};
          // _this.setSchooltype(doc.data().type)
          schoolType.key = doc.data().type;
          db.collection("schooltype")
            .doc(doc.data().type)
            .get()
            .then((doc1) => {
              schoolType.name = doc1.data().name;
              _this.schoolType = doc1.data().name;

              _this.setSchooltype(schoolType);
            });
        });
    },
    checkLocation(lat, long, area) {
      return new Promise((data1, data2) => {
        let _this = this;

        _this
          .$getLocation({
            enableHighAccuracy: false, //defaults to false
            timeout: Infinity, //defaults to Infinity
            maximumAge: 0, //defaults to 0
          })

          .then((coordinates) => {
            this.$q.loading.hide();
            let schoolLatitude = lat;
            let schoolLongtitude = long;
            let schoolRadius = area;
            _this.currentLat = coordinates.lat;
            _this.currentLong = coordinates.lng;

            var radlat1 = (Math.PI * _this.currentLat) / 180;
            var radlat2 = (Math.PI * schoolLatitude) / 180;
            var theta = _this.currentLong - schoolLongtitude;
            var radtheta = (Math.PI * theta) / 180;
            var dist =
              Math.sin(radlat1) * Math.sin(radlat2) +
              Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
            if (dist > 1) {
              dist = 1;
            }
            dist = Math.acos(dist);
            dist = (dist * 180) / Math.PI;
            dist = dist * 60 * 1.1515;
            // หน่วย Kilometers
            dist = dist * 1.609344;
            // แปลงเป็นเมตร
            dist = dist * 1000;

            data1(dist);
          });
      });
    },
    async checkPassword() {
      this.setStudentData([]);
      this.setStudentCourse([]);
      this.setSchooltype([]);
      this.setVocabPractice([]);
      this.setWritingPractice([]);
      this.setFlashcard([]);
      // this.setGrammarPractice([]);
      // this.setReadingPractice([]);
      // this.setWritingPractice([]);
      // this.setListeningPractice([]);
      let _this = this;

      let schoolRef = await db
        .collection("school")
        .doc(_this.schoolId)
        .collection("student")
        .doc(_this.studentDocKey)
        .get();

      let stuPassword = schoolRef.data().password;
      let studentKey = {
        key: schoolRef.id,
      };
      let studentDataFinal = { ...schoolRef.data(), ...studentKey };
      if (stuPassword == _this.password) {
        // _this.checkLocation()
        // ********************************************

        this.$q.loading.show({
          delay: 400, // ms
        });

        // เช็ค schoolarea
        let _this = this;
        let schoolRef2 = await db
          .collection("school")
          .doc(_this.schoolId)
          .get();

        if (schoolRef2.exists) {
          var schoolArea = schoolRef2.data().schoolArea;
          if (schoolArea == true) {
            // รับค่า Location
            let checkLocationx = await this.checkLocation(
              schoolRef2.data().latitude,
              schoolRef2.data().longtitude,
              schoolRef2.data().radius
            );

            //     // เช็คว่าตรงตามเงื่อนไข ในรัศมีหรือไม่
            if (checkLocationx > schoolRef2.data().radius) {
              // กรณีอยู่ห่างเกินรัศมีที่กำหนด
              _this.allowKeyboard = false;
              this.$swal({
                type: "error",
                title: "ผิดพลาด",
                text: "ไม่อยู่ในพื้นที่ใช้งาน",
              }).then((result) => {
                setTimeout(() => {
                  _this.allowKeyboard = true;
                }, 1000);
              });
            } else {
              _this.getStudentCourse();
              _this.getSchoolType();
              _this.setStudentData(studentDataFinal);
              _this.setSchoolCode(_this.schoolId);
              _this.setShowLayouts(true);
              _this.updateKey(schoolRef.id);
              // set Initial VUEX
              _this.setStar(3);
              _this.setScore(100);
              _this.setVocabPractice([]);
              _this.setGrammarPractice([]);
              _this.setReadingPractice([]);
              _this.setWritingPractice([]);
              _this.setListeningPractice([]);
              _this.setShowLayouts(true);
              _this.setCurrentLesson(undefined);
              _this.setCurrentPracticeUnit(1);

              this.page = 3;

              setTimeout(() => {
                this.$q.loading.hide();
                this.$router.push("/studyplan");
              }, 1500);
            }
            //   });
          } else {
            this.page = 3;
            this.$q.loading.hide();
            _this.getStudentCourse();
            _this.getSchoolType();
            _this.setStudentData(studentDataFinal);
            _this.setSchoolCode(_this.schoolId);
            _this.setShowLayouts(true);
            // set Initial VUEX
            _this.setStar(3);
            _this.setScore(100);
            _this.setVocabPractice([]);
            _this.setGrammarPractice([]);
            _this.setReadingPractice([]);
            _this.setWritingPractice([]);
            _this.setListeningPractice([]);
            _this.setShowLayouts(true);
            _this.setCurrentLesson(undefined);
            _this.setCurrentPracticeUnit(1);
            _this.updateKey(schoolRef.id);

            setTimeout(() => {
              this.$router.push("/studyplan");
            }, 1500);
          }
        } else {
          // กรณีพาสเวิร์ดไม่ถูกต้อง
          this.$q.loading.hide();
          this.allowKeyboard = false;
          this.$swal({
            type: "error",
            title: "ผิดพลาด",
            text: "รหัสผ่านไม่ถูกต้อง",
          }).then((result) => {
            setTimeout(() => {
              _this.allowKeyboard = true;
            }, 1000);
          });
        }
      } else {
        // กรณีพาสเวิร์ดไม่ถูกต้อง
        this.allowKeyboard = false;
        this.$q.loading.hide();
        this.$swal({
          type: "error",
          title: "ผิดพลาด",
          text: "รหัสผ่านไม่ถูกต้อง",
        }).then((result) => {
          setTimeout(() => {
            _this.allowKeyboard = true;
          }, 1000);
        });
      }
    },
    async updateKey(studentkey) {
      let randomKey = Math.floor(Math.random() * 10000000) * 1000;
      this.setLoginKey(randomKey);
      await db
        .collection("school")
        .doc(this.schoolId)
        .collection("student")
        .doc(studentkey)
        .update({
          loginKey: randomKey,
          status: "online",
        });
      // this.checkLoginKey();
    },
    onResize(size) {
      this.innerWidth = size.width;
      this.innerHeight = size.height;
    },
    togglePasswordVisibility() {
      this.showPass = !this.showPass;
    },
  },
  mounted() {
    let _this = this;

    window.addEventListener("keyup", function (event) {
      let key = event.keyCode;
      if (_this.allowKeyboard == true) {
        if (key === 97) {
          _this.clickNumberBtn(1);
        } else if (key == 98) {
          _this.clickNumberBtn(2);
        } else if (key == 99) {
          _this.clickNumberBtn(3);
        } else if (key == 100) {
          _this.clickNumberBtn(4);
        } else if (key == 101) {
          _this.clickNumberBtn(5);
        } else if (key == 102) {
          _this.clickNumberBtn(6);
        } else if (key == 103) {
          _this.clickNumberBtn(7);
        } else if (key == 104) {
          _this.clickNumberBtn(8);
        } else if (key == 105) {
          _this.clickNumberBtn(9);
        } else if (key == 96) {
          _this.clickNumberBtn(0);
        } else if (key == 8) {
          _this.backspace();
        } else if (key == 13) {
          if (_this.page == 1) {
            _this.checkUsername();
          } else if (_this.page == 2) {
            _this.checkPassword();
          }
        }
      }
    });
  },
};
</script>

<style>
#body {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: 1;
}
#spacebg {
  position: relative;
  background-image: url(../statics/theme/space/bg.png);
  background-size: cover;
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  z-index: 2;
  overflow: hidden;
}
#starsbg {
  top: -5000px;
  left: -2500px;
  position: absolute;
  width: 10000px;
  height: 10000px;
  background-image: url(../statics/theme/space/star-bg.png);
  animation: spin 500s infinite linear;
  -webkit-animation: spin 500s infinite linear;
  -moz-animation: spin 500s infinite linear;
  -ms-animation: spin 500s infinite linear;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  z-index: 1;
  overflow: hidden;
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
.btnWidth-l {
  width: 100px;
}
.btnWidth-s {
  width: 65px;
}
.plane {
  animation: movePlane1 1s linear forwards;
}
.showPass {
  -webkit-text-security: square;
}
@keyframes movePlane1 {
  from {
    left: -200px;
    top: 400px;
  }
  to {
    left: 0;
    top: 300px;
  }
}

.plane2 {
  animation: movePlane2 1s linear forwards;
}
@keyframes movePlane2 {
  from {
    left: 0px;
    top: 300px;
  }
  to {
    left: 1200px;
    top: 250px;
  }
}

.plane3 {
  animation: movePlane3 1s linear forwards;
}
@keyframes movePlane3 {
  0% {
    left: 1200px;
    top: 250px;
  }
  100% {
    left: 2000px;
    top: 250px;
  }
}
.hover {
  cursor: pointer;
}
</style>
