<template>
  <div
    class="q-pa-sm"
    style="width:100%"
  >
    <div v-show="showContent">
      <div
        class="row bg-amber-1 q-mt-md q-pa-lg"
        style="border-radius:10px;"
        id="question-box"
      >
        <!-- โจทย์ -->
        <div
          class="col-12 q-py-lg q-mb-sm bg-white text-weight-bold text-light-blue-10"
          align="center"
          style="border:5px solid #01579B;border-radius:10px"
          v-if="flashcardData.length"
          :class="{'font-34' : innerWidth > 1024,'font-28' : innerWidth <= 1024,'font-20':innerWidth < 600}"
          v-html="flashcardData[currentQuestion].meaning"
        ></div>

        <template v-if="flashcardData.length">
          <div
            class="col-lg-6 col-xs-12 q-mt-lg-md q-mt-xs-xs q-pa-sm "
            v-for="(choice,index) in flashcardData[currentQuestion].choices"
            :key="index"
          >
            <q-btn
              class="q-pa-lg text-white text-weight-bold bg-light-blue-8 "
              align="center"
              style="border-radius:10px;width:100%;"
              :class="{'bg-teal-5':correctButton == index,'bg-deep-orange-14':incorrectButton.includes(index),'font-24' : innerWidth >599,'font-16' : innerWidth <= 599,'btn-l':innerWidth >1439,'btn-m' : innerWidth <=1439,'btn-xs' : innerWidth <= 599}"
              push
              no-caps
              @click="checkAnswer(choice)"
            >
              <span :class="{'top-5' : innerWidth > 1439,'top-7':innerWidth <= 1439}">{{choice}}</span>
            </q-btn>
          </div>
        </template>
      </div>

      <div
        align="center"
        class="q-pa-lg"
        v-show="!showNextButton"
      >
        <q-btn
          label="ช่วยเหลือ"
          color="light-blue-9"
          style="width:250px"
          push
          icon="far fa-question-circle"
          class="text-h6 text-weight-bold"
          :glossy="$q.theme === 'mat'"
          @click="helpMe(flashcardData[currentQuestion].choices)"
        ></q-btn>
      </div>

      <div
        v-show="showNextButton"
        class="q-pa-lg"
        :class="{'align-right' : innerWidth > 768, 'align-center' : innerWidth <= 768}"
      >
        <q-btn
          @click="nextQuestion()"
          label="ถัดไป"
          style="width:250px"
          color="light-blue-9"
          icon-right="fas fa-arrow-right"
          class="text-h6"
          :glossy="$q.theme === 'mat'"
          push
        ></q-btn>
      </div>
    </div>

    <app-help-vocab
      v-if="showHelp"
      :data="flashcardData[currentQuestion].choices"
      :question="flashcardData[currentQuestion].meaning"
      @help="showHelpPage"
    ></app-help-vocab>
  </div>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
import appHelpVocab from "../components/helpVocab.vue";
export default {
  // name: 'PageName',
  components: {
    appHelpVocab
  },
  data() {
    return {
      currentQuestion: 0,
      nocaps: true,
      matchingSettings: "",
      flashcardData: [],
      choices: [],
      score: 100,
      correctButton: null,
      incorrectButton: [],
      showNextButton: false,
      showHelp: false,
      allowClick: true,
      clickFailed: 0,
      showContent: true,
      order: undefined,
      practiceName: ""
    };
  },
  methods: {
    ...mapActions([
      "setEnglishInstruction",
      "setThaiInstruction",
      "setCurrentQuestion",
      "setTotalQuestion",
      "setShowLayouts",
      "setCharacterAction",
      "setStar", //ดาว
      "setScore", //คะแนน
      "setStar3", //เกณฑ์สามดาว
      "setPassScore", //เซ็ทเกณฑ์การผ่าน
      "setHomeButton",
      "setLogoutButton"
    ]),
    showHelpPage(data) {
      this.setHomeButton(false);
      this.setLogoutButton(false);
      this.showHelp = data.showHelpPage;
      if (this.clickFailed < 2) {
        this.allowClick = true;
      }
      this.setShowLayouts(true);
      this.showContent = true;

      this.setCharacterAction("default");
    },
    async loadMatchingSettings() {
      let matchingRef = await db
        .collection("matching")
        .doc(this.$route.params.practicekey)
        .collection(this.$store.state.system.schoolType.name)
        .doc("data")
        .get();
      this.matchingSettings = matchingRef.data();
      this.setPassScore(this.matchingSettings.passScore);
    },
    async loadFlashcardData() {
      // find flashcard id
      this.showLoading();
      var counter = 0;
      let levelUnit =
        "L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit;
      let orderId = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .doc(this.$route.params.practicekey)
        .get()
        .then(order => {
          this.order = order.data().order;
          this.practiceName = order.data().name;
        });
      let practiceList = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .where("practicetype", "==", "flashcard")
        .get();
      let flashcardKey = practiceList.docs[0].id;

      let flashcardRef = await db
        .collection("flashcard")
        .doc(flashcardKey)
        .collection("server")
        .where(
          "schoolTypeSelected",
          "array-contains",
          this.$store.state.system.schoolType.key
        )
        .get();
      var numberOfFlashcard =
        (this.matchingSettings.flashcardNumber * flashcardRef.size) / 100;
      numberOfFlashcard = Math.floor(numberOfFlashcard);

      if (numberOfFlashcard < 5 && flashcardRef.size > 5) {
        numberOfFlashcard = 5;
      }
      this.setTotalQuestion(numberOfFlashcard);

      var choiceTemp = [];
      var choiceCounter = 0;
      flashcardRef.forEach(flashcard => {
        if (choiceCounter < numberOfFlashcard) {
          choiceTemp.push(flashcard.data().vocabulary);
          choiceCounter++;
        }
      });
      flashcardRef.forEach(element => {
        if (counter < numberOfFlashcard) {
          var findIndexOfCorrect = choiceTemp.indexOf(
            element.data().vocabulary
          );

          var coppyArr = choiceTemp.slice();
          var newArr = [];

          for (let i = 0; i < 4; i++) {
            if (i == 0) {
              newArr[i] = element.data().vocabulary;
              coppyArr.splice(findIndexOfCorrect, 1);
            } else {
              newArr[i] = coppyArr[i];
            }
          }

          this.shuffle(newArr);

          let defineArr = {
            choices: newArr
          };

          let dataFinal = { ...defineArr, ...element.data() };
          this.flashcardData.push(dataFinal);
          counter++;
        }
      });
      this.hideLoading();
      this.shuffle(this.flashcardData);

      this.saveMonitor(
        this.$route.params.practicekey,
        this.flashcardData.length
      );
    },
    checkAnswer(choice) {
      // กรณีตอบถูก

      if (this.allowClick == true) {
        var indexOfChoice = this.flashcardData[
          this.currentQuestion
        ].choices.indexOf(choice);
        if (choice == this.flashcardData[this.currentQuestion].vocabulary) {
          // ตอบถูก
          document.documentElement.scrollTop = this.$store.state.system.innerHeight;
          // this.playSound("./statics/correct.mp3");
          this.correctSoundEffect.volume = 0.1;
          this.correctSoundEffect.play();
          this.setCharacterAction("correct");
          this.correctButton = indexOfChoice;
          this.showNextButton = true;
          this.allowClick = false;
        } else {
          // กรณีตอบผิด

          this.clickFailed += 1;
          // this.playSound("./statics/wrong.mp3");
          this.wrongSoundEffect.volume = 0.1;
          this.wrongSoundEffect.play();
          this.setCharacterAction("incorrect");

          this.score -= 0.5 * (100 / this.flashcardData.length);
          this.incorrectButton.push(indexOfChoice);
          this.allowClick = false;
          // กรณีตอบผิดสองครั้ง
          if (this.clickFailed == 2) {
            this.showNextButton = true;
            this.correctButton = this.flashcardData[
              this.currentQuestion
            ].choices.indexOf(
              this.flashcardData[this.currentQuestion].vocabulary
            );
          } else {
            // โชว์ตัวช่วยในกรณีตอบผิดไม่เกินสองครั้ง
            setTimeout(() => {
              this.helpMe();
            }, 1500);
          }
        }
      }
    },
    nextQuestion() {
      document.documentElement.scrollTop =
        document.getElementById("question-box").offsetTop - 20;

      this.showNextButton = false;
      this.allowClick = true;
      this.clickFailed = 0;

      this.setCharacterAction("default");
      if (this.currentQuestion + 1 < this.flashcardData.length) {
        this.currentQuestion++;
        this.correctButton = null;
        this.incorrectButton = [];
        this.setCurrentQuestion(this.currentQuestion + 1);
      } else {
        this.setScore(this.score);
        this.setStar3(this.matchingSettings.star);
        this.allowClick = false;

        this.savePracticeLog(
          this.$route.params.practicekey,
          this.score,
          "pass",
          this.$store.state.system.star,
          "Vocabulary",
          this.practiceName,
          this.order,
          "Vocabulary Matching"
        );

        this.$router.push("/finishpractice");
      }
    },
    helpMe(choiceArray) {
      this.setHomeButton(true);
      this.setLogoutButton(true);
      this.setShowLayouts(false);
      this.showContent = false;
      this.showHelp = true;
    }
  },
  mounted() {
    this.setCharacterAction("default");
    this.setShowLayouts(true);
    this.setCurrentQuestion(1);
    this.loadMatchingSettings();
    this.loadFlashcardData();
    this.setEnglishInstruction(
      "Choose the English word that matches the Thai definition."
    );
    this.setThaiInstruction("เลือกคำศัพท์ภาษาอังกฤษที่ตรงกับโจทย์ที่ให้");
    this.setStar(3);
  },
  watch: {
    score() {
      let passScore = this.matchingSettings.passScore;
      let star3 = this.matchingSettings.star;
      let star2 = (Number(passScore) + Number(star3)) / 2;
      if (this.score < Number(passScore)) {
        // กรณีทำไม่ผ่าน

        this.savePracticeLog(
          this.$route.params.practicekey,
          this.score,
          "failed",
          0,
          "Vocabulary",
          this.practiceName,
          this.order,
          "Vocabulary Matching"
        );

        this.$router.push(
          "/retrypage/" +
            this.$route.name +
            "/" +
            this.$route.params.practicekey
        );
      } else if (this.score >= star3) {
        // กรณีสามดาว
        this.setStar(3);
      } else if (this.score >= star2) {
        // กรณีสองดาว
        this.setStar(2);
      } else {
        this.setStar(1);
      }
    }
  },
  computed: {
    innerWidth: function() {
      return this.$store.state.system.innerWidth;
    }
  }
};
</script>

<style>
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.btn-l {
  height: 80px;
}
.btn-m {
  height: 70px;
}
.btn-xs {
  height: 35px;
}
.top-5 {
  position: relative;
  top: -5px;
}
.top-7 {
  position: relative;
  top: -10px;
}
</style>
