<template>
  <div
    class="q-pa-sm"
    style="width:100%"
  >
    <div
      v-show="!showContent && !showHelp"
      align="center"
    >
      <q-spinner
        color="primary"
        size="3em"
        :thickness="2"
      />
    </div>
    <div v-show="showContent">
      <div
        class="row bg-amber-1 q-mt-md q-pa-lg"
        style="border-radius:10px;"
        id="question-box"
      >
        <!-- โจทย์Text -->

        <div
          v-if="multipleChoiceData.length && multipleChoiceData[currentQuestion].questionSound == false"
          class="col-12 q-py-md bg-white text-light-blue-10 q-mb-md"
          align="center"
          style="border:5px solid #01579B;border-radius:10px"
          :class="{'font-34' : innerWidth > 1024,'font-28' : innerWidth <= 1024,'font-20':innerWidth < 600}"
          v-show="multipleChoiceData[currentQuestion].question"
        >
          <span v-html="questionShow"></span>
        </div>

        <!-- โจทย์เสียง -->

        <div
          v-else
          class="col-12 q-py-lg bg-white text-weight-bold text-light-blue-10"
          align="center"
          style="border:5px solid #01579B;border-radius:10px"
        >
          <q-btn
            @click="playQuestionSound()"
            label="ฟังเสียงโจทย์"
            icon="fas fa-volume-up"
            size="lg"
            color="light-blue-9"
            v-if="!showNextButton"
            style="min-width:200px"
          ></q-btn>
          <q-btn
            @click="playQuestionSound()"
            :label="multipleChoiceData[currentQuestion].question"
            icon="fas fa-volume-up"
            size="lg"
            color="light-blue-9"
            v-else
            no-caps
            style="min-width:200px"
          ></q-btn>
        </div>

        <template v-if="multipleChoiceData.length">
          <div
            class="col-lg-6 col-xs-12 q-pt-md-lg q-pa-sm "
            v-for="(choice,index) in multipleChoiceData[currentQuestion].choiceArr"
            :key="index"
          >
            <!-- คำตอบ Text -->
            <q-btn
              class="text-white bg-light-blue-8 q-pa-md "
              align="center"
              style="border-radius:10px;width:100%;"
              :disabled="incorrectButton.includes(index)"
              :class="{'bg-teal-5':correctButton == index,'bg-deep-orange-14':incorrectButton.includes(index),'font-24' : innerWidth >599,'font-16' : innerWidth <= 599,}"
              push
              no-caps
              @click="checkAnswer(index)"
              v-if="multipleChoiceData[currentQuestion].answerSound == false"
            >
              <span
                :class="{'top-5' : innerWidth > 1439,'top-7':innerWidth <= 1439}"
                v-html="removeBracket(choice.choice)"
              ></span>
            </q-btn>
            <q-btn
              class="q-pa-lg text-white text-weight-bold bg-light-blue-8"
              align="center"
              style="border-radius:10px;width:100%;"
              :class="{'bg-teal-5':correctButton == index,'bg-deep-orange-14':incorrectButton.includes(index),'font-24' : innerWidth >599,'font-16' : innerWidth <= 599,'text-amber-5' : activeAnswerSoundBtn == index}"
              push
              no-caps
              @click="listenAnswerSound(index)"
              v-else
              icon="fas fa-volume-up"
            >
              &nbsp;&nbsp;
              <span :class="{'top-5' : innerWidth > 1439,'top-7':innerWidth <= 1439}">
                <span v-if="!showNextButton">&nbsp;ฟังเสียงคำตอบ {{choiceConvert(index)}}</span>
                <span
                  v-else
                  v-html="removeBracket(choice.choice)"
                ></span>
              </span>
            </q-btn>

            <!-- คำตอบเสียง -->
          </div>
        </template>

        <!-- คำอธิบาย -->
        <div
          v-show="showNextButton && multipleChoiceData[currentQuestion].description.length"
          class="col-12 q-mt-lg bg-white q-pa-sm"
          :class="{'font-22' : innerWidth > 599,'font-14' : innerWidth < 600}"
          style="border-radius:10px"
          align="center"
        >
          <div
            align="center"
            class="text-weight-bold"
          >คำอธิบาย</div>
          <span
            v-if="multipleChoiceData.length"
            v-html="multipleChoiceData[currentQuestion].description"
          ></span>
        </div>
      </div>

      <!-- ปุ่มส่งคำตอบ ในกรณีที่เป็นคำตอบแบบเสียง -->
      <div
        align="center"
        class="q-pa-lg"
        v-show="showSendAnswerButton"
      >
        <q-btn
          label="ส่งคำตอบ"
          color="light-blue-9"
          style="width:250px"
          push
          icon="far fa-paper-plane"
          class="text-h6 text-weight-bold"
          @click="sendAnswer()"
        ></q-btn>
      </div>

      <div
        align="center"
        class="q-pa-lg"
        v-show="!showNextButton"
      >
        <q-btn
          label="ช่วยเหลือ"
          color="light-blue-9"
          style="width:250px"
          push
          icon="far fa-question-circle"
          class="text-h6 text-weight-bold"
          :glossy="$q.theme === 'mat'"
          @click="helpMe()"
        ></q-btn>
      </div>
      <div
        v-show="showNextButton"
        class="q-pa-lg"
        :class="{'align-right' : innerWidth > 768, 'align-center' : innerWidth <= 768}"
        align="center"
        id="answer-btn"
      >
        <q-btn
          @click="nextQuestion()"
          label="ถัดไป"
          style="width:250px"
          color="light-blue-9"
          icon-right="fas fa-arrow-right"
          class="text-h6"
          :glossy="$q.theme === 'mat'"
          push
        ></q-btn>
      </div>
    </div>

    <app-help-vocab
      v-if="showHelp && practiceHelper == 'flashcard'"
      :data="multipleChoiceData[currentQuestion].correctChoiceArrForHelp"
      :question="multipleChoiceData[currentQuestion].question"
      @help="showHelpPage"
    ></app-help-vocab>
    <app-help-multi
      v-if="showHelp && practiceHelper != 'flashcard' && practiceHelper != 'Conversation' "
      :slide="multipleChoiceData[currentQuestion].slide.split(',')"
      :helper="practiceHelper"
      @help="showHelpPage"
    ></app-help-multi>
    <app-help-conversation
      :question="multipleChoiceData[currentQuestion].question"
      v-if="showHelp && practiceHelper == 'Conversation'"
      @help="showHelpPage"
    ></app-help-conversation>
  </div>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
import appHelpVocab from "../components/helpVocab.vue";
import appHelpMulti from "../components/helpMultipleChoices";
import appHelpConversation from "../components/helpConversation";
export default {
  // name: 'PageName',
  components: {
    appHelpVocab,
    appHelpMulti,
    appHelpConversation
  },
  data() {
    return {
      showNextButton: false,
      showHelp: false,
      multipleChoiceData: [],
      currentQuestion: 0,
      correctButton: undefined,
      incorrectButton: [],
      allowClick: true,
      countIncorrect: 0,
      practiceHelper: "",
      showContent: false,
      activeAnswerSoundBtn: undefined,
      showSendAnswerButton: false,
      settings: "",
      order: 0,
      practiceName: "",
      score: 100
    };
  },
  computed: {
    innerWidth: function() {
      return this.$store.state.system.innerWidth;
    },
    questionShow: function() {
      var audioPath = "https://api.winner-english.com/data/sound_extravocab/";
      let question = this.multipleChoiceData[this.currentQuestion].question;
      if (
        this.multipleChoiceData[this.currentQuestion].extraVocab.length &&
        this.multipleChoiceData[this.currentQuestion].questionSound == false
      ) {
        // กรณีมีคำศัพท์เสริม และโจทย์เป็น Text
        for (
          let i = 0;
          i < this.multipleChoiceData[this.currentQuestion].extraVocab.length;
          i++
        ) {
          let checkExtraword = this.preventExtraword(
            this.multipleChoiceData[this.currentQuestion].extraVocab[i]
              .vocabulary
          );

          if (checkExtraword == 1) {
            let re = new RegExp(
              "\\b" +
                this.multipleChoiceData[this.currentQuestion].extraVocab[
                  i
                ].vocabulary.trim() +
                "\\b"
            );

            let vocabAudioPath = this.multipleChoiceData[
              this.currentQuestion
            ].extraVocab[i].vocabulary.toLowerCase();
            vocabAudioPath = vocabAudioPath.replace(/\'/, "xx");

            question = question.replace(
              re,
              `<span onclick="new Audio('` +
                audioPath +
                vocabAudioPath +
                `.mp3').play()" class='text-teal-5 tooltip' data-tool='` +
                this.multipleChoiceData[this.currentQuestion].extraVocab[i]
                  .meaning +
                `'> ` +
                this.multipleChoiceData[this.currentQuestion].extraVocab[i]
                  .vocabulary +
                `</span>`
            );
            question = question;
          }
        }
        return question;
      } else {
        return question;
      }
    }
  },
  methods: {
    ...mapActions([
      "setEnglishInstruction",
      "setThaiInstruction",
      "setCurrentQuestion",
      "setTotalQuestion",
      "setShowLayouts",
      "setCharacterAction",
      "setStar", //ดาว
      "setScore", //คะแนน
      "setStar3", //เกณฑ์สามดาว
      "setPassScore", //เซ็ทเกณฑ์การผ่าน
      "setMarkerList",
      "setAllowReload",
      "setVdoTeachingPath",
      "setHomeButton",
      "setLogoutButton"
    ]),
    showHelpPage(data) {
      this.setShowLayouts(true);
      this.showContent = true;
      this.setCharacterAction("default");
      this.showHelp = false;
      this.allowClick = true;
      this.setHomeButton(false);
      this.setLogoutButton(false);
    },
    getInstruction() {
      db.collection("multiplechoice")
        .doc(this.$route.params.practicekey)
        .get()
        .then(doc => {
          this.setEnglishInstruction(doc.data().instructionEng);
          this.setThaiInstruction(doc.data().instructionThai);
        });
    },
    getSettings() {
      db.collection("multiplechoice")
        .doc(this.$route.params.practicekey)
        .collection("schooloption")
        .doc(this.$store.state.system.schoolType.name)
        .get()
        .then(doc => {
          this.settings = doc.data();
          this.setPassScore(doc.data().passScore);
          this.setStar3(doc.data().star);
        });
    },
    getMultipleChoiceData() {
      this.showLoading();
      this.getOrder();
      db.collection("multiplechoice")
        .doc(this.$route.params.practicekey)
        .collection("server")
        .where(this.$store.state.system.schoolType.name, "==", true)
        .get()
        .then(doc => {
          this.hideLoading();
          this.setTotalQuestion(doc.size);
          this.saveMonitor(this.$route.params.practicekey, doc.size * 2);
          doc.forEach(element => {
            let extraVocab = [];
            db.collection("multiplechoice")
              .doc(this.$route.params.practicekey)
              .collection("server")
              .doc(element.id)
              .collection("extraVocab")
              .get()
              .then(extra => {
                extra.forEach(extraelement => {
                  extraVocab.push(extraelement.data());
                });

                let choiceArr = [
                  {
                    choice: element.data().choice1,
                    choiceIndex: 1
                  },
                  {
                    choice: element.data().choice2,
                    choiceIndex: 2
                  },
                  {
                    choice: element.data().choice3,
                    choiceIndex: 3
                  },
                  {
                    choice: element.data().choice4,
                    choiceIndex: 4
                  },
                  {
                    choice: element.data().choice5,
                    choiceIndex: 5
                  },
                  {
                    choice: element.data().choice6,
                    choiceIndex: 6
                  },
                  {
                    choice: element.data().choice7,
                    choiceIndex: 7
                  },
                  {
                    choice: element.data().choice8,
                    choiceIndex: 8
                  },
                  {
                    choice: element.data().choice9,
                    choiceIndex: 9
                  },
                  {
                    choice: element.data().choice10,
                    choiceIndex: 10
                  }
                ];

                let choiceArrFiltered = choiceArr.filter(function(el) {
                  return el.choice != "";
                });

                choiceArrFiltered = choiceArrFiltered.filter(function(el) {
                  return el.choice != undefined;
                });
                // ถ้าเป็น Grammar ไม่ให้ Random choices
                if (this.order < 2000) {
                  choiceArrFiltered = this.shuffle(choiceArrFiltered);
                }

                // กรณีเป็น multiple choice vocab
                var correctChoiceArrForHelp = [];
                for (let i = 0; i < choiceArrFiltered.length; i++) {
                  if (choiceArrFiltered[i].choice.match(/\[(.*?)\]/)) {
                    correctChoiceArrForHelp.push(
                      choiceArrFiltered[i].choice.match(/\[(.*?)\]/)[1]
                    );
                  } else {
                    correctChoiceArrForHelp.push(
                      choiceArrFiltered[i].choice.trim()
                    );
                  }
                }
                let questionAudio;
                if (element.data().questionSound) {
                  questionAudio = new Audio(
                    "https://api.winner-english.com/data/sound_question/" +
                      element.id +
                      ".mp3"
                  );
                } else {
                  questionAudio = "";
                }

                let dataAdded = {
                  choiceArr: choiceArrFiltered,
                  correctChoiceArrForHelp: correctChoiceArrForHelp,
                  extraVocab: extraVocab,
                  key: element.id,
                  questionAudio: questionAudio
                };
                let dataFinal = { ...dataAdded, ...element.data() };

                this.multipleChoiceData.push(dataFinal);

                this.multipleChoiceData.sort((a, b) => {
                  return a.order - b.order;
                });

                setTimeout(() => {
                  this.showContent = true;
                  this.hideLoading();
                }, 200);
              });
          });
        });
    },
    checkAnswer(answerIndex) {
      if (this.allowClick) {
        let correctAnswerIndex = this.multipleChoiceData[this.currentQuestion]
          .correctAnswer;
        let realIndex = this.multipleChoiceData[this.currentQuestion].choiceArr[
          answerIndex
        ].choiceIndex;

        let correctIndex = this.multipleChoiceData[
          this.currentQuestion
        ].choiceArr
          .map(e => {
            return e.choiceIndex;
          })
          .indexOf(correctAnswerIndex);

        this.showSendAnswerButton = false;

        if (realIndex == correctAnswerIndex) {
          // กรณีตอบถูก
          document.documentElement.scrollTop = this.$store.state.system.innerHeight;
          this.setCharacterAction("correct");
          this.correctButton = answerIndex;
          this.allowClick = false;
          this.showNextButton = true;
          // this.playSound("../statics/correct.mp3");
          this.correctSoundEffect.volume = 0.1;
          this.correctSoundEffect.play();
        } else {
          // กรณีตอบผิด
          if (
            this.multipleChoiceData[this.currentQuestion].choiceArr.length > 2
          ) {
            // กรณีช้อยส์มากกว่า 2 ช้อยส์ เมื่อตอบผิดจะมีการแสดงตัวช่วยให้อัตโนมัติ
            this.score -= 0.5 * (100 / this.multipleChoiceData.length);

            if (this.countIncorrect < 2) {
              // กรณีตอบผิดให้แสดงตัวช่วย
              this.allowClick = false;
              this.incorrectButton.push(answerIndex);
              this.countIncorrect++;
              this.setCharacterAction("incorrect");
              // this.playSound("../statics/wrong.mp3");
              this.wrongSoundEffect.volume = 0.1;
              this.wrongSoundEffect.play();
            }

            if (this.countIncorrect > 1) {
              this.allowClick = false;
              this.showNextButton = true;
              this.correctButton = correctIndex;
            } else {
              setTimeout(() => {
                this.helpMe();
              }, 1500);
            }
          } else {
            // กรณีช้อยส์ น้อยกว่าหรือเท่ากับสอง
            this.score -= 100 / this.multipleChoiceData.length;
            this.setCharacterAction("incorrect");
            // this.playSound("../statics/wrong.mp3");
            this.wrongSoundEffect.volume = 0.1;
            this.wrongSoundEffect.play();
            this.allowClick = false;
            this.showNextButton = true;
            this.incorrectButton.push(answerIndex);
            this.correctButton = correctIndex;
          }
        }
      }
    },
    playQuestionSound() {
      this.multipleChoiceData[this.currentQuestion].questionAudio.play();
    },
    // ตรวจคำตอบที่เป็นเสียง
    listenAnswerSound(index) {
      if (this.allowClick) {
        this.activeAnswerSoundBtn = index;
        this.showSendAnswerButton = true;
      }
      let realIndex = this.multipleChoiceData[this.currentQuestion].choiceArr[
        index
      ].choiceIndex;

      var soundAnswerPath =
        "https://api.winner-english.com/data/sound_answer/" +
        this.multipleChoiceData[this.currentQuestion].key +
        "-" +
        realIndex +
        ".mp3";

      this.playSound(soundAnswerPath, 1);
    },
    sendAnswer() {
      this.checkAnswer(this.activeAnswerSoundBtn);
    },
    removeBracket(str) {
      // ลบคำในวงเล็บออก เพื่อแสดงผลไม่ให้เห็นคำในวงเล็บ
      var re = new RegExp("\\[.+?\\]", "g");
      if (str) {
        return str.replace(re, "");
      }
    },
    choiceConvert(index) {
      if (index == 0) {
        return "A";
      } else if (index == 1) {
        return "B";
      } else if (index == 2) {
        return "C";
      } else if (index == 3) {
        return "D";
      } else if (index == 4) {
        return "F";
      } else if (index == 5) {
        return "G";
      } else if (index == 6) {
        return "H";
      } else if (index == 7) {
        return "I";
      }
    },
    getHelper() {
      var levelUnit =
        "L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit;
      db.collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .doc(this.$route.params.practicekey)
        .get()
        .then(doc => {
          this.practiceHelper = doc.data().helper;
        });
    },
    helpMe() {
      this.setHomeButton(true);
      this.setLogoutButton(true);
      this.setShowLayouts(false);
      this.showHelp = true;
      this.showContent = false;

      var levelPath =
        this.$store.state.system.currentPracticeLevel < 10
          ? "0" + this.$store.state.system.currentPracticeLevel
          : this.$store.state.system.currentPracticeLevel;
      var unitPath =
        this.$store.state.system.currentPracticeUnit < 10
          ? "0" + this.$store.state.system.currentPracticeUnit
          : this.$store.state.system.currentPracticeUnit;
      var levelUnitPath = "L" + levelPath + "U" + unitPath;

      if (this.practiceHelper == "Grammar VDO") {
        let vdoPath =
          "https://storage.googleapis.com/winnerenglish/upload/uploadvdogrammar/" +
          levelUnitPath +
          ".mp4";
        this.setVdoTeachingPath(vdoPath);
      } else if (this.practiceHelper == "Conversation") {
        let vdoPath =
          "https://storage.googleapis.com/winnerenglish/upload/uploadvdoconversation/" +
          levelUnitPath +
          ".mp4";
        this.setVdoTeachingPath(vdoPath);
      } else if (this.practiceHelper == "Phonics") {
        let vdoPath =
          "https://storage.googleapis.com/winnerenglish/upload/uploadvdophonic/" +
          levelUnitPath +
          ".mp4";
        this.setVdoTeachingPath(vdoPath);
      }
    },
    nextQuestion() {
      this.activeAnswerSoundBtn = undefined;
      document.documentElement.scrollTop =
        document.getElementById("question-box").offsetTop - 20;

      this.setCharacterAction("default");
      if (this.currentQuestion + 1 < this.multipleChoiceData.length) {
        this.countIncorrect = 0;
        this.currentQuestion++;
        this.setCurrentQuestion(this.currentQuestion + 1);
        this.showNextButton = false;
        this.showSendAnswerButton = false;
        this.correctButton = 999;
        this.incorrectButton = [];
        this.allowClick = true;
      } else {
        // ทำครบทุกข้อ
        this.allowClick = false;
        var currentWorld = this.$store.state.system.currentWorld;
        if (currentWorld == 1) {
          // VOCABULARY
          var world = "Vocabulary";
        } else if (currentWorld == 2) {
          var world = "Grammar";
        } else if (currentWorld == 3) {
          var world = "Reading";
        } else if (currentWorld == 4) {
          var world = "Writing";
        } else if (currentWorld == 5) {
          var world = "Listening";
        }

        this.savePracticeLog(
          this.$route.params.practicekey,
          this.score,
          "pass",
          this.$store.state.system.star,
          world,
          this.practiceName,
          this.order,
          "Multiple Choices"
        );
        this.setScore(this.score);
        this.setStar3(this.settings.star);
        this.$router.push("/finishpractice");
      }
    },
    getOrder() {
      let levelUnit =
        "L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit;
      db.collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .doc(this.$route.params.practicekey)
        .get()
        .then(order => {
          this.order = order.data().order;
          this.practiceName = order.data().name;
        });
    }
    // fixedInstruction() {
    //   db.collection("multiplechoice")
    //     .where("instructionEng", "==", "Listen Carefully to all the choices")
    //     .get()
    //     .then(doc => {
    //       let correctInstruction = "Listen carefully to all the choices.";
    //       doc.forEach(element => {
    //         db.collection("multiplechoice")
    //           .doc(element.id)
    //           .update({
    //             instructionEng: correctInstruction
    //           });
    //       });
    //     });
    // }
  },
  mounted() {
    //this.fixedInstruction();
    this.getInstruction();
    this.getMultipleChoiceData();
    this.setCurrentQuestion(1);
    this.getHelper();
    this.setShowLayouts(true);
    this.setCharacterAction("default");
    this.getSettings();
    this.setStar(3);
  },
  watch: {
    score() {
      let passScore = this.settings.passScore;
      let star3 = this.settings.star;
      let star2 = (Number(passScore) + Number(star3)) / 2;
      if (this.score < Number(passScore)) {
        // กรณีทำไม่ผ่าน

        var currentWorld = this.$store.state.system.currentWorld;
        if (currentWorld == 1) {
          // VOCABULARY
          var world = "Vocabulary";
        } else if (currentWorld == 2) {
          var world = "Grammar";
        } else if (currentWorld == 3) {
          var world = "Reading";
        } else if (currentWorld == 4) {
          var world = "Writing";
        } else if (currentWorld == 5) {
          var world = "Listening";
        }

        this.savePracticeLog(
          this.$route.params.practicekey,
          this.score,
          "failed",
          0,
          world,
          this.practiceName,
          this.order,
          "Multiple Choices"
        );

        this.$router.push(
          "/retrypage/" +
            this.$route.name +
            "/" +
            this.$route.params.practicekey
        );
      } else if (this.score >= star3) {
        // กรณีสามดาว
        this.setStar(3);
      } else if (this.score >= star2) {
        // กรณีสองดาว
        this.setStar(2);
      } else {
        this.setStar(1);
      }
    }
  }
};
</script>

<style>
</style>
