<template>
  <div>
    <!-- content -->
    <div
      class="bg-light-blue-9 row q-mt-md q-pa-xs"
      style="border-radius:10px"
    >
      <!-- TITLE CONTENT -->
      <div
        class="text-white text-weight-bold q-pa-sm col-12"
        align="center"
        :class="{'font-30' : innerWidth > 1024,'font-22' : innerWidth <=1024,'font-14' :innerWidth < 600}"
      >
        <span
          v-if="swapLanguage == 'en'"
          v-html="readingContentData.titleEng"
        ></span>
        <span
          v-else
          v-html="readingContentData.titleThai"
        ></span>
      </div>

      <div
        class="bg-white col-12 q-pa-md"
        style="border-radius:10px"
      >
        <div align="right">
          <q-btn
            round
            icon="fas fa-volume-up"
            :class="{'animated flash infinite ' : isPlay}"
            style="animation-duration: 1s"
            color="light-blue-9"
            @click="playReadingSound()"
          ></q-btn>
        </div>
        <!-- รูปภาพ -->
        <div
          align="center"
          class="q-mt-md"
        >
          <img
            style="max-width:900px;width:100%"
            :src="readingImg"
            alt
          />
        </div>

        <span :class="{'font-20' : innerWidth > 599,'font-14' : innerWidth <= 599}">
          <!-- COMPUTED READING ENGLISH CONTENT -->
          <div
            class="q-pa-md"
            v-if="swapLanguage == 'en'"
          >
            <span v-html="readingEngContent"></span>
          </div>
          <div v-else>{{readingContentData.contentThai}}</div>
        </span>
      </div>
    </div>

    <!-- PRACTICE -->
    <div
      class="bg-amber-1 q-pa-lg q-mt-sm"
      style="border-radius:10px"
      v-show="showPractice"
    >
      <!-- คำถาม -->
      <div
        style="border:5px solid #01579B;border-radius:10px"
        class="bg-white q-pa-md text-light-blue-9 text-weight-bold"
        :class="{'font-30' : innerWidth > 1439,'font-28' : innerWidth <= 1439,'font-22' : innerWidth <1025,'font-14' : innerWidth < 600}"
        align="center"
        v-if="readingPracticeData.length"
        v-html="questionShow"
      ></div>

      <!-- ANSWER BUTTON SECTION -->
      <div
        class="row q-mt-md q-pa-sm items-center"
        style="margin:auto"
        v-if="readingPracticeData.length"
        :class="{'w-50': readingPracticeData[currentQuestion].maxLength <= 25 && innerWidth > 600,'w-100' : readingPracticeData[currentQuestion].maxLength > 25}"
      >
        <div
          align="center"
          class="q-pa-sm"
          :class="{'col-12' : readingPracticeData[currentQuestion].maxLength > 25,'col-xs-12 col-md-6' : readingPracticeData[currentQuestion].maxLength <= 25}"
          v-for="(item,index) in readingPracticeData[currentQuestion].choice"
          :key="index"
        >
          <q-btn
            class="q-pa-sm text-weight-bold"
            color="light-blue-9"
            :label="item.choice"
            :class="{'font-24' : innerWidth > 599,'font-16' : innerWidth <=599,'bg-deep-orange-14':wrongButton.includes(index),'bg-teal-5':correctButton == index,'btn-answer-l' : innerWidth > 1439,'btn-answer-s' : innerWidth <=1439}"
            push
            @click="checkAnswer(index)"
            no-caps
          ></q-btn>
        </div>
      </div>

      <!-- DESCRIPTION SECTION -->
      <div
        style="border-radius:10px"
        class="bg-white q-pa-md q-mt-md"
        :class="{'font-24' : innerWidth > 1025,'font-20' : innerWidth <= 1024,'font-14' : innerWidth < 600}"
        align="center"
        v-if="readingPracticeData.length"
        v-show="showNextButton"
      >
        <div class="text-light-blue-9 text-weight-bold">คำอธิบาย</div>
        <div v-html="readingPracticeData[currentQuestion].description"></div>
      </div>
    </div>

    <!-- เนื้อเรื่องภาษาไทยตอนจบ -->
    <div
      class="bg-amber-1 q-pa-lg q-mt-sm"
      style="border-radius:10px"
      v-show="!showPractice"
    >
      <div
        style="text-align:center;width:100%"
        :class="{'font-24' : innerWidth > 1025,'font-20' : innerWidth <= 1024,'font-14' : innerWidth < 600}"
        class="text-weight-bold"
      >คำแปล</div>
      <div
        :class="{'font-20' : innerWidth > 599,'font-12' : innerWidth <= 599}"
        v-html="contentThai"
      ></div>
      <div align="right">
        <q-btn
          @click="finishReadingPractice()"
          label="ถัดไป"
          style="width:250px"
          color="light-blue-9"
          icon-right="fas fa-arrow-right"
          class="text-h6"
          push
        ></q-btn>
      </div>
    </div>

    <!-- ปุ่มถัดไป -->
    <div
      v-show="showNextButton"
      class="q-pa-lg"
      :class="{'align-right' : innerWidth > 768, 'align-center' : innerWidth <= 768}"
      align="center"
    >
      <q-btn
        @click="nextQuestion()"
        label="ถัดไป"
        style="width:250px"
        color="light-blue-9"
        icon-right="fas fa-arrow-right"
        class="text-h6"
        :glossy="$q.theme === 'mat'"
        push
      ></q-btn>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";

var testFunc = function() {
  console.log("12343");
};

export default {
  // name: 'PageName',
  data() {
    return {
      readingContentData: [],
      readingPracticeData: [],
      readingSettings: [],
      swapLanguage: "en",
      currentQuestion: 0,
      showNextButton: false,
      score: 100,
      countIncorrentAmount: 0,
      readingImg: "",
      readingExtraVocab: [],
      wrongButton: [],
      correctButton: 999,
      allowClickAnswer: true,
      order: undefined,
      practiceName: "",
      readingSoundPath:
        "https://api.winner-english.com/data/sound_reading/L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit +
        ".mp3",
      isPlay: false,
      showPractice: true
    };
  },
  methods: {
    ...mapActions([
      "setEnglishInstruction",
      "setThaiInstruction",
      "setCurrentQuestion",
      "setTotalQuestion",
      "setShowLayouts",
      "setCharacterAction",
      "setStar", //ดาว
      "setScore", //คะแนน
      "setStar3", //เกณฑ์สามดาว
      "setPassScore" //เซ็ทเกณฑ์การผ่าน
    ]),
    getReadingInstruction() {
      // โหลดคำสั่งภาษาไทยและอังกฤษ เก็บเข้าสู่ Vue-X
      this.showLoading();
      db.collection("readingmultiple")
        .doc(this.$route.params.practicekey)
        .get()
        .then(doc => {
          this.setEnglishInstruction(doc.data().instructioneng);
          this.setThaiInstruction(doc.data().instructionthai);
          this.hideLoading();
        });
    },
    // โหลดเนื้อเรื่อง
    getReadingContent() {
      this.showLoading();
      db.collection("readingmultiple")
        .doc(this.$route.params.practicekey)
        .collection("server")
        .doc("data")
        .collection("content")
        .get()
        .then(doc => {
          doc.forEach(element => {
            this.readingContentData = element.data();
            this.readingContentData.soundPath = new Audio(
              this.readingSoundPath
            );
            db.collection("readingmultiple")
              .doc(this.$route.params.practicekey)
              .collection("server")
              .doc("data")
              .collection("content")
              .doc(element.id)
              .collection("extraWord")
              .get()
              .then(extra => {
                // โหลดคำศัพท์เสริม
                extra.forEach(element => {
                  this.readingExtraVocab.push(element.data());
                });
                this.hideLoading();
              });
          });
        });
    },
    // โหลดแบบฝึกหัด
    getReadingPractice() {
      testFunc();
      this.showLoading();
      this.readingImg =
        "https://api.winner-english.com/data/pic_reading/L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit +
        ".jpg";
      db.collection("readingmultiple")
        .doc(this.$route.params.practicekey)
        .collection("server")
        .doc("data")
        .collection("practice")
        .where(this.$store.state.system.schoolType.name, "==", true)
        .get()
        .then(doc => {
          this.setTotalQuestion(doc.size);

          this.saveMonitor(this.$route.params.practicekey, doc.size * 2);

          doc.forEach(element => {
            db.collection("readingmultiple")
              .doc(this.$route.params.practicekey)
              .collection("server")
              .doc("data")
              .collection("practice")
              .doc(element.id)
              .collection("extraVocab")
              .get()
              .then(extra => {
                let extraVocab = [];
                extra.forEach(element => {
                  extraVocab.push(element.data());
                });

                let answerArr = [
                  {
                    choice: element.data().choice1,
                    choiceIndex: 1
                  },
                  {
                    choice: element.data().choice2,
                    choiceIndex: 2
                  },
                  {
                    choice: element.data().choice3,
                    choiceIndex: 3
                  },
                  {
                    choice: element.data().choice4,
                    choiceIndex: 4
                  },
                  {
                    choice: element.data().choice5,
                    choiceIndex: 5
                  },
                  {
                    choice: element.data().choice6,
                    choiceIndex: 6
                  },
                  {
                    choice: element.data().choice7,
                    choiceIndex: 7
                  },
                  {
                    choice: element.data().choice8,
                    choiceIndex: 8
                  },
                  {
                    choice: element.data().choice9,
                    choiceIndex: 9
                  },
                  {
                    choice: element.data().choice10,
                    choiceIndex: 10
                  }
                ];

                let choiceArrFiltered = answerArr.filter(function(el) {
                  return el.choice != "";
                });

                choiceArrFiltered = choiceArrFiltered.filter(function(el) {
                  return el.choice != undefined;
                });

                // Random choice
                // this.shuffle(choiceArrFiltered);

                var maxLength = [];
                for (let i = 0; i < choiceArrFiltered.length; i++) {
                  maxLength.push(choiceArrFiltered[i].choice.length);
                }

                maxLength = Math.max.apply(Math, maxLength);

                let dataAdded = {
                  key: element.id,
                  maxLength: maxLength,
                  choice: choiceArrFiltered,
                  extraVocab: extraVocab
                };

                let dataFinal = { ...dataAdded, ...element.data() };

                this.readingPracticeData.push(dataFinal);
                this.readingPracticeData.sort((a, b) => {
                  return a.order - b.order;
                });
              });

            this.hideLoading();
          });
        });
    },
    getReadingSettings() {
      this.showLoading();
      db.collection("readingmultiple")
        .doc(this.$route.params.practicekey)
        .collection("schooloption")
        .doc(this.$store.state.system.schoolType.name)
        .get()
        .then(doc => {
          this.readingSettings = doc.data();
          this.hideLoading();
        });
    },
    playReadingSound() {
      this.isPlay = !this.isPlay;
      this.playReading(this.readingContentData.soundPath, this.isPlay);
      // if (this.isPlay) {
      //   this.readingContentData.soundPath.play();
      // } else {
      //   this.readingContentData.soundPath.currentTime = 0;
      //   this.readingContentData.soundPath.pause();
      // }
    },
    checkAnswer(answer) {
      let correctAnswer = this.readingPracticeData[this.currentQuestion]
        .correctAnswer;

      let realAnswerIndex = this.readingPracticeData[this.currentQuestion]
        .choice[answer].choiceIndex;

      let correctObj = this.readingPracticeData[
        this.currentQuestion
      ].choice.filter(function(el) {
        return el.choiceIndex == correctAnswer;
      });

      let indexOfCorrectButton = this.readingPracticeData[
        this.currentQuestion
      ].choice.indexOf(correctObj[0]);

      if (this.allowClickAnswer) {
        if (realAnswerIndex == correctAnswer) {
          // กรณีตอบถูก
          // this.playSound("../statics/correct.mp3");
          this.correctSoundEffect.volume = 0.1;
          this.correctSoundEffect.play();
          this.correctButton = answer;
          this.showNextButton = true;
          this.allowClickAnswer = false;
        } else {
          // กรณีตอบผิด
          // this.playSound("../statics/wrong.mp3");
          this.wrongSoundEffect.volume = 0.1;
          this.wrongSoundEffect.play();
          if (
            this.readingPracticeData[this.currentQuestion].choice.length > 2
          ) {
            this.countIncorrentAmount++;
            this.wrongButton.push(answer);
            this.score -= 50 / this.$store.state.system.totalQuestion;
            this.allowClickAnswer = false;
            // delay ไม่ไห้กดตอบรัว
            if (this.countIncorrentAmount < 2) {
              setTimeout(() => {
                this.allowClickAnswer = true;
              }, 1000);
            }
          } else {
            // กรณีช้อยส์น้อยกว่า 2 ช้อยส์ ให้เฉลยเลย
            this.wrongButton.push(answer);
            this.showNextButton = true;
            this.allowClickAnswer = false;
            this.correctButton = indexOfCorrectButton;
            this.score -= 100 / this.$store.state.system.totalQuestion;
          }
        }
        // กรณีตอบผิดสองครั้ง
        if (this.countIncorrentAmount > 1) {
          this.showNextButton = true;
          this.allowClickAnswer = false;
          this.correctButton = indexOfCorrectButton;
        }
      }
    },
    nextQuestion() {
      this.showNextButton = false;
      this.allowClickAnswer = true;
      this.wrongButton = [];
      this.countIncorrentAmount = 0;
      this.correctButton = 999;
      if (this.currentQuestion + 1 < this.$store.state.system.totalQuestion) {
        // กรณียังมีข้อถัดไป
        this.currentQuestion += 1;
        this.setCurrentQuestion(this.currentQuestion + 1);
      } else {
        // กรณีทำเสร็จหมดทุกข้อ
        this.showPractice = false;
        this.setScore(this.score);
        this.allowClickAnswer = false;
        this.setStar3(this.readingSettings.star);
        this.savePracticeLog(
          this.$route.params.practicekey, //practicekey
          this.score, // score
          "pass", // status
          this.$store.state.system.star, //star
          "Reading", //world,
          this.practiceName,
          this.order,
          "Reading Multiple Choices"
        );
      }
    },
    finishReadingPractice() {
      this.$router.push("/finishpractice");
    },
    getOrder() {
      let levelUnit =
        "L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit;
      db.collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .doc(this.$route.params.practicekey)
        .get()
        .then(order => {
          this.order = order.data().order;
          this.practiceName = order.data().name;
        });
    }
  },
  computed: {
    innerWidth: function() {
      return this.$store.state.system.innerWidth;
    },
    readingEngContent: function() {
      var audioPath = "https://api.winner-english.com/data/sound_extravocab/";

      if (this.countIncorrentAmount > 0 || this.showNextButton) {
        if (
          this.readingPracticeData.length &&
          this.readingPracticeData[this.currentQuestion].hightlight.length > 0
        ) {
          let finalContent = this.readingContentData.contentEng
            .replace(/&nbsp;/g, " ")
            .replace(/ {1,}/g, " ")
            .trim();
          let reTab = new RegExp("\\[tab]", "g");
          finalContent = finalContent.replace(
            reTab,
            "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
          );
          // กรณีมีการกรอก highlight
          let highlightText = this.readingPracticeData[
            this.currentQuestion
          ].hightlight.filter(function(el) {
            return el != "";
          });

          for (let i = 0; i < highlightText.length; i++) {
            // console.log(highlightText[i]);
            // let re = new RegExp("\\b((?!class=))" + highlightText[i].trim());
            // finalContent = finalContent.replace(
            //   re,
            //   `<span class='bg-yellow-9'>` + highlightText[i] + `</span>`
            // );
            finalContent = finalContent.replace(
              highlightText[i],
              `<span class='bg-yellow-9'>` + highlightText[i] + `</span>`
            );
            finalContent = finalContent;
          }
          // console.log(finalContent);
          // กรณีมีไฮไลท์และคำศัพท์เสริม
          if (this.readingExtraVocab.length) {
            for (let i = 0; i < this.readingExtraVocab.length; i++) {
              let checkExtraword = this.preventExtraword(
                this.readingExtraVocab[i].vocabulary
              );
              if (checkExtraword == 1) {
                let re = new RegExp(
                  "\\b((?!class=))" +
                    this.readingExtraVocab[i].vocabulary.trim() +
                    "\\b",
                  "g"
                );

                let vocabLowerCase = this.readingExtraVocab[
                  i
                ].vocabulary.toLowerCase();
                vocabLowerCase = vocabLowerCase.replace(/\'/, "xx");

                finalContent = finalContent.replace(
                  re,
                  `<span onclick="new Audio('` +
                    audioPath +
                    vocabLowerCase +
                    `.mp3').play()" class='text-teal-5 tooltip' data-tool='` +
                    this.readingExtraVocab[i].meaning +
                    `'> ` +
                    this.readingExtraVocab[i].vocabulary +
                    `</span>`
                );
              }
            }
            return finalContent;
          } else {
            return finalContent;
          }
        } else {
          // กรณีไม่มี highlight
          if (this.readingExtraVocab.length) {
            let finalContent = this.readingContentData.contentEng
              .replace(/&nbsp;/g, " ")
              .replace(/ {1,}/g, " ")
              .trim();
            let reTab = new RegExp("\\[tab]", "g");
            finalContent = finalContent.replace(
              reTab,
              "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
            );
            for (let i = 0; i < this.readingExtraVocab.length; i++) {
              let checkExtraword = this.preventExtraword(
                this.readingExtraVocab[i].vocabulary
              );

              if (checkExtraword == 1) {
                let re = new RegExp(
                  "\\b" + this.readingExtraVocab[i].vocabulary.trim() + "\\b",
                  "g"
                );
                let vocabLowerCase = this.readingExtraVocab[
                  i
                ].vocabulary.toLowerCase();
                vocabLowerCase = vocabLowerCase.replace(/\'/, "xx");
                finalContent = finalContent.replace(
                  re,
                  `<span onclick="new Audio('` +
                    audioPath +
                    vocabLowerCase +
                    `.mp3').play()" class='text-teal-5 tooltip' data-tool='` +
                    this.readingExtraVocab[i].meaning +
                    `'> ` +
                    this.readingExtraVocab[i].vocabulary +
                    `</span>`
                );
              }
            }
            return finalContent;
          } else {
            if (this.readingContentData.contentEng) {
              return this.readingContentData.contentEng
                .replace(/&nbsp;/g, " ")
                .replace(/ {1,}/g, " ");
            }
          }
        }
      } else {
        // กรณีมีคำศัพท์เสริม
        if (this.readingExtraVocab.length) {
          let finalContent = this.readingContentData.contentEng
            .replace(/&nbsp;/g, " ")
            .replace(/ {1,}/g, " ")
            .trim();
          let reTab = new RegExp("\\[tab]", "g");
          finalContent = finalContent.replace(
            reTab,
            "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
          );
          for (let i = 0; i < this.readingExtraVocab.length; i++) {
            let checkExtraword = this.preventExtraword(
              this.readingExtraVocab[i].vocabulary
            );
            if (checkExtraword == 1) {
              let re = new RegExp(
                "\\b" + this.readingExtraVocab[i].vocabulary.trim() + "\\b",
                "g"
              );
              let mainVocab = this.readingExtraVocab[
                i
              ].vocabulary.toLowerCase();

              let mainVocabPath = mainVocab.replace(/\'/, "xx");
              mainVocabPath = mainVocabPath.toLowerCase();

              finalContent = finalContent.replace(
                re,
                `<span onclick="new Audio('` +
                  audioPath +
                  mainVocabPath +
                  `.mp3').play()" class='text-teal-5 tooltip' data-tool='` +
                  this.readingExtraVocab[i].meaning +
                  `'>` +
                  this.readingExtraVocab[i].vocabulary +
                  `</span>`
              );
            }
          }
          return finalContent;
        } else {
          if (this.readingContentData.contentEng) {
            return this.readingContentData.contentEng
              .replace(/&nbsp;/g, " ")
              .replace(/ {1,}/g, " ");
          }
        }
      }
    },
    questionShow: function() {
      // กรณีมีคำศัพท์เสริมในโจทย์
      var question = this.readingPracticeData[
        this.currentQuestion
      ].question.trim();
      var audioPath = "https://api.winner-english.com/data/sound_extravocab/";
      if (
        this.readingPracticeData[this.currentQuestion].extraVocab.length > 0
      ) {
        for (
          let i = 0;
          i < this.readingPracticeData[this.currentQuestion].extraVocab.length;
          i++
        ) {
          let re = new RegExp(
            "\\b" +
              this.readingPracticeData[this.currentQuestion].extraVocab[
                i
              ].vocabulary.trim() +
              "\\b",
            "g"
          );
          question = question.replace(
            re,
            `<span onclick="new Audio('` +
              audioPath +
              this.readingPracticeData[this.currentQuestion].extraVocab[
                i
              ].vocabulary.toLowerCase() +
              `.mp3').play()" class='text-teal-5 tooltip' data-tool='` +
              this.readingPracticeData[this.currentQuestion].extraVocab[i]
                .meaning +
              `'> ` +
              this.readingPracticeData[this.currentQuestion].extraVocab[i]
                .vocabulary +
              `</span>`
          );
          // question = question
        }
        return question;
      } else {
        return question;
      }
    },
    contentThai: function() {
      if (this.readingPracticeData.length) {
        let reTab = new RegExp("\\[tab]", "g");
        let finalContent = this.readingContentData.contentThai.replace(
          reTab,
          "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
        );
        return finalContent;
      }
    }
  },
  mounted() {
    this.getOrder();
    this.getReadingContent();
    this.getReadingPractice();
    this.getReadingInstruction();
    this.getReadingSettings();
    this.setCurrentQuestion(1);
    this.setStar(3);
  },
  watch: {
    score() {
      let passScore = this.readingSettings.passScore;
      let star3 = this.readingSettings.star;
      let star2 = (Number(passScore) + Number(star3)) / 2;
      if (this.score < Number(passScore)) {
        // กรณีทำไม่ผ่าน

        this.savePracticeLog(
          this.$route.params.practicekey, //practicekey
          this.score, // score
          "failed", // status
          0, //star
          "Reading", //world,
          this.practiceName, // practicename
          this.order, //practice order
          "Reading Multiple Choices" //practicetype
        );

        this.$router.push(
          "/retrypage/" +
            this.$route.name +
            "/" +
            this.$route.params.practicekey
        );
      } else if (this.score >= star3) {
        // กรณีสามดาว
        this.setStar(3);
      } else if (this.score >= star2) {
        // กรณีสองดาว
        this.setStar(2);
      } else {
        this.setStar(1);
      }
    }
  }
};
</script>

<style>
.default-border {
  border: 5px solid #01579b;
  border-radius: 10px;
}
.correct-border {
  border: 5px solid #00bfa5;
  border-radius: 10px;
}
.wrong-border {
  border: 5px solid #b71c1c;
  border-radius: 10px;
}
.answer-effect {
  animation: flash 1s 1;
}
.pointer:hover {
  cursor: pointer;
}
.w-50 {
  width: 60%;
}
.w-100 {
  width: 100%;
}
@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
.btn-answer-l {
  max-width: 400px;
  width: 100%;
}
.btn-answer-s {
  width: 100%;
}
</style>
