<template>
  <div padding>
    <!-- content -->
    <div class="bg-light-blue-9 row q-mt-md q-pa-xs" style="border-radius:10px">
      <!-- TITLE CONTENT -->
      <div
        class="text-white text-weight-bold q-pa-sm col-12"
        align="center"
        :class="{'font-30' : innerWidth > 1024,'font-22' : innerWidth <=1024,'font-14' :innerWidth < 600}"
      >
        <span v-if="swapLanguage == 'en'" v-html="readingContentData.titleEng"></span>
        <span v-else v-html="readingContentData.titleThai"></span>
      </div>

      <div class="bg-white col-12 q-pa-md" style="border-radius:10px">
        <div align="right">
          <q-btn
            round
            icon="fas fa-volume-up"
            color="light-blue-9"
            :class="{'animated flash infinite ' : isPlay}"
            style="animation-duration: 1s"
            @click="playReadingSound()"
          ></q-btn>
        </div>
        <!-- รูปภาพ -->
        <div align="center">
          <img v-lazy="imgPath" style="max-width:900px;width:100%" alt />
        </div>
        <span :class="{'font-20' : innerWidth > 599,'font-14' : innerWidth <= 599}">
          <!-- COMPUTED READING ENGLISH CONTENT -->
          <div v-if="swapLanguage == 'en'" v-html="readingEngContent"></div>
          <div v-else>{{readingContentData.contentThai}}</div>
        </span>
      </div>
    </div>

    <!-- PRACTICE -->
    <div class="bg-amber-1 q-pa-md q-mt-sm" style="border-radius:10px" v-show="showPractice">
      <div
        style="border:5px solid #01579B;border-radius:10px"
        class="bg-white q-pa-md text-light-blue-9"
        :class="{'font-24' : innerWidth > 1025,'font-20' : innerWidth <= 1024,'font-14' : innerWidth < 600}"
        align="center"
        v-if="readingPracticeData.length"
        v-html="readingPracticeData[currentQuestion].showQuestion"
      ></div>

      <!-- DESCRIPTION SECTION -->
      <div
        style="border-radius:10px"
        class="bg-white q-pa-md q-mt-md"
        :class="{'font-24' : innerWidth > 1025,'font-20' : innerWidth <= 1024,'font-14' : innerWidth < 600}"
        align="center"
        v-if="readingPracticeData.length"
        v-show="showNextButton"
      >
        <div class="text-light-blue-9 text-weight-bold">คำอธิบาย</div>
        <div v-html="readingPracticeData[currentQuestion].question"></div>
        <div v-html="readingPracticeData[currentQuestion].meaning"></div>
      </div>
    </div>

    <!-- เนื้อเรื่องภาษาไทยตอนจบ -->
    <div class="bg-amber-1 q-pa-lg q-mt-sm" style="border-radius:10px" v-show="!showPractice">
      <div
        style="text-align:center;width:100%"
        :class="{'font-24' : innerWidth > 1025,'font-20' : innerWidth <= 1024,'font-14' : innerWidth < 600}"
        class="text-weight-bold"
      >คำแปล</div>
      <div
        :class="{'font-20' : innerWidth > 599,'font-12' : innerWidth <= 599}"
        v-html="contentThai"
      ></div>
      <div align="right">
        <q-btn
          @click="finishReadingPractice()"
          label="ถัดไป"
          style="width:250px"
          color="light-blue-9"
          icon-right="fas fa-arrow-right"
          class="text-h6"
          push
        ></q-btn>
      </div>
    </div>

    <!-- ปุ่มส่งคำตอบ -->
    <div
      v-show="!showNextButton && showPractice"
      class="q-pa-lg"
      :class="{'align-right' : innerWidth > 768, 'align-center' : innerWidth <= 768}"
      align="center"
    >
      <q-btn
        @click="checkAnswer()"
        label="ส่งคำตอบ"
        style="width:250px"
        color="light-blue-9"
        icon="fas fa-paper-plane"
        class="text-h6"
        :glossy="$q.theme === 'mat'"
        push
      ></q-btn>
    </div>

    <!-- ปุ่มถัดไป -->
    <div
      v-show="showNextButton"
      class="q-pa-lg"
      :class="{'align-right' : innerWidth > 768, 'align-center' : innerWidth <= 768}"
      align="center"
    >
      <q-btn
        @click="nextQuestion()"
        label="ถัดไป"
        style="width:250px"
        color="light-blue-9"
        icon-right="fas fa-arrow-right"
        class="text-h6"
        :glossy="$q.theme === 'mat'"
        push
      ></q-btn>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  // name: 'PageName',
  data() {
    return {
      readingContentData: [],
      readingPracticeData: [],
      readingSettings: [],
      swapLanguage: "en",
      currentQuestion: 0,
      showNextButton: false,
      score: 100,
      countIncorrentAmount: 0,
      readingExtraVocab: [],
      order: 0,
      practiceName: "",
      readingSoundPath:
        "https://api.winner-english.com/data/sound_reading/L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit +
        ".mp3",
      showPractice: true,
      isPlay: false
    };
  },
  methods: {
    ...mapActions([
      "setEnglishInstruction",
      "setThaiInstruction",
      "setCurrentQuestion",
      "setTotalQuestion",
      "setShowLayouts",
      "setCharacterAction",
      "setStar", //ดาว
      "setScore", //คะแนน
      "setStar3", //เกณฑ์สามดาว
      "setPassScore" //เซ็ทเกณฑ์การผ่าน
    ]),
    getReadingInstruction() {
      // โหลดคำสั่งภาษาไทยและอังกฤษ เก็บเข้าสู่ Vue-X
      this.showLoading();
      db.collection("readingfillin")
        .doc(this.$route.params.practicekey)
        .get()
        .then(doc => {
          this.setEnglishInstruction(doc.data().instructioneng);
          this.setThaiInstruction(doc.data().instructionthai);
          this.hideLoading();
        });
    },
    // โหลดเนื้อเรื่อง
    getReadingContent() {
      this.showLoading();
      db.collection("readingfillin")
        .doc(this.$route.params.practicekey)
        .collection("server")
        .doc("data")
        .collection("content")
        .get()
        .then(doc => {
          doc.forEach(element => {
            this.readingContentData = element.data();
            this.readingContentData.soundPath = new Audio(
              this.readingSoundPath
            );
            db.collection("readingfillin")
              .doc(this.$route.params.practicekey)
              .collection("server")
              .doc("data")
              .collection("content")
              .doc(element.id)
              .collection("extraWord")
              .get()
              .then(extra => {
                // โหลดคำศัพท์เสริม
                extra.forEach(element => {
                  this.readingExtraVocab.push(element.data());
                });
                this.hideLoading();
              });
          });
        });
    },
    // โหลดแบบฝึกหัด
    getReadingPractice() {
      this.showLoading();

      db.collection("readingfillin")
        .doc(this.$route.params.practicekey)
        .collection("server")
        .doc("data")
        .collection("practice")
        .where(this.$store.state.system.schoolType.name, "==", true)
        .get()
        .then(doc => {
          this.setTotalQuestion(doc.size);
          this.saveMonitor(this.$route.params.practicekey, doc.size * 2);
          doc.forEach(element => {
            let countUnderline = element
              .data()
              .question.match(/<span [^>]+>([^<]+)<\/span>/).length;

            var question = element.data().question;
            var description = element.data().question;

            for (let i = 0; i < countUnderline; i++) {
              let answerTemp = "answer" + (i + 1);
              let answerLength;
              // console.log(element.data()[answerTemp][i].length);
              if (element.data()[answerTemp][i]) {
                answerLength = element.data()[answerTemp][i].length;
              } else {
                answerLength = 5;
              }
              answerLength = answerLength * 25;
              answerLength = answerLength + 30;
              let inputLength = "width:" + answerLength + "px";

              question = question.replace(
                /<span [^>]+>([^<]+)<\/span>/,
                "<input autocomplete='off' align='middle' style='" +
                  inputLength +
                  ";outline:none' id='answer" +
                  (i + 1) +
                  "' type='text' class='default-border  q-pa-sm'   >"
              );
            }

            let dataAdded = {
              key: element.id,
              showQuestion: question,
              countUnderline: element
                .data()
                .question.match(/<span [^>]+>([^<]+)<\/span>/g).length
            };

            let dataFinal = { ...dataAdded, ...element.data() };
            this.readingPracticeData.push(dataFinal);
            this.readingPracticeData.sort((a, b) => {
              return a.orderid - b.orderid;
            });
          });

          this.readingPracticeData.sort((a, b) => {
            return a.orderid - b.orderid;
          });
          this.hideLoading();
        });
    },
    getReadingSettings() {
      this.showLoading();
      db.collection("readingfillin")
        .doc(this.$route.params.practicekey)
        .collection("schooloption")
        .doc(this.$store.state.system.schoolType.name)
        .get()
        .then(doc => {
          this.readingSettings = doc.data();
          this.hideLoading();
        });
    },
    playReadingSound() {
      this.isPlay = !this.isPlay;
      if (this.isPlay) {
        this.readingContentData.soundPath.play();
      } else {
        this.readingContentData.soundPath.currentTime = 0;
        this.readingContentData.soundPath.pause();
      }
    },
    checkAnswer() {
      // จำนวนช่องคำตอบ
      var incorrect = 0;
      for (
        let i = 0;
        i < this.readingPracticeData[this.currentQuestion].countUnderline;
        i++
      ) {
        let answerNum = "answer" + (i + 1);
        let answer = document.getElementById("answer" + (i + 1)).value;
        answer = answer.trim();
        if (
          this.readingPracticeData[this.currentQuestion][answerNum].includes(
            answer
          )
        ) {
          document.getElementById(answerNum).classList.remove("wrong-border");

          document
            .getElementById(answerNum)
            .classList.add("correct-border", "answer-effect");
          document
            .getElementById(answerNum)
            .setAttribute("contenteditable", false);
          // กรณีตอบถูก
        } else {
          // กรณีตอบผิด
          this.score -= 0.5 * (100 / this.$store.state.system.totalQuestion);
          document
            .getElementById(answerNum)
            .classList.add("wrong-border", "answer-effect");
          incorrect++;
        }
      }

      if (incorrect == 0 || this.countIncorrentAmount > 0) {
        // กรณีถูกทั้งหมด
        this.showNextButton = true;
        if (incorrect == 0) {
          // this.playSound("../statics/correct.mp3");
          this.correctSoundEffect.volume = 0.1;
          this.correctSoundEffect.play();
        } else {
          this.wrongSoundEffect.play();
        }
      } else {
        // กรณีมีข้อผิด ให้โชว์ตัวช่วย
        // this.playSound("../statics/wrong.mp3");
        this.wrongSoundEffect.volume = 0.1;
        this.wrongSoundEffect.play();
        this.countIncorrentAmount++;
      }
    },
    nextQuestion() {
      this.showNextButton = false;
      this.countIncorrentAmount = 0;
      if (this.currentQuestion + 1 < this.$store.state.system.totalQuestion) {
        // กรณียังมีข้อถัดไป
        this.currentQuestion += 1;
        this.setCurrentQuestion(this.currentQuestion + 1);
      } else {
        // กรณีทำเสร็จหมดทุกข้อ
        this.showPractice = false;
        this.setScore(this.score);
        this.setStar3(this.readingSettings.star);

        this.savePracticeLog(
          this.$route.params.practicekey, //practicekey
          this.score, // score
          "pass", // status
          this.$store.state.system.star, //star
          "Reading", //world,
          this.practiceName, // practicename
          this.order, //practice order
          "Reading Fill in the blank" //practicetype
        );
      }
    },
    finishReadingPractice() {
      this.$router.push("/finishpractice");
    },
    getOrder() {
      let levelUnit =
        "L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit;
      db.collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .doc(this.$route.params.practicekey)
        .get()
        .then(order => {
          this.order = order.data().order;
          this.practiceName = order.data().name;
        });
    }
  },
  computed: {
    innerWidth: function() {
      return this.$store.state.system.innerWidth;
    },
    readingEngContent: function() {
      var audioPath = "https://api.winner-english.com/data/sound_extravocab/";

      if (this.countIncorrentAmount > 0 || this.showNextButton) {
        if (
          this.readingPracticeData.length &&
          this.readingPracticeData[this.currentQuestion].hightlight.length > 0
        ) {
          var finalContent = this.readingContentData.contentEng
            .replace(/&nbsp;/g, " ")
            .replace(/ {1,}/g, " ")
            .trim();
          let reTab = new RegExp("\\[tab]", "g");
          finalContent = finalContent.replace(
            reTab,
            "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
          );
          // กรณีมีการกรอก highlight
          let highlightText = this.readingPracticeData[
            this.currentQuestion
          ].hightlight.filter(function(el) {
            return el != "";
          });

          for (let i = 0; i < highlightText.length; i++) {
            let re = new RegExp("\\b" + highlightText[i].trim());
            finalContent = finalContent.replace(
              re,
              `<span class='bg-yellow-9'>` + highlightText[i] + `</span>`
            );
            finalContent = finalContent;
          }
          // กรณีมีไฮไลท์และคำศัพท์เสริม
          if (this.readingExtraVocab.length) {
            for (let i = 0; i < this.readingExtraVocab.length; i++) {
              let checkExtraword = this.preventExtraword(
                this.readingExtraVocab[i].vocabulary
              );

              if (checkExtraword == 1) {
                let re = new RegExp(
                  "\\b" + this.readingExtraVocab[i].vocabulary.trim() + "\\b",
                  "g"
                );

                let vocabPath = this.readingExtraVocab[
                  i
                ].vocabulary.toLowerCase();
                vocabPath = vocabPath.replace(/\'/, "xx");

                finalContent = finalContent.replace(
                  re,
                  `<span onclick="new Audio('` +
                    audioPath +
                    vocabPath +
                    `.mp3').play()" class='text-teal-5 tooltip' data-tool='` +
                    this.readingExtraVocab[i].meaning +
                    `'> ` +
                    this.readingExtraVocab[i].vocabulary +
                    `</span>`
                );
              }
            }
            return finalContent;
          } else {
            return finalContent;
          }
        } else {
          // กรณีไม่มี highlight
          if (this.readingExtraVocab.length) {
            var finalContent = this.readingContentData.contentEng
              .replace(/&nbsp;/g, " ")
              .replace(/ {1,}/g, " ")
              .trim();
            let reTab = new RegExp("\\[tab]", "g");
            finalContent = finalContent.replace(
              reTab,
              "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
            );
            for (let i = 0; i < this.readingExtraVocab.length; i++) {
              let checkExtraword = this.preventExtraword(
                this.readingExtraVocab[i].vocabulary
              );

              if (checkExtraword == 1) {
                let re = new RegExp(
                  "\\b" + this.readingExtraVocab[i].vocabulary.trim() + "\\b",
                  "g"
                );

                let vocabPath = this.readingExtraVocab[
                  i
                ].vocabulary.toLowerCase();
                vocabPath = vocabPath.replace(/\'/, "xx");

                finalContent = finalContent.replace(
                  re,
                  `<span onclick="new Audio('` +
                    audioPath +
                    vocabPath +
                    `.mp3').play()" class='text-teal-5 tooltip' data-tool='` +
                    this.readingExtraVocab[i].meaning +
                    `'> ` +
                    this.readingExtraVocab[i].vocabulary +
                    `</span>`
                );
              }
            }
            return finalContent;
          } else {
            if (this.readingContentData.contentEng) {
              return this.readingContentData.contentEng
                .replace(/&nbsp;/g, " ")
                .replace(/ {1,}/g, " ");
            }
          }
        }
      } else {
        // กรณีมีคำศัพท์เสริม
        if (this.readingExtraVocab.length) {
          var finalContent = this.readingContentData.contentEng
            .replace(/&nbsp;/g, " ")
            .replace(/ {1,}/g, " ")
            .trim();
          let reTab = new RegExp("\\[tab]", "g");
          finalContent = finalContent.replace(
            reTab,
            "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
          );
          for (let i = 0; i < this.readingExtraVocab.length; i++) {
            let checkExtraword = this.preventExtraword(
              this.readingExtraVocab[i].vocabulary
            );

            if (checkExtraword == 1) {
              let re = new RegExp(
                "\\b" + this.readingExtraVocab[i].vocabulary.trim() + "\\b",
                "g"
              );
              let vocabPath = this.readingExtraVocab[
                i
              ].vocabulary.toLowerCase();
              vocabPath = vocabPath.replace(/\'/, "xx");
              finalContent = finalContent.replace(
                re,
                `<span onclick="new Audio('` +
                  audioPath +
                  vocabPath +
                  `.mp3').play()" class='text-teal-5 tooltip' data-tool='` +
                  this.readingExtraVocab[i].meaning +
                  `'> ` +
                  this.readingExtraVocab[i].vocabulary +
                  `</span>`
              );
            }
          }
          return finalContent;
        } else {
          if (this.readingContentData.contentEng) {
            return this.readingContentData.contentEng
              .replace(/&nbsp;/g, " ")
              .replace(/ {1,}/g, " ");
          }
        }
      }
    },
    imgPath: function() {
      let level = this.$store.state.system.currentPracticeLevel;
      let unit = this.$store.state.system.currentPracticeUnit;

      let imgPath =
        "https://api.winner-english.com/data/pic_reading/L" +
        level +
        "U" +
        unit +
        ".jpg";
      return imgPath;
    },
    contentThai: function() {
      if (this.readingPracticeData.length) {
        let reTab = new RegExp("\\[tab]", "g");
        let finalContent = this.readingContentData.contentThai.replace(
          reTab,
          "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
        );
        return finalContent;
      }
    }
  },
  mounted() {
    this.setStar(3);
    this.getOrder();
    this.getReadingContent();
    this.getReadingPractice();
    this.getReadingInstruction();
    this.getReadingSettings();
    this.setCurrentQuestion(1);
  },
  watch: {
    score() {
      let passScore = this.readingSettings.passScore;
      let star3 = this.readingSettings.star;
      let star2 = (Number(passScore) + Number(star3)) / 2;
      if (this.score < Number(passScore)) {
        // กรณีทำไม่ผ่าน

        this.savePracticeLog(
          this.$route.params.practicekey, //practicekey
          this.score, // score
          "failed", // status
          0, //star
          "Reading", //world,
          this.practiceName, // practicename
          this.order, //practice order
          "Reading Fill in the blank" //practicetype
        );

        this.$router.push(
          "/retrypage/" +
            this.$route.name +
            "/" +
            this.$route.params.practicekey
        );
      } else if (this.score >= star3) {
        // กรณีสามดาว
        this.setStar(3);
      } else if (this.score >= star2) {
        // กรณีสองดาว
        this.setStar(2);
      } else {
        this.setStar(1);
      }
    }
  }
};
</script>

<style>
.default-border {
  border: 5px solid #01579b;
  border-radius: 10px;
}
.correct-border {
  border: 5px solid #00bfa5;
  border-radius: 10px;
}
.wrong-border {
  border: 5px solid #b71c1c;
  border-radius: 10px;
}
.answer-effect {
  animation: flash 1s 1;
}
.pointer:hover {
  cursor: pointer;
}
.inputtextbox {
  min-width: 150px;
  text-align: center;
  outline: none;
  color: #01579b;
  display: inline-block;
}
@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
</style>
