<template>
  <q-page class="row items-center">
    <div align="center" style="width:fit-content;margin:auto" class="q-pa-md col-12">
      <img src="../assets/try-again-m.png" style="width:100%" alt>
      <div class="row text-h6">
        <div class="q-pa-sm col-sm-6 col-xs-12">
          <q-btn
            label="เรียนใหม่"
            style="width:250px"
            color="red-10"
            icon="fas fa-redo"
            push
            :glossy="$q.theme === 'mat'"
            @click="retryLearning()"
            class="font-20"
          ></q-btn>
        </div>
        <div class="q-pa-sm col-sm-6 col-xs-12">
          <q-btn
            label="กลับเข้าสู่หน้าหลัก"
            icon="fas fa-home"
            color="light-blue-9"
            style="width:250px"
            push
            :glossy="$q.theme === 'mat'"
            @click="backToHome()"
            class="font-20"
          ></q-btn>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  // name: 'ComponentName',
  data() {
    return {};
  },
  methods: {
    backToHome() {
      this.$router.push("/studyplan");
    },
    retryLearning() {
      this.$router.push(
        "/landing/" +
          this.$route.params.routename +
          "/" +
          this.$route.params.practicekey
      );
    }
  }
};
</script>

<style>
</style>
