<template>
  <div class="q-pa-md">
    <!-- content -->
    <div class="bg-amber-1 q-pa-md">
      <div align="center" style="margin:auto;width:100%;position:relative">
        <video
          id="my-video"
          style="width:95%;height:100%;max-width:900px;border-radius:10px;border:10px solid#268DE5"
        >
          <source :src="vdoPath" type="video/mp4" />
        </video>

        <div style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)">
          <img v-show="excellent" src="../assets/icon-excellent.png" class="animated bounceIn" alt />
          <img v-show="great" src="../assets/icon-great.png" class="animated bounceIn" alt />
          <img v-show="tryagain" src="../assets/icon-tryagain.png" class="animated bounceIn" alt />
          <img
            v-show="tryagain2"
            src="../assets/tryagain2.png"
            class="animated bounceIn"
            alt
            style="max-width:400px"
          />
        </div>
      </div>

      <div align="center">
        <div
          class="q-pt-md text-light-blue-10"
          :class="{'font-28' : innerWidth > 600,'font-24' : innerWidth >= 320,'font-14' : innerWidth <320}"
        >{{ currentEngSub }}</div>
        <div
          class="q-pt-md text-light-blue-10"
          :class="{'font-28' : innerWidth > 600,'font-24' : innerWidth >= 320,'font-14' : innerWidth <320}"
        >{{ currentThSub }}</div>
      </div>
      <div class="row justify-center q-pt-md items-center">
        <div class="q-pa-sm">
          <q-btn
            icon="fas fa-play"
            @click="playVideo()"
            v-show="isPlay"
            color="light-blue-10"
            size="lg"
            round
            :disable="isRecording"
          ></q-btn>
          <q-btn icon="fas fa-pause" v-show="!isPlay" color="light-blue-10" size="lg" round></q-btn>
        </div>
        <div class="q-pa-sm">
          <q-btn
            icon="fas fa-microphone"
            :disabled="allowRecord == false"
            @click="record()"
            size="lg"
            round
            color="light-blue-10"
            v-if="!isRecording"
          ></q-btn>
          <q-btn
            icon="fas fa-stop"
            size="lg"
            round
            color="amber-7"
            v-else
            class="animated flash infinite"
            style="animation-duration: 1s"
          ></q-btn>
        </div>
        <div class="q-pa-sm">
          <q-btn
            icon-right="fas fa-arrow-right"
            @click="nextStep()"
            color="teal-5"
            size="lg"
            label="ถัดไป"
            :disable="!showNextButton"
          ></q-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  // name: 'PageName',
  data() {
    return {
      vdoPath: this.$store.state.system.vdoTeachingPath,
      showNextButton: false,
      isPlay: true,
      currentEngSub: "",
      currentThSub: "",
      settings: "",
      subTitle: [],
      currentIndex: 0,
      scoreArr: [],
      countIncorrect: 0,
      excellent: false,
      great: false,
      tryagain: false,
      allowRecord: false,
      isRecording: false,
      score: 100,
      order: undefined,
      practiceName: undefined,
      tryagain2: false,
      textNumber: [
        "one",
        "two",
        "tree",
        "four",
        "five",
        "six",
        "seven",
        "eight",
        "nine",
        "ten",
        "eleven",
        "twelve",
        "thirteen",
        "fourteen",
        "fifteen",
        "sixteen",
        "seventeen",
        "eighteen",
        "nineteen",
        "twenty"
      ],
      showNumber: [
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
        "10",
        "11",
        "12",
        "13",
        "14",
        "15",
        "16",
        "17",
        "18",
        "19",
        "20"
      ]
    };
  },
  methods: {
    ...mapActions([
      "setEnglishInstruction",
      "setThaiInstruction",
      "setCurrentQuestion",
      "setTotalQuestion",
      "setShowLayouts",
      "setCharacterAction",
      "setStar",
      "setStar3",
      "setScore",
      "setPassScore"
    ]),
    playVideo() {
      if (this.subTitle.length) {
        let _this = this;
        _this.allowRecord = false;
        this.excellent = false;
        this.great = false;
        this.tryagain = false;
        var player = document.getElementById("my-video");
        if (_this.currentIndex == 0) {
          player.currentTime = 0;
        } else {
          player.currentTime = _this.subTitle[_this.currentIndex].time;
        }
        player.play();
        _this.isPlay = false;
        _this.currentEngSub =
          _this.subTitle[_this.currentIndex].sentenceEnglish;
        _this.currentThSub = _this.subTitle[_this.currentIndex].sentenceThai;

        player.ontimeupdate = function() {
          if (_this.currentIndex < _this.subTitle.length - 1) {
            if (
              player.currentTime >= _this.subTitle[_this.currentIndex + 1].time
            ) {
              player.pause();
              // _this.showNextButton = true;
              _this.isPlay = true;
              _this.allowRecord = true;
            }
          } else {
            if (player.currentTime >= player.duration) {
              player.pause();
              // _this.showNextButton = true;
              _this.isPlay = true;
              _this.allowRecord = true;
            }
          }
        };
      }
    },
    record() {
      let _this = this;
      this.excellent = false;
      this.great = false;
      this.tryagain = false;
      this.isRecording = true;
      this.showNextButton = false;
      this.tryagain2 = false;
      var compare;

      navigator.mediaDevices
        .getUserMedia({
          audio: true
        })
        .then(stream => {
          const mediaRecorder = new MediaRecorder(stream);
          mediaRecorder.start();

          const audioChunks = [];
          mediaRecorder.addEventListener("dataavailable", event => {
            audioChunks.push(event.data);
          });

          // หากไม่มีการอัดเสียงเป็นเวลา 20 วินาที ให้ทำการอัดใหม่ เปลี่ยนสถานะปุ่มอัดเสียงเป็น Enable
          setTimeout(() => {
            _this.isRecording = false;
            _this.allowRecord = true;
          }, 20000);

          var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
          var recognition = new SpeechRecognition();
          recognition.lang = "en-US";
          recognition.interimResults = false;
          recognition.maxAlternatives = 1;
          recognition.onresult = function(event) {
            let getTranscript = false;
            for (var i = 0; i < event.results.length; i++) {
              var speechRecognitionResult = event.results[i];
              for (var j = 0; j < speechRecognitionResult.length; j++) {
                var speechRecognitionAlternative = speechRecognitionResult[i];
                let compareText = _this.subTitle[
                  _this.currentIndex
                ].sentenceEnglish.toLowerCase();
                let dot = new RegExp(".", "g");
                // compareText = compareText
                //   .replace("/\./g", "")
                //   .replace("/!/", "")
                //   .replace("/\?/", "")
                //   .replace("/;/g", "");
                compareText = compareText.replace(/[^\w\s]/gi, "");
                compareText = compareText.trim();

                let textTranscript = speechRecognitionAlternative.transcript
                  .toLowerCase()
                  .trim();
                // console.log("before" + textTranscript);
                // console.log(textTranscript.search("11"));
                for (let ss = 0; ss < _this.showNumber.length; ss++) {
                  let replace = new RegExp(
                    "\\b" + _this.showNumber[ss] + "\\b",
                    "g"
                  );
                  if (textTranscript.search(replace) > -1) {
                    textTranscript.replace(
                      _this.showNumber[ss],
                      _this.textNumber[ss]
                    );
                    // console.log(_this.showNumber[ss]);
                    // console.log(_this.textNumber[ss]);
                    var newtextTranscript = textTranscript.replace(
                      _this.showNumber[ss],
                      _this.textNumber[ss]
                    );
                    getTranscript = true;
                    // console.log(newtextTranscript);
                  }
                }
                let reg = new RegExp("’", "g");
                if (getTranscript) {
                  newtextTranscript = newtextTranscript.replace(
                    /[^\w\s]/gi,
                    ""
                  );
                } else {
                  newtextTranscript = textTranscript.replace(/[^\w\s]/gi, "");
                }
                // console.log("after" + textTranscript);
                // console.log(compareText);
                // console.log("Prob:", speechRecognitionAlternative.confidence);
                compare = _this.similarity(newtextTranscript, compareText);
                console.log("Recorded Audio: " + newtextTranscript);
                console.log("Original: " + compareText);
                console.log(compare);

                _this.scoreArr[_this.currentIndex] = compare;
              }
            }
          };
          // ตอนพูดเสร็จ
          recognition.onspeechend = function() {
            _this.isRecording = false;
            _this.allowRecord = false;
            mediaRecorder.stop();
            mediaRecorder.addEventListener("stop", () => {
              const audioBlob = new Blob(audioChunks);
              const audioUrl = URL.createObjectURL(audioBlob);
              const audio = new Audio(audioUrl);
              audio.play();
              audio.addEventListener("ended", function(e) {
                _this.playVideo();

                // if (_this.currentIndex == 0) {
                //   var calTime = _this.subTitle[_this.currentIndex].time
                // } else {
                if (_this.currentIndex < _this.subTitle.length - 1) {
                  var calTime =
                    _this.subTitle[_this.currentIndex + 1].time -
                    _this.subTitle[_this.currentIndex].time;
                } else {
                  var player = document.getElementById("my-video");
                  var calTime =
                    player.duration - _this.subTitle[_this.currentIndex].time;
                }

                // }
                setTimeout(() => {
                  if (compare > 0.7) {
                    _this.showNextButton = true;
                    // console.log("GREAT");
                    _this.excellent = true;
                  } else if (compare > 0.4) {
                    _this.showNextButton = true;
                    _this.great = true;
                    // console.log("GOOD");
                  } else {
                    // console.log(compare);
                    if (compare == undefined) {
                      _this.scoreArr[_this.currentIndex] = 0;
                    }
                    _this.tryagain = true;
                    _this.countIncorrect++;
                    if (_this.countIncorrect > 1) {
                      _this.tryagain = false;
                      _this.tryagain2 = true;
                      _this.isRecording = false;
                      _this.allowRecord = false;
                      _this.showNextButton = true;
                      _this.scoreArr[_this.currentIndex] = 0.5;
                      setTimeout(() => {
                        _this.nextStep();
                      }, 2000);
                    }
                  }
                }, calTime * 1100);
              });
            });
            setTimeout(function(e) {
              recognition.stop(); // เมื่อพูดจบ ให้ปิดการบันทึกเสียง
            }, 1000);
          };
          recognition.start(); // เริ่มบันทึกเสียง
        });
    },
    nextStep() {
      let _this = this;
      let currentScore = _this.scoreArr[_this.currentIndex];
      if (_this.scoreArr[_this.currentIndex] == undefined) {
        currentScore = 0;
      }
      _this.score -=
        100 / _this.subTitle.length -
        (100 / _this.subTitle.length) * currentScore;
      this.currentIndex++;

      this.setCurrentQuestion(this.currentIndex + 1);

      if (this.currentIndex < this.subTitle.length) {
        _this.currentEngSub =
          _this.subTitle[_this.currentIndex].sentenceEnglish;
        _this.currentThSub = _this.subTitle[_this.currentIndex].sentenceThai;

        this.showNextButton = false;
        this.countIncorrect = 0;
        this.excellent = false;
        this.great = false;
        this.tryagain = false;
        this.isRecording = false;
        this.tryagain2 = false;
        let player = document.getElementById("my-video");
        if (this.currentIndex < this.subTitle.length - 1) {
          player.currentTime = this.subTitle[this.currentIndex + 1].time;
        }
        setTimeout(() => {
          this.allowRecord = false;
        }, 200);

        // console.log(this.subTitle[this.currentIndex + 1].time);
        // player.currentTime = 20;
      } else {
        // กรณีทำครบ
        this.setScore(this.score);
        this.setStar3(this.settings.star);
        this.savePracticeLog(
          this.$route.params.practicekey,
          this.score,
          "pass",
          this.$store.state.system.star,
          "Listening",
          this.practiceName,
          this.order,
          "Speaking"
        );
        this.$router.push("/finishpractice");
      }
    },
    loadSettings() {
      db.collection("speaking")
        .doc(this.$route.params.practicekey)
        .collection(this.$store.state.system.schoolType.name)
        .doc("data")
        .get()
        .then(doc => {
          this.settings = doc.data();
        });
    },
    loadConversation() {
      this.showLoading();
      let levelUnit =
        "L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit;
      db.collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .where("practicetype", "==", "conversation VDO")
        .get()
        .then(doc => {
          doc.forEach(element => {
            let conversationId = element.id;
            db.collection("conversation")
              .doc(conversationId)
              .get()
              .then(school => {
                if (
                  school
                    .data()
                    .schoolTypeSelected.includes(
                      this.$store.state.system.schoolType.key
                    )
                ) {
                  db.collection("conversation")
                    .doc(conversationId)
                    .collection("dialog")
                    .orderBy("orderid")
                    .get()
                    .then(conver => {
                      conver.forEach(element => {
                        let time = element.data().starttime.split(":");
                        time = Number(time[0]) * 60 + Number(time[1]);
                        let dataAdd = {
                          time: time
                        };
                        let dataFinal = { ...dataAdd, ...element.data() };
                        this.subTitle.push(dataFinal);
                      });
                      this.setTotalQuestion(this.subTitle.length);

                      this.currentEngSub = this.subTitle[0].sentenceEnglish;
                      this.currentThSub = this.subTitle[0].sentenceThai;

                      this.saveMonitor(
                        this.$route.params.practicekey,
                        conver.size
                      );
                      this.hideLoading();
                    });
                }
              });
          });
        });
    },
    similarity(s1, s2) {
      var longer = s1;
      var shorter = s2;
      if (s1.length < s2.length) {
        longer = s2;
        shorter = s1;
      }
      var longerLength = longer.length;
      if (longerLength == 0) {
        return 1.0;
      }
      return (
        (longerLength - this.editDistance(longer, shorter)) /
        parseFloat(longerLength)
      );
    },
    editDistance(s1, s2) {
      var s1 = s1.toLowerCase();
      var s2 = s2.toLowerCase();

      var costs = new Array();
      for (var i = 0; i <= s1.length; i++) {
        var lastValue = i;
        for (var j = 0; j <= s2.length; j++) {
          if (i == 0) costs[j] = j;
          else {
            if (j > 0) {
              var newValue = costs[j - 1];
              if (s1.charAt(i - 1) != s2.charAt(j - 1))
                newValue =
                  Math.min(Math.min(newValue, lastValue), costs[j]) + 1;
              costs[j - 1] = lastValue;
              lastValue = newValue;
            }
          }
        }
        if (i > 0) costs[s2.length] = lastValue;
      }
      return costs[s2.length];
    },
    getOrder() {
      let levelUnit =
        "L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit;
      db.collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .doc(this.$route.params.practicekey)
        .get()
        .then(order => {
          this.order = order.data().order;
          this.practiceName = order.data().name;
        });
    }
  },
  mounted() {
    this.getOrder();
    this.setEnglishInstruction("Listen and speak the correct word.");
    this.setThaiInstruction("ฟังและพูดตาม");
    this.loadSettings();
    this.loadConversation();
    this.setCurrentQuestion(1);
    this.setStar(3);
    // remark
    // this.showNextButton = false;
  },
  computed: {
    innerWidth: function() {
      return this.$store.state.system.innerWidth;
    }
  },
  watch: {
    score() {
      let passScore = this.settings.passScore;
      let star3 = this.settings.star;
      let star2 = (Number(passScore) + Number(star3)) / 2;
      if (this.score < Number(passScore)) {
        // กรณีทำไม่ผ่าน

        var currentWorld = this.$store.state.system.currentWorld;
        if (currentWorld == 1) {
          // VOCABULARY
          var world = "Vocabulary";
        } else if (currentWorld == 2) {
          var world = "Grammar";
        } else if (currentWorld == 3) {
          var world = "Reading";
        } else if (currentWorld == 4) {
          var world = "Writing";
        } else if (currentWorld == 5) {
          var world = "Listening";
        }

        this.savePracticeLog(
          this.$route.params.practicekey,
          this.score,
          "failed",
          0,
          world,
          this.practiceName,
          this.order,
          "Speaking"
        );

        this.$router.push(
          "/retrypage/" +
            this.$route.name +
            "/" +
            this.$route.params.practicekey
        );
      } else if (this.score >= star3) {
        // กรณีสามดาว
        this.setStar(3);
      } else if (this.score >= star2) {
        // กรณีสองดาว
        this.setStar(2);
      } else {
        this.setStar(1);
      }
    }
  }
};
</script>

<style>
</style>
