<template>
  <div>
    <!-- content -->
    <div v-show="!showHelp">
      <div
        class="row"
        v-show="showContent"
      >
        <!-- content comlumn -->
        <div
          class="q-mt-xl"
          style="width:100%"
        >
          <div
            class="bg-beige q-pa-md text-white"
            style="min-height:fit-content;border-radius:10px"
          >
            <!-- ส่วนโจทย์ -->
            <div
              class="bg-light-blue-9 q-pa-md"
              :class="{'bg-light-blue-9':!showNextButton,'bg-teal-14 correct-effect':showNextButton}"
              align="center"
              style="border-radius:10px"
            >
              <div
                class="q-pa-md text-weight-bold"
                :class="{'font-34':innerWidth > 1439,'font-28' : innerWidth<=1439,'font-20' : innerWidth < 600}"
                v-if="flashcardData.length"
              >
                <span v-html="flashcardData[currentQuestion].meaning"></span>
              </div>
              <div
                class="bg-white q-pa-md"
                style="height:70px;display:flex;position:relative;align-items:center"
              >
                <div
                  class="text-black text-weight-bold text-light-blue-9"
                  style="width:100%"
                  :class="{'font-34':innerWidth > 1439,'font-28' : innerWidth<=1439,'font-20' : innerWidth < 600}"
                >

                  <span v-html="showAnswer"></span>

                  <span
                    v-show="showCursor"
                    class="flash-cursor"
                  >|</span>
                </div>

                <div
                  align="right"
                  style="position:absolute;right:5px"
                >
                  <q-btn
                    push
                    color="light-blue-9"
                    round
                    @click="playSound(flashcardData[currentQuestion].soundPath,1)"
                  >
                    <img
                      src="../assets/icon-02.png"
                      style="width:45px"
                      alt
                    >
                  </q-btn>
                </div>
              </div>
            </div>
            <!-- ส่วนตัวอักษร -->
            <div
              class="row justify-center q-mt-lg"
              v-if="flashcardData.length"
            >
              <div
                v-for="(letter,index) in flashcardData[currentQuestion].shuffle.length"
                :key="index"
                class="q-pa-sm"
              >
                <q-btn
                  v-if="!highlightLetter.includes(flashcardData[currentQuestion].shuffle[index])  && highlightLetter.length > 0"
                  class="text-h6 disabled-btn"
                  push
                  dense
                  @click="checkLetter(flashcardData[currentQuestion].shuffle[index])"
                  :class="{'error-color' : index == wrongButton,'bg-light-blue-8' : index != wrongButton,'animate-btn':highlightLetter.includes(flashcardData[currentQuestion].shuffle[index]),'btn-letter-l font-34 text-weight-bold' : innerWidth > 599,'btn-letter-s':innerWidth <= 599}"
                  :disabled="true"
                  :no-caps="nocaps"
                >{{ flashcardData[currentQuestion].shuffle[index] }}</q-btn>
                <q-btn
                  v-else
                  dense
                  push
                  align="center"
                  @click="checkLetter(flashcardData[currentQuestion].shuffle[index])"
                  :class="{'error-color' : index == wrongButton,'bg-light-blue-8' : index != wrongButton,'animate-btn':highlightLetter.includes(flashcardData[currentQuestion].shuffle[index]),'btn-letter-l font-34 text-weight-bold' : innerWidth > 599,'btn-letter-s':innerWidth <= 599}"
                  :disabled="!allowClick"
                  :no-caps="nocaps"
                >
                  <span>{{ flashcardData[currentQuestion].shuffle[index] }}</span>
                </q-btn>
              </div>
            </div>
          </div>
          <div
            align="center"
            class="q-pa-lg"
            v-show="!showNextButton"
          >
            <q-btn
              label="ช่วยเหลือ"
              color="light-blue-9"
              style="width:250px"
              push
              class="text-h6 text-weight-regular"
              :glossy="$q.theme === 'mat'"
              @click="helpMe()"
              icon="far fa-question-circle"
            ></q-btn>
          </div>
          <div
            v-show="showNextButton"
            align="center"
            class="q-pa-lg"
          >
            <q-btn
              @click="nextQuestion()"
              label="ถัดไป"
              style="width:250px"
              color="light-blue-9"
              icon-right="fas fa-arrow-right"
              class="text-h6"
              :glossy="$q.theme === 'mat'"
              push
            ></q-btn>
          </div>
        </div>
      </div>
    </div>
    <app-vocab-help
      :data="flashcardData[currentQuestion]"
      v-if="showHelp"
      @help="showHelpPage"
    ></app-vocab-help>
  </div>
</template>

<script>
import { db } from "../router/index.js";
import appVocabHelp from "../components/helpSpellingBee.vue";
import { mapActions } from "vuex";
export default {
  // name: 'PageName',
  components: {
    // appFinishPractice,
    appVocabHelp
  },
  data() {
    return {
      spellingBeeSetting: [],
      flashcardData: [],
      currentQuestion: 0,
      showAnswer: "",
      counterClick: 0,
      wrongButton: 999,
      allowClick: true,
      vocabTemp: [],
      showNextButton: false,
      // showFinishPage: false,
      score: 100,
      nocaps: true,
      highlightLetter: [],
      star: 3,
      answer: "default",
      showHelp: false,
      showCursor: true,
      showContent: false,
      order: undefined,
      practiceName: "",
      practicekey: this.$route.params.practicekey
    };
  },
  methods: {
    ...mapActions([
      "setEnglishInstruction",
      "setThaiInstruction",
      "setCurrentQuestion",
      "setTotalQuestion",
      "setShowLayouts",
      "setCharacterAction",
      "setStar",
      "setStar3",
      "setScore",
      "setPassScore",
      "setHomeButton",
      "setLogoutButton"
    ]),
    showHelpPage(data) {
      this.showHelp = data.showHelpPage;
      this.setShowLayouts(true);
      this.setHomeButton(false);
      this.setLogoutButton(false);
    },
    helpMe() {
      this.showHelp = true;
      this.setHomeButton(true);
      this.setLogoutButton(true);
      this.setShowLayouts(false);
    },
    loadSpellingBeeSettings() {
      db.collection("spellingbee")
        .doc(this.$route.params.practicekey)
        .collection(this.$store.state.system.schoolType.name)
        .doc("data")
        .get()
        .then(doc => {});
    },
    loadFlashcard() {
      var countFlashcard = 0;
      this.showLoading();
      let levelUnit =
        "L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit;

      db.collection("spellingbee")
        .doc(this.$route.params.practicekey)
        .collection(this.$store.state.system.schoolType.name)
        .doc("data")
        .get()
        .then(doc => {
          this.flashcardData = [];
          this.spellingBeeSetting = doc.data();
          this.setPassScore(Number(this.spellingBeeSetting.passScore));
          var highlight = doc.data().highlight;
          db.collection("practicelist")
            .doc("data")
            .collection(levelUnit)
            .where("practicetype", "==", "flashcard")
            .get()
            .then(spellingbee => {
              var flashcardNumber = doc.data().flashcardNumber;
              var flashcardId = spellingbee.docs[0].id;
              db.collection("flashcard")
                .doc(flashcardId)
                .collection("server")
                .where(
                  "schoolTypeSelected",
                  "array-contains",
                  this.$store.state.system.schoolType.key
                )
                .get()
                .then(flashcard => {
                  var neededNumberOfFlashcard =
                    (Number(flashcardNumber) * flashcard.size) / 100;
                  neededNumberOfFlashcard = Math.ceil(neededNumberOfFlashcard);

                  if (neededNumberOfFlashcard < 5) {
                    neededNumberOfFlashcard = 5;
                  }

                  flashcard.forEach(element => {
                    countFlashcard++;
                    if (
                      countFlashcard <= Number(neededNumberOfFlashcard) &&
                      element
                        .data()
                        .schoolTypeSelected.includes(
                          this.$store.state.system.schoolType.key
                        )
                    ) {
                      var vocab = element.data().vocabulary.split("");
                      var shuffle = this.shuffle(vocab).join("");
                      var vocabShuffle = {
                        shuffle: shuffle,
                        key: element.id,
                        imgPath:
                          "https://api.winner-english.com/data/pic_flashcard/" +
                          element.id.toLowerCase() +
                          ".jpg",
                        soundPath:
                          "https://api.winner-english.com/data/sound_flashcard/" +
                          element.id.toLowerCase() +
                          ".mp3"
                      };
                      var dataFinal = { ...vocabShuffle, ...element.data() };
                      this.flashcardData.push(dataFinal);
                    }
                  });
                  this.setTotalQuestion(this.flashcardData.length);
                  // SHUFFLE VOCABULARy
                  this.flashcardData = this.shuffle(this.flashcardData);
                  if (highlight > 0) {
                    this.makeHighLight(this.flashcardData[0].vocabulary[0]);
                  }

                  this.hideLoading();
                  this.showContent = true;

                  this.saveMonitor(
                    this.$route.params.practicekey,
                    this.flashcardData.length
                  );
                });
            });
        });
    },
    checkLetter(letter) {
      // let _this = this;
      if (this.allowClick) {
        // console.log(letter);
        // document.getElementById("focus").focus;
        // _this.$refs.testFocus.focus();
        this.allowClick = false;
        var currentVocab = this.flashcardData[
          this.currentQuestion
        ].vocabulary.split("");
        var correctLetter = currentVocab[this.counterClick];
        if (this.vocabTemp == 0) {
          this.vocabTemp = this.flashcardData[
            this.currentQuestion
          ].shuffle.split("");
        }
        var indexOfCorrectLetter = this.vocabTemp.indexOf(correctLetter);
        if (letter == correctLetter) {
          // กดถูกตัวอักษร
          this.playSound("../statics/correct.mp3", 0.1);
          // this.correctSoundEffect.play();
          this.showAnswer += letter;
          this.vocabTemp.splice(indexOfCorrectLetter, 1);
          this.flashcardData[
            this.currentQuestion
          ].shuffle = this.vocabTemp.join("");
          this.counterClick++;
          this.makeHighLight(currentVocab[this.counterClick]);

          setTimeout(() => {
            this.allowClick = true;
          }, 150);
        } else {
          // กดผิดตัวอักษร
          // console.log(123123);
          // this.playSound("../statics/wrong.mp3");
          this.wrongSoundEffect.volume = 0.1;
          this.wrongSoundEffect.play();
          this.setCharacterAction("incorrect");
          var indexOf = this.vocabTemp.indexOf(letter);
          this.wrongButton = indexOf;
          this.showAnswer += correctLetter;
          this.allowClick = false;
          this.score -=
            100 /
            this.flashcardData.length /
            this.flashcardData[this.currentQuestion].vocabulary.length;
          setTimeout(() => {
            this.vocabTemp.splice(indexOfCorrectLetter, 1);
            this.flashcardData[
              this.currentQuestion
            ].shuffle = this.vocabTemp.join("");
            // รีเซ็ท เพื่อให้คลาสหาย
            this.wrongButton = 999;
            this.allowClick = true;
            this.counterClick++;
            this.makeHighLight(currentVocab[this.counterClick]);

            this.setCharacterAction("default");
          }, 1000);
        }
      }
    },
    nextQuestion() {
      this.setCharacterAction("default");
      this.showNextButton = false;
      this.showCursor = true;
      if (this.currentQuestion + 1 < this.flashcardData.length) {
        this.vocabTemp = [];
        this.currentQuestion += 1;
        this.setCurrentQuestion(this.currentQuestion + 1);
        this.showAnswer = "";
        this.counterClick = 0;
      } else {
        // กรณีทำครบทุกข้อ
        this.setScore(this.score);
        this.setStar3(this.spellingBeeSetting.star);
        this.savePracticeLog(
          this.practicekey,
          this.score,
          "pass",
          this.$store.state.system.star,
          "Vocabulary",
          this.practiceName,
          this.order,
          "Spellingbee"
        );

        this.$router.push("/finishpractice");
      }
    },
    makeHighLight(correctLetter) {
      this.highlightLetter = [];
      var shuffle = this.flashcardData[this.currentQuestion].shuffle.split("");

      if (this.flashcardData[this.currentQuestion].shuffle.length > 5) {
        for (let i = 0; i < this.spellingBeeSetting.highlight; i++) {
          if (i == 0) {
            // ตัวที่ถูก
            this.highlightLetter.push(correctLetter);
            shuffle = shuffle.filter(e => e != correctLetter);
          } else {
            let findLetter = this.shuffle(shuffle);
            this.highlightLetter.push(findLetter[0]);
            shuffle = shuffle.filter(e => e != findLetter[0]);
          }
        }
      }
    },
    getOrder() {
      let levelUnit =
        "L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit;
      db.collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .doc(this.$route.params.practicekey)
        .get()
        .then(order => {
          this.order = order.data().order;
          this.practiceName = order.data().name;
        });
    }
  },
  computed: {
    innerWidth: function() {
      return this.$store.state.system.innerWidth;
    }
  },
  watch: {
    showAnswer() {
      if (
        this.showAnswer == this.flashcardData[this.currentQuestion].vocabulary
      ) {
        this.showCursor = false;
        this.showNextButton = true;
        this.setCharacterAction("correct");
      }
    },
    score() {
      let passScore = this.spellingBeeSetting.passScore;
      let star3 = this.spellingBeeSetting.star;
      let star2 = (Number(passScore) + Number(star3)) / 2;
      if (this.score < Number(passScore)) {
        // กรณีทำไม่ผ่าน

        this.savePracticeLog(
          this.$route.params.practicekey,
          this.score,
          "failed",
          0,
          "Vocabulary",
          this.practiceName,
          this.order,
          "Spellingbee"
        );

        this.$router.push(
          "/retrypage/" +
            this.$route.name +
            "/" +
            this.$route.params.practicekey
        );
      } else if (this.score >= star3) {
        // กรณีสามดาว
        this.setStar(3);
      } else if (this.score >= star2) {
        // กรณีสองดาว
        this.setStar(2);
      } else {
        this.setStar(1);
      }
    },
    currentQuestion() {
      let correctLetter = this.flashcardData[this.currentQuestion]
        .vocabulary[0];
      this.makeHighLight(correctLetter);
    }
  },
  mounted() {
    // this.loadSpellingBeeSettings();

    this.setEnglishInstruction(
      "Choose the given alphabets to spell the correct word."
    );
    this.setThaiInstruction("เลือกตัวอักษรภาษาอังกฤษให้เป็นคำที่ถูกต้อง");
    this.setStar(3);
    this.setCurrentQuestion(1);
    this.loadFlashcard();
    this.setShowLayouts(true);
    this.getOrder();

    let _this = this;
    // window.addEventListener("keyup", function(event) {
    //   _this.$refs.testFocus.focus();
    //   let key = event.keyCode;
    //   if (_this.highlightLetter.length) {
    //     var shuffleSplit = _this.highlightLetter;
    //   } else {
    //     var shuffleSplit = _this.flashcardData[
    //       _this.currentQuestion
    //     ].shuffle.split("");
    //   }

    //   if (key == 65) {
    //     if (shuffleSplit.includes("a")) {
    //       _this.checkLetter("a");
    //     }
    //   } else if (key == 66) {
    //     if (shuffleSplit.includes("b")) {
    //       _this.checkLetter("b");
    //     }
    //   } else if (key == 67) {
    //     if (shuffleSplit.includes("c")) {
    //       _this.checkLetter("c");
    //     }
    //   } else if (key == 68) {
    //     if (shuffleSplit.includes("d")) {
    //       _this.checkLetter("d");
    //     }
    //   } else if (key == 69) {
    //     if (shuffleSplit.includes("e")) {
    //       _this.checkLetter("e");
    //     }
    //   } else if (key == 70) {
    //     if (shuffleSplit.includes("f")) {
    //       _this.checkLetter("f");
    //     }
    //   } else if (key == 71) {
    //     if (shuffleSplit.includes("g")) {
    //       _this.checkLetter("g");
    //     }
    //   } else if (key == 72) {
    //     if (shuffleSplit.includes("h")) {
    //       _this.checkLetter("h");
    //     }
    //   } else if (key == 73) {
    //     if (shuffleSplit.includes("i")) {
    //       _this.checkLetter("i");
    //     }
    //   } else if (key == 74) {
    //     if (shuffleSplit.includes("j")) {
    //       _this.checkLetter("j");
    //     }
    //   } else if (key == 75) {
    //     if (shuffleSplit.includes("k")) {
    //       _this.checkLetter("k");
    //     }
    //   } else if (key == 76) {
    //     if (shuffleSplit.includes("l")) {
    //       _this.checkLetter("l");
    //     }
    //   } else if (key == 77) {
    //     if (shuffleSplit.includes("m")) {
    //       _this.checkLetter("m");
    //     }
    //   } else if (key == 78) {
    //     if (shuffleSplit.includes("n")) {
    //       _this.checkLetter("n");
    //     }
    //   } else if (key == 79) {
    //     if (shuffleSplit.includes("o")) {
    //       _this.checkLetter("o");
    //     }
    //   } else if (key == 80) {
    //     if (shuffleSplit.includes("p")) {
    //       _this.checkLetter("p");
    //     }
    //   } else if (key == 81) {
    //     if (shuffleSplit.includes("q")) {
    //       _this.checkLetter("q");
    //     }
    //   } else if (key == 82) {
    //     if (shuffleSplit.includes("r")) {
    //       _this.checkLetter("r");
    //     }
    //   } else if (key == 83) {
    //     if (shuffleSplit.includes("s")) {
    //       _this.checkLetter("s");
    //     }
    //   } else if (key == 84) {
    //     if (shuffleSplit.includes("t")) {
    //       _this.checkLetter("t");
    //     }
    //   } else if (key == 85) {
    //     if (shuffleSplit.includes("u")) {
    //       _this.checkLetter("u");
    //     }
    //   } else if (key == 86) {
    //     if (shuffleSplit.includes("v")) {
    //       _this.checkLetter("v");
    //     }
    //   } else if (key == 87) {
    //     if (shuffleSplit.includes("w")) {
    //       _this.checkLetter("w");
    //     }
    //   } else if (key == 88) {
    //     if (shuffleSplit.includes("x")) {
    //       _this.checkLetter("x");
    //     }
    //   } else if (key == 89) {
    //     if (shuffleSplit.includes("y")) {
    //       _this.checkLetter("y");
    //     }
    //   } else if (key == 90) {
    //     if (shuffleSplit.includes("z")) {
    //       _this.checkLetter("z");
    //     }
    //   } else if (key == 13) {
    //     if (_this.showNextButton) {
    //       _this.nextQuestion();
    //     }
    //   } else if (key == 32) {
    //     if (shuffleSplit.includes(" ")) {
    //       _this.checkLetter(" ");
    //     }
    //   }
    // });
  }
};
</script>

<style>
.brx {
  border: 2px solid red;
}
.bg-beige {
  background-color: rgba(255, 255, 255, 0.6);
}
.btn-letter-l {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: 3px solid #e0e0e0;
}
.btn-letter-s {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e0e0e0;
}
.error-color {
  background-color: #db2828;
  animation: shake 1s 1;
}
.disabled-btn {
  background-color: gray !important;
}
@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
.correct-effect {
  animation: flash 1s 1;
}
.flash-cursor {
  animation: flash 2s infinite;
  position: relative;
  left: -3px;
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
@keyframes rotate10deg {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.animate-btn {
  animation: rotate10deg 1s infinite;
}
</style>
