<template>
  <q-page :class="{'qpage-padding-l':innerWidth > 1024,'qpage-padding-s':innerWidth <=1024}">
    <div
      style="position:absolute;top:50%;left:50%;width:300px;height:320px;transform:translate(-50%,-50%);border:5px solid #0097A7;border-radius:10px;z-index:3000"
      class="bg-white text-light-blue-9 animated fadeIn"
      v-if="showPopupScore"
      :class="{'font-20' : innerWidth > 1439,'font-16 ' : innerWidth <= 1439,'font-14' : innerWidth <= 1024,'font-12' : innerWidth <=599,'bar-width-l' : innerWidth >= 1024}"
    >
      <div align="right" class="q-pa-sm">
        <q-icon
          @click="closeScorePopup()"
          class="cursor-pointer"
          size="35px"
          name="fas fa-times-circle"
          color="red"
        ></q-icon>
      </div>
      <div align="center">
        <span v-for="star in scoreStore[activePassedPracticeClick].star" :key="star">
          <img
            class="q-pa-sm animate-btn"
            style="width:80px"
            src="../assets/fash-card-star.png"
            alt
          />
        </span>
      </div>
      <div align="center">{{ scoreStore[activePassedPracticeClick].practiceName }}</div>
      <hr style="width:50%" class="text-light-blue-9 bg-light-blue-9" />
      <div align="center">คะแนน {{ scoreStore[activePassedPracticeClick].score.toFixed(0) }} %</div>
      <div align="center">ใช้เวลาไป {{ scoreStore[activePassedPracticeClick].useTimeInMinutes }}</div>
    </div>
    <q-resize-observer @resize="onResize"></q-resize-observer>
    <div class="row" style="width:100%;margin:auto">
      <!-- left column -->
      <div :class="{'col-5':innerWidth > 1024}" v-show="innerWidth > 1024">
        <div class="row justify-around text-white q-mr-lg">
          <div class="col-9 q-pr-sm">
            <div
              class="bg-light-blue-8 q-pa-sm q-px-md"
              style="width:90%;border-radius:10px;display:flex;justify-content:space-between"
              :class="{'font-20' : innerWidth > 1439,'font-16 ' : innerWidth <= 1439,'font-14' : innerWidth <= 1024,'font-12' : innerWidth <=599,'bar-width-l' : innerWidth >= 1024}"
            >
              <div>{{this.$store.state.system.studentData.name}}</div>
              <div v-if="this.$store.state.system.schoolType != 'online'">เลขที่ {{studentNo}}</div>
            </div>
          </div>
          <div class="col-3 q-pr-md" style="position:relative">
            <div class="bg-light-blue-8 q-pa-sm" style="border-radius:10px;text-align:center">
              <div style="position:absolute;left:-10px;top:5px">
                <img width="60%" src="../assets/diamond.png" alt />
              </div>
              <div
                :class="{'font-20' : innerWidth > 1439,'font-16 ' : innerWidth <= 1439,'font-14' : innerWidth <= 1024,'font-12' : innerWidth <=599,'bar-width-l' : innerWidth >= 1024}"
              >
                <div style="position:relative;left:13px">{{displayDiamondMixin}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" style="position:absolute;bottom:0px;overflow:hidden" align="center">
            <img
              :class="{'img-width-l' : innerHeight > 650,'img-width-s' : innerHeight < 650}"
              style="position:relative;bottom:-5px"
              src="../assets/male-1.png"
              alt
              v-if="this.$store.state.system.studentData.gender == 'ชาย'"
            />
            <img
              :class="{'img-width-l' : innerHeight > 650,'img-width-s' : innerHeight < 650}"
              style="position:relative;bottom:-5px"
              src="../assets/charecter-standy-02.png"
              alt
              v-else
            />
          </div>
        </div>
      </div>
      <!-- Right column -->
      <div :class="{'col-7':innerWidth > 1024,'col-12':innerWidth <= 1024}">
        <div class="row text-white justify-between">
          <!-- CONTENT -->
          <div class="col-12" :class="{'q-pr-xs' : innerWidth > 1024}">
            <div
              class="bg-light-blue-8 q-pa-sm"
              style="border-radius:10px"
              align="center"
              :class="{'font-20' : innerWidth > 1439,'font-16 ' : innerWidth <= 1439,'font-14' : innerWidth <= 1024,'font-14' : innerWidth <=599}"
            >เลือกแบบฝึกหัดที่ต้องการเรียน</div>
            <div class="bg-light-blue-10 q-mt-md" style="border-radius:10px;padding:5px 20px">
              <div class="row">
                <div style="width:50%;padding-right:30px" class="q-pa-xs">
                  <q-select
                    @input="changeCourse()"
                    class="q-pa-xs bg-white"
                    v-model="lesson"
                    :options="LevelOptions"
                    float-label="เลเวล"
                    emit-value
                    map-options
                    dense
                    options-dense
                  ></q-select>
                </div>
                <div style="width:50%" class="q-pa-xs" v-if="UnitOptions">
                  <q-select
                    class="q-pa-xs bg-white"
                    v-model="unit"
                    :options="UnitOptions"
                    float-label="ยูนิต"
                    emit-value
                    map-options
                    dense
                    options-dense
                  ></q-select>
                </div>
              </div>
            </div>
          </div>

          <!-- RANKING -->
          <!-- <div
            style="text-align:center"
            :class="{'col-2' : innerWidth > 1024}"
            v-show="innerWidth > 1024"
          >
            <img width="100" src="../assets/ranking.png" alt>
          </div>-->

          <div
            class="q-mt-sm"
            :class="{'overflowA':innerWidth > 1024,'q-pa-xs' : innerWidth <= 1024}"
            style="width:100%"
          >
            <div class="row items-center">
              <div class="col-xs-2 col-lg-1 q-my-md">
                <div
                  class="worldBox1"
                  style="background-color:#710072;border-top-left-radius:10px;border-bottom-left-radius:10px"
                  align="center"
                >
                  <div
                    align="center"
                    class="text-white self-center"
                    style="width:100%;font-size:44px;font-weight:600"
                  >V</div>
                </div>
              </div>
              <div class="col-xs-10 col-lg-3 q-my-md">
                <div class="bg-light-blue-10 boxshadow worldBox">
                  <div class="text-white selfCenter">
                    Vocabulary
                    <br />•
                    <span class="q-subheading">Level {{vocabLevel}}</span>
                    &nbsp;
                    <span
                      v-if="avgScore.vocabScore"
                    >: ({{avgScore.vocabScore.toFixed(0)}}%)</span>
                  </div>
                </div>
              </div>

              <div class="col-lg-8 col-xs-12" :class="{'vocabRow' : innerWidth >1439}">
                <div class="row self-center items-center">
                  <div class="col-1" v-show="innerWidth > 1439">
                    <div>
                      <hr class="hr-style" />
                    </div>
                  </div>
                  <div class="col row items-center">
                    <div
                      v-show="vocabPractice.length > 0"
                      class="col-2 q-pr-xl"
                      v-for="(item,index) in vocabPractice"
                      :key="index"
                    >
                      <!-- *********************** Flashcard *********************** -->
                      <q-btn
                        :glossy="$q.theme === 'mat'"
                        @click="toFlashcard(item.key,item.appTemplate)"
                        v-if="item.practicetype == 'flashcard'"
                        class="text-grey-9"
                        :class="{'practiceBtn-l':innerWidth >= 600,'practiceBtn-s':innerWidth <= 600,'bg-amber-7':passedPractice.includes(item.key) ,'bg-grey-4':!passedPractice.includes(item.key)}"
                        push
                        style="border-radius:10px"
                      >
                        <img src="../statics/studyplanicon_flashcard.png" alt style="width:23px" />
                        <!-- <q-icon name="fas fa-table"></q-icon> -->
                      </q-btn>
                      <!-- MULTIPLE CHOICES -->
                      <q-btn
                        @click="toMultipleChoices(item.key,item.appTemplate,1)"
                        v-if="item.practicetype == 'multiple choices' && !passedPractice.includes(item.key)"
                        :class="{'practiceBtn-l':innerWidth >= 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        class="text-grey-9 bg-grey-4"
                        style="border-radius:10px"
                      >
                        <img
                          :src="'../statics/studyplanicon' + item.practiceNumber + '.png'"
                          style="width:23px"
                          alt
                        />
                      </q-btn>
                      <q-btn
                        @click="toMultipleChoices(item.key,item.appTemplate,1)"
                        v-if="item.practicetype == 'multiple choices' && passedPractice.includes(item.key)"
                        :class="{'practiceBtn-l':innerWidth >= 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        class="text-grey-9 bg-amber-7"
                        style="border-radius:10px"
                      >
                        <span v-for="(score,indexscore) in scoreStore" :key="indexscore">
                          <span v-if="score.practicekey == item.key">{{score.score.toFixed(0)}}</span>
                        </span>
                      </q-btn>
                      <!-- MATCHING -->

                      <q-btn
                        @click="toMatching(item.key,item.appTemplate)"
                        v-if="item.practicetype == 'matching' && !passedPractice.includes(item.key)"
                        :class="{'practiceBtn-l':innerWidth >= 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        class="text-grey-9 bg-grey-4"
                        style="border-radius:10px"
                      >
                        <img
                          :src="'../statics/studyplanicon' + item.practiceNumber + '.png'"
                          style="width:23px"
                          alt
                        />
                      </q-btn>
                      <q-btn
                        @click="toMatching(item.key,item.appTemplate)"
                        v-if="item.practicetype == 'matching' && passedPractice.includes(item.key)"
                        :class="{'practiceBtn-l':innerWidth >= 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        class="text-grey-9 bg-amber-7"
                        style="border-radius:10px"
                      >
                        <span v-for="(score,indexscore) in scoreStore" :key="indexscore">
                          <span v-if="score.practicekey == item.key">{{score.score.toFixed(0)}}</span>
                        </span>
                        <!-- {{showScore(item.key)}} -->
                      </q-btn>
                      <!-- SPELLING BEE -->
                      <q-btn
                        @click="toSpellingbee(item.key,item.appTemplate)"
                        v-if="item.practicetype == 'spelling bee' && !passedPractice.includes(item.key)"
                        :class="{'practiceBtn-l':innerWidth >= 600,'practiceBtn-s':innerWidth <= 600,}"
                        push
                        class="text-grey-9 bg-grey-4"
                        style="border-radius:10px"
                      >
                        <img
                          :src="'../statics/studyplanicon' + item.practiceNumber + '.png'"
                          style="width:23px"
                          alt
                        />
                      </q-btn>

                      <q-btn
                        @click="toSpellingbee(item.key,item.appTemplate)"
                        v-if="item.practicetype == 'spelling bee' && passedPractice.includes(item.key)"
                        :class="{'practiceBtn-l':innerWidth >= 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        class="text-grey-9 bg-amber-7"
                        style="border-radius:10px"
                      >
                        <span v-for="(score,indexscore) in scoreStore" :key="indexscore">
                          <span v-if="score.practicekey == item.key">{{score.score.toFixed(0)}}</span>
                        </span>
                      </q-btn>

                      <q-btn
                        @click="toSpellingbee(item.key,item.appTemplate)"
                        v-if="item.practicetype == 'review' && passedPractice.includes(item.key)"
                        :class="{'practiceBtn-l':innerWidth >= 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        class="text-grey-9 bg-amber-7"
                        style="border-radius:10px"
                      >
                        <span v-for="(score,indexscore) in scoreStore" :key="indexscore">
                          <span v-if="score.practicekey == item.key">{{score.score.toFixed(0)}}</span>
                        </span>
                      </q-btn>
                    </div>

                    <!-- กรณีไม่มีแบบฝึกหัด -->
                    <div
                      class="bg-yellow-9 q-pa-sm text-grey-9 col-12"
                      style="border:10px solid #37474f ;text-align:center"
                      v-if="vocabPractice.length == 0"
                    >
                      <q-icon name="fas fa-times" class="q-pr-xs"></q-icon>คุณไม่มีเนื้อหาแบบฝึกหัดในส่วนนี้
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row items-center q-mt-md">
              <div class="col-xs-2 col-lg-1 q-my-md">
                <div
                  class="worldBox1"
                  style="background-color:#D91225;border-top-left-radius:10px;border-bottom-left-radius:10px"
                  align="center"
                >
                  <div
                    align="center"
                    class="text-white self-center"
                    style="width:100%;font-size:44px;font-weight:600"
                  >G</div>
                </div>
              </div>
              <div class="col-xs-10 col-lg-3 q-my-md">
                <div class="bg-light-blue-10 boxshadow worldBox">
                  <div class="text-white selfCenter">
                    Grammar
                    <br />•
                    <span class="q-subheading">Level {{grammarLevel}}</span>
                    &nbsp;
                    <span
                      v-if="avgScore.grammarScore"
                    >: ({{avgScore.grammarScore.toFixed(0)}}%)</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-xs-12" :class="{'grammarRow' : innerWidth >1439}">
                <div class="row self-center items-center">
                  <div class="col-1" v-show="innerWidth > 1439">
                    <div>
                      <hr class="hr-style" />
                    </div>
                  </div>
                  <div class="col row items-center">
                    <!-- GRAMMAR -->
                    <div
                      v-show="grammarPractice.length > 0"
                      class="col-2 q-pr-xl"
                      v-for="(item,index) in grammarPractice"
                      :key="index"
                    >
                      <!-- *********************** VDO Teaching *********************** -->
                      <q-btn
                        :glossy="$q.theme === 'mat'"
                        @click="toVdoTeaching(item.key,item.appTemplate,2,item.order)"
                        v-if="item.practicetype == 'teaching VDO'"
                        class="text-grey-9"
                        :class="{'practiceBtn-l':innerWidth > 600,'practiceBtn-s':innerWidth <= 600,'bg-amber-7':passedPractice.includes(item.key) ,'bg-grey-4':!passedPractice.includes(item.key)}"
                        push
                        style="border-radius:10px"
                      >
                        <img src="../statics/studyplanicon_video.png" style="width:23px" alt />
                      </q-btn>

                      <!-- *********************** Fill in the blank *********************** -->
                      <q-btn
                        :glossy="$q.theme === 'mat'"
                        @click="toFillin(item.key,item.appTemplate)"
                        v-if="item.practicetype == 'fill in the blanks' && !passedPractice.includes(item.key)"
                        class="text-grey-9 bg-grey-4"
                        :class="{'practiceBtn-l':innerWidth > 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        style="border-radius:10px"
                      >
                        <img
                          :src="'../statics/studyplanicon' + item.practiceNumber + '.png'"
                          style="width:23px"
                          alt
                        />
                      </q-btn>

                      <q-btn
                        :glossy="$q.theme === 'mat'"
                        @click="toFillin(item.key,item.appTemplate)"
                        v-if="item.practicetype == 'fill in the blanks' && passedPractice.includes(item.key)"
                        class="text-grey-9 bg-amber-7"
                        :class="{'practiceBtn-l':innerWidth > 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        style="border-radius:10px"
                      >
                        <span v-for="(score,indexscore) in scoreStore" :key="indexscore">
                          <span v-if="score.practicekey == item.key">{{score.score.toFixed(0)}}</span>
                        </span>
                      </q-btn>

                      <!-- *********************** Grammar Multiple choices *********************** -->
                      <q-btn
                        :glossy="$q.theme === 'mat'"
                        @click="toMultipleChoices(item.key,item.appTemplate,2)"
                        v-if="item.practicetype == 'multiple choices' && !passedPractice.includes(item.key)"
                        class="text-grey-9 bg-grey-4"
                        :class="{'practiceBtn-l':innerWidth > 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        style="border-radius:10px"
                      >
                        <img
                          :src="'../statics/studyplanicon' + item.practiceNumber + '.png'"
                          style="width:23px"
                          alt
                        />
                      </q-btn>

                      <q-btn
                        :glossy="$q.theme === 'mat'"
                        @click="toMultipleChoices(item.key,item.appTemplate,2)"
                        v-if="item.practicetype == 'multiple choices' && passedPractice.includes(item.key)"
                        class="text-grey-9 bg-amber-7"
                        :class="{'practiceBtn-l':innerWidth > 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        style="border-radius:10px"
                      >
                        <span v-for="(score,indexscore) in scoreStore" :key="indexscore">
                          <span v-if="score.practicekey == item.key">{{score.score.toFixed(0)}}</span>
                        </span>
                      </q-btn>

                      <!-- *********************** Error Detection *********************** -->
                      <q-btn
                        :glossy="$q.theme === 'mat'"
                        @click="toErrorDetection(item.key,item.appTemplate)"
                        v-if="item.practicetype == 'error detection'"
                        class="text-grey-9"
                        :class="{'practiceBtn-l':innerWidth > 600,'practiceBtn-s':innerWidth <= 600,'bg-amber-7':passedPractice.includes(item.key) ,'bg-grey-4':!passedPractice.includes(item.key)}"
                        push
                        style="border-radius:10px"
                        icon="fas fa-file-invoice"
                      ></q-btn>
                    </div>

                    <!-- กรณีไม่มีแบบฝึกหัด -->
                    <div
                      class="bg-yellow-9 q-pa-sm text-grey-9 col-12"
                      style="border:10px solid #37474f ;text-align:center"
                      v-if="grammarPractice.length == 0"
                    >
                      <q-icon name="fas fa-times" class="q-pr-xs"></q-icon>คุณไม่มีเนื้อหาแบบฝึกหัดในส่วนนี้
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row items-center q-mt-md">
              <div class="col-xs-2 col-lg-1 q-my-md">
                <div
                  class="worldBox1"
                  style="background-color:#E57301;border-top-left-radius:10px;border-bottom-left-radius:10px"
                  align="center"
                >
                  <div
                    align="center"
                    class="text-white self-center"
                    style="width:100%;font-size:44px;font-weight:600"
                  >R</div>
                </div>
              </div>
              <div class="col-xs-10 col-lg-3 q-my-md">
                <div class="bg-light-blue-10 boxshadow worldBox">
                  <div class="text-white selfCenter">
                    Reading
                    <br />•
                    <span class="q-subheading">Level {{readingLevel}}</span>
                    &nbsp;
                    <span
                      v-if="avgScore.readingScore"
                    >: ({{avgScore.readingScore.toFixed(0)}}%)</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-xs-12" :class="{'readingRow' : innerWidth >1439}">
                <div class="row self-center items-center">
                  <div class="col-1" v-show="innerWidth > 1439">
                    <div>
                      <hr class="hr-style" />
                    </div>
                  </div>
                  <div class="col row items-center">
                    <div
                      v-show="readingPractice.length > 0"
                      class="col-2 q-pr-xl"
                      v-for="(item,index) in readingPractice"
                      :key="index"
                    >
                      <!-- *********************** Reading Multiple *********************** -->
                      <q-btn
                        :glossy="$q.theme === 'mat'"
                        @click="toReadingMultiple(item.key,item.appTemplate)"
                        v-if="item.practicetype == 'reading (Multiple choices)' && !passedPractice.includes(item.key)"
                        class="text-grey-9 bg-grey-4"
                        :class="{'practiceBtn-l':innerWidth > 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        style="border-radius:10px"
                      >
                        <img
                          :src="'../statics/studyplanicon' + (index+1) + '.png'"
                          style="width:23px"
                          alt
                        />
                      </q-btn>

                      <q-btn
                        :glossy="$q.theme === 'mat'"
                        @click="toReadingMultiple(item.key,item.appTemplate)"
                        v-if="item.practicetype == 'reading (Multiple choices)' && passedPractice.includes(item.key)"
                        class="text-grey-9 bg-amber-7"
                        :class="{'practiceBtn-l':innerWidth > 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        style="border-radius:10px"
                      >
                        <span v-for="(score,indexscore) in scoreStore" :key="indexscore">
                          <span v-if="score.practicekey == item.key">{{score.score.toFixed(0)}}</span>
                        </span>
                      </q-btn>

                      <!-- *********************** Reading Fill in the blank *********************** -->
                      <q-btn
                        :glossy="$q.theme === 'mat'"
                        @click="toReadingFillin(item.key,item.appTemplate)"
                        v-if="item.practicetype == 'reading (Fill in the blanks)' && !passedPractice.includes(item.key)"
                        class="text-grey-9 bg-grey-4"
                        :class="{'practiceBtn-l':innerWidth > 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        style="border-radius:10px"
                      >
                        <img
                          :src="'../statics/studyplanicon' + (index+1) + '.png'"
                          style="width:23px"
                          alt
                        />
                      </q-btn>

                      <q-btn
                        :glossy="$q.theme === 'mat'"
                        @click="toReadingFillin(item.key,item.appTemplate)"
                        v-if="item.practicetype == 'reading (Fill in the blanks)' && passedPractice.includes(item.key)"
                        class="text-grey-9 bg-amber-7"
                        :class="{'practiceBtn-l':innerWidth > 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        style="border-radius:10px"
                      >
                        <span v-for="(score,indexscore) in scoreStore" :key="indexscore">
                          <span v-if="score.practicekey == item.key">{{score.score.toFixed(0)}}</span>
                        </span>
                      </q-btn>
                    </div>
                    <!-- กรณีไม่มีแบบฝึกหัด -->
                    <div
                      class="bg-yellow-9 q-pa-sm text-grey-9 col-12"
                      style="border:10px solid #37474f ;text-align:center"
                      v-if="readingPractice.length == 0"
                    >
                      <q-icon name="fas fa-times" class="q-pr-xs"></q-icon>คุณไม่มีเนื้อหาแบบฝึกหัดในส่วนนี้
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row items-center q-mt-md">
              <div class="col-xs-2 col-lg-1 q-my-md">
                <div
                  class="worldBox1"
                  style="background-color:#018242;border-top-left-radius:10px;border-bottom-left-radius:10px"
                  align="center"
                >
                  <div
                    align="center"
                    class="text-white self-center"
                    style="width:100%;font-size:44px;font-weight:600"
                  >W</div>
                </div>
              </div>
              <div class="col-xs-10 col-lg-3 q-my-md">
                <div class="bg-light-blue-10 boxshadow worldBox">
                  <div class="text-white selfCenter">
                    Writing
                    <br />•
                    <span class="q-subheading">Level {{writingLevel}}</span>
                    &nbsp;
                    <span
                      v-if="avgScore.writingScore"
                    >: ({{avgScore.writingScore.toFixed(0)}}%)</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-xs-12" :class="{'writingRow' : innerWidth >1439}">
                <div class="row self-center items-center">
                  <div class="col-1" v-show="innerWidth > 1439">
                    <div>
                      <hr class="hr-style" />
                    </div>
                  </div>
                  <div class="col row items-center">
                    <div
                      v-show="writingPractice.length > 0"
                      class="col-2 q-pr-xl"
                      v-for="(item,index) in writingPractice"
                      :key="index"
                    >
                      <!-- *********************** translation *********************** -->
                      <q-btn
                        :glossy="$q.theme === 'mat'"
                        @click="toTranslation(item.key,item.appTemplate)"
                        v-if="item.practicetype == 'translation' && !passedPractice.includes(item.key)"
                        class="text-grey-9 bg-grey-4"
                        :class="{'practiceBtn-l':innerWidth > 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        style="border-radius:10px"
                      >
                        <img
                          :src="'../statics/studyplanicon' + (index+1) + '.png'"
                          style="width:23px"
                          alt
                        />
                      </q-btn>

                      <q-btn
                        :glossy="$q.theme === 'mat'"
                        @click="toTranslation(item.key,item.appTemplate)"
                        v-if="item.practicetype == 'translation' && passedPractice.includes(item.key)"
                        class="text-grey-9 bg-amber-7"
                        :class="{'practiceBtn-l':innerWidth > 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        style="border-radius:10px"
                      >
                        <span v-for="(score,indexscore) in scoreStore" :key="indexscore">
                          <span v-if="score.practicekey == item.key">{{score.score.toFixed(0)}}</span>
                        </span>
                      </q-btn>

                      <!-- DICTATION -->
                      <q-btn
                        :glossy="$q.theme === 'mat'"
                        @click="toDictation(item.key,item.appTemplate)"
                        v-if="item.practicetype == 'dictation' && !passedPractice.includes(item.key)"
                        class="text-grey-9 bg-grey-4"
                        :class="{'practiceBtn-l':innerWidth > 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        style="border-radius:10px"
                      >
                        <img
                          :src="'../statics/studyplanicon' + (index+1) + '.png'"
                          style="width:23px"
                          alt
                        />
                      </q-btn>

                      <q-btn
                        :glossy="$q.theme === 'mat'"
                        @click="toDictation(item.key,item.appTemplate)"
                        v-if="item.practicetype == 'dictation' && passedPractice.includes(item.key)"
                        class="text-grey-9 bg-amber-7"
                        :class="{'practiceBtn-l':innerWidth > 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        style="border-radius:10px"
                      >
                        <span v-for="(score,indexscore) in scoreStore" :key="indexscore">
                          <span v-if="score.practicekey == item.key">{{score.score.toFixed(0)}}</span>
                        </span>
                      </q-btn>
                    </div>

                    <!-- กรณีไม่มีแบบฝึกหัด -->
                    <div
                      class="bg-yellow-9 q-pa-sm text-grey-9 col-12"
                      style="border:10px solid #37474f ;text-align:center"
                      v-if="writingPractice.length == 0"
                    >
                      <q-icon name="fas fa-times" class="q-pr-xs"></q-icon>คุณไม่มีเนื้อหาแบบฝึกหัดในส่วนนี้
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row items-center q-mt-md">
              <div class="col-xs-2 col-lg-1 q-my-md">
                <div
                  class="worldBox1"
                  style="background-color:#000094;border-top-left-radius:10px;border-bottom-left-radius:10px"
                  align="center"
                >
                  <div
                    align="center"
                    class="text-white self-center"
                    style="width:100%;font-size:44px;font-weight:600"
                  >L</div>
                </div>
              </div>
              <div class="col-xs-10 col-lg-3 q-my-md">
                <div class="bg-light-blue-10 boxshadow worldBox">
                  <div class="text-white selfCenter">
                    Listening & Speaking
                    <br />•
                    <span class="q-subheading">Level {{listeningLevel}}</span>
                    &nbsp;
                    <span
                      v-if="avgScore.listeningScore"
                    >: ({{avgScore.listeningScore.toFixed(0)}}%)</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-xs-12" :class="{'listeningRow' : innerWidth >1439}">
                <div class="row self-center items-center">
                  <div class="col-1" v-show="innerWidth > 1439">
                    <div>
                      <hr class="hr-style" />
                    </div>
                  </div>
                  <div class="col row items-center">
                    <!-- *********************** Listening *********************** -->
                    <div
                      v-show="listeningPractice.length > 0"
                      class="col-2 q-pr-xl"
                      v-for="(item,index) in listeningPractice"
                      :key="index"
                    >
                      <!-- *********************** VDO Teaching *********************** -->
                      <q-btn
                        :glossy="$q.theme === 'mat'"
                        @click="toVdoTeaching(item.key,item.appTemplate,5,item.order)"
                        v-if="item.practicetype == 'teaching VDO'"
                        class="text-grey-9"
                        :class="{'practiceBtn-l':innerWidth > 600,'practiceBtn-s':innerWidth <= 600,'bg-amber-7':passedPractice.includes(item.key) ,'bg-grey-4':!passedPractice.includes(item.key)}"
                        push
                        style="border-radius:10px"
                        icon="fas fa-video"
                      ></q-btn>

                      <!-- *********************** Listening Multiple choices *********************** -->
                      <q-btn
                        :glossy="$q.theme === 'mat'"
                        @click="toMultipleChoices(item.key,item.appTemplate,5)"
                        v-if="item.practicetype == 'multiple choices' && !passedPractice.includes(item.key)"
                        class="text-grey-9 bg-grey-4"
                        :class="{'practiceBtn-l':innerWidth > 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        style="border-radius:10px"
                      >
                        <img
                          :src="'../statics/studyplanicon' + item.practiceNumber + '.png'"
                          style="width:23px"
                          alt
                        />
                      </q-btn>

                      <q-btn
                        :glossy="$q.theme === 'mat'"
                        @click="toMultipleChoices(item.key,item.appTemplate,5)"
                        v-if="item.practicetype == 'multiple choices' && passedPractice.includes(item.key)"
                        class="text-grey-9 bg-amber-7"
                        :class="{'practiceBtn-l':innerWidth > 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        style="border-radius:10px"
                      >
                        <span v-for="(score,indexscore) in scoreStore" :key="indexscore">
                          <span v-if="score.practicekey == item.key">{{score.score.toFixed(0)}}</span>
                        </span>
                      </q-btn>
                      <!-- *********************** Conversation VDO *********************** -->
                      <q-btn
                        :glossy="$q.theme === 'mat'"
                        @click="toConversationVdo(item.key,item.appTemplate)"
                        v-if="item.practicetype == 'conversation VDO'"
                        class="text-grey-9"
                        :class="{'practiceBtn-l':innerWidth > 600,'practiceBtn-s':innerWidth <= 600,'bg-amber-7':passedPractice.includes(item.key) ,'bg-grey-4':!passedPractice.includes(item.key)}"
                        push
                        style="border-radius:10px"
                        icon="fas fa-comments"
                      ></q-btn>

                      <!-- *********************** Speaking Practice *********************** -->
                      <q-btn
                        v-show="$q.platform.is.desktop"
                        :glossy="$q.theme === 'mat'"
                        @click="toSpeaking(item.key,item.appTemplate)"
                        v-if="item.practicetype == 'speaking practice' && !passedPractice.includes(item.key)"
                        class="text-grey-9 bg-grey-4"
                        :class="{'practiceBtn-l':innerWidth > 600,'practiceBtn-s':innerWidth <= 600}"
                        push
                        style="border-radius:10px"
                        icon="fas fa-microphone-alt"
                      ></q-btn>
                      <q-btn
                        v-show="$q.platform.is.desktop"
                        :glossy="$q.theme === 'mat'"
                        @click="toSpeaking(item.key,item.appTemplate)"
                        v-if="item.practicetype == 'speaking practice' && passedPractice.includes(item.key)"
                        class="text-grey-9 bg-amber-7"
                        :class="{'practiceBtn-l':innerWidth > 600,'practiceBtn-s':innerWidth <= 600,'bg-amber-7':passedPractice.includes(item.key) ,'bg-grey-4':!passedPractice.includes(item.key)}"
                        push
                        style="border-radius:10px"
                      >
                        <span v-for="(score,indexscore) in scoreStore" :key="indexscore">
                          <span v-if="score.practicekey == item.key">{{score.score.toFixed(0)}}</span>
                        </span>
                      </q-btn>
                    </div>
                    <div
                      class="bg-yellow-9 q-pa-sm text-grey-9 col-12"
                      style="border:10px solid #37474f ;text-align:center"
                      v-if="listeningPractice.length == 0"
                    >
                      <q-icon name="fas fa-times" class="q-pr-xs"></q-icon>คุณไม่มีเนื้อหาแบบฝึกหัดในส่วนนี้
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
import { setTimeout } from "timers";
export default {
  data() {
    return {
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight,
      LevelOptions: [],
      UnitOptions: "",
      lesson:
        this.$store.state.system.currentLesson != undefined
          ? this.$store.state.system.currentLesson
          : 0,
      unit: this.$store.state.system.currentPracticeUnit,
      vocabLevel: 0,
      grammarLevel: 0,
      readingLevel: 0,
      writingLevel: 0,
      listeningLevel: 0,
      studentNo: this.$store.state.system.studentCourse[
        this.$store.state.system.studentCourse.length - 1
      ].studentno,
      vocabPractice: this.$store.state.system.vocabPractice,
      grammarPractice: this.$store.state.system.grammarPractice,
      readingPractice: this.$store.state.system.readingPractice,
      writingPractice: this.$store.state.system.writingPractice,
      listeningPractice: this.$store.state.system.listeningPractice,
      passedPractice: [],
      key: this.$store.state.system.loginKey,
      scoreStore: [],
      activePassedPracticeClick: undefined,
      showPopupScore: false,
      avgScore: {
        vocabScore: 0,
        grammarScore: 0,
        readingScore: 0,
        writingScore: 0,
        listeningScore: 0
      }
      // date: firebase.firestore.Timestamp.fromDate(new Date()).toDate(),
      // test: ""
    };
  },
  methods: {
    ...mapActions([
      "setStudentData",
      "setStudentCourse",
      "setVocabPractice",
      "setGrammarPractice",
      "setCurrentLesson",
      "setCurrentPracticeLevel",
      "setCurrentPracticeUnit",
      "setShowLayouts",
      "setWritingPractice",
      "setCharacterAction",
      "setFlashcard",
      "setReadingPractice",
      "setMarkerList",
      "setCurrentWorld",
      "setVdoJs",
      "setListeningPractice",
      "setVdoTeachingPath"
    ]),
    onResize(size) {
      this.innerWidth = size.width;
      this.innerHeight = size.height;
    },
    changeCourse() {
      let _this = this;
      _this.setCurrentLesson(_this.lesson);
      this.vocabLevel =
        _this.$store.state.system.studentCourse[
          this.$store.state.system.currentLesson
        ].vocablv;
      this.grammarLevel =
        _this.$store.state.system.studentCourse[
          this.$store.state.system.currentLesson
        ].grammarlv;
      this.readingLevel =
        _this.$store.state.system.studentCourse[
          this.$store.state.system.currentLesson
        ].readinglv;
      this.writingLevel =
        _this.$store.state.system.studentCourse[
          this.$store.state.system.currentLesson
        ].writinglv;
      this.listeningLevel =
        _this.$store.state.system.studentCourse[
          this.$store.state.system.currentLesson
        ].listeninglv;

      // clear flashcard in vuex presisted state
      this.setFlashcard([]);
    },
    getVocabPractice() {
      let _this = this;
      let levelUnit = "L" + this.vocabLevel + "U" + this.unit;
      // console.log(levelUnit);
      this.showLoading();

      db.collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .orderBy("order")
        .where("order", "<=", 2000)

        .get()
        .then(data => {
          var vocabPractice = [];
          let practiceNumber = 1;
          data.forEach(async doc => {
            // ************************************แบบฝึกหัด Flashcard ************************************
            // console.log(doc.data());
            // console.log(doc.data().practicetype);
            if (doc.data().practicetype == "flashcard") {
              let flashcardGet = await db
                .collection("flashcard")
                .doc(doc.id)
                .get();
              // .then(flashcard => {
              if (flashcardGet.exists) {
                // for (
                //   let i = 0;
                //   i < flashcard.data().schoolTypeSelected.length;
                //   i++
                // ) {
                if (
                  flashcardGet
                    .data()
                    .schoolTypeSelected.includes(
                      this.$store.state.system.schoolType.key
                    )
                ) {
                  let dataMerge = {
                    key: doc.id,
                    appTemplate: flashcardGet.data().appTemplate,
                    category: flashcardGet.data().category,
                    spellingSound: flashcardGet.data().spellingSound,
                    practiceNumber: 0
                  };
                  var dataFinal = { ...dataMerge, ...doc.data() };
                  // _this.vocabPractice.push(dataFinal);
                  vocabPractice.push(dataFinal);
                }
                // }
                this.setVocabPractice(vocabPractice);
                this.vocabPractice = this.$store.state.system.vocabPractice;
              }
              // });
            }
            // ************************************แบบฝึกหัด spelling bee ************************************
            else if (doc.data().practicetype == "spelling bee") {
              db.collection("spellingbee")
                .doc(doc.id)
                .collection(this.$store.state.system.schoolType.name)
                .doc("data")
                .get()
                .then(spelling => {
                  if (spelling.exists) {
                    db.collection("spellingbee")
                      .doc(doc.id)
                      .get()
                      .then(dataspelling => {
                        let dataKey = {
                          key: doc.id,
                          practicetype: doc.data().practicetype,
                          appTemplate: dataspelling.data().appTemplate,
                          practiceNumber: practiceNumber,
                          order: doc.data
                        };
                        practiceNumber++;
                        let dataFinal = { ...dataKey, ...spelling.data() };
                        vocabPractice.push(dataFinal);
                        this.setVocabPractice(vocabPractice);
                        this.vocabPractice = this.$store.state.system.vocabPractice;
                      });
                  }
                });
            }
            // ************************************แบบฝึกหัด Vocab Matching ************************************
            else if (doc.data().practicetype == "matching") {
              let matchingRef = db.collection("matching").doc(doc.id);

              matchingRef
                .collection(this.$store.state.system.schoolType.name)
                .doc("data")
                .get()
                .then(matching => {
                  if (matching.exists) {
                    matchingRef.get().then(docmatching => {
                      let appTemplate = {
                        appTemplate: docmatching.data().appTemplate,
                        key: docmatching.id,
                        practicetype: doc.data().practicetype,
                        practiceNumber: practiceNumber,
                        order: doc.data().order
                      };
                      practiceNumber++;
                      let dataFinal = { ...appTemplate, ...matching.data() };
                      vocabPractice.push(dataFinal);
                      this.setVocabPractice(vocabPractice);
                      this.vocabPractice = this.$store.state.system.vocabPractice;
                    });
                  }
                });
            }

            // ************************************แบบฝึกหัด Multiple choices ************************************
            else if (doc.data().practicetype == "multiple choices") {
              let multiplechoicesRef = db
                .collection("multiplechoice")
                .doc(doc.id);

              multiplechoicesRef
                .collection("schooloption")
                .doc(this.$store.state.system.schoolType.name)
                .get()
                .then(multiplechoices => {
                  if (multiplechoices.exists) {
                    multiplechoicesRef.get().then(docmultiplechoices => {
                      let appTemplate = {
                        appTemplate: docmultiplechoices.data().appTemplate,
                        key: docmultiplechoices.id,
                        practicetype: doc.data().practicetype,
                        practiceNumber: practiceNumber,
                        order: doc.data().order
                      };
                      practiceNumber++;
                      let dataFinal = {
                        ...appTemplate,
                        ...multiplechoices.data()
                      };
                      vocabPractice.push(dataFinal);
                      this.setVocabPractice(vocabPractice);
                      this.vocabPractice = this.$store.state.system.vocabPractice;
                    });
                  }
                });
            }
          });
          this.hideLoading();
        });
    },
    async getGrammarPractice() {
      this.showLoading();
      let levelUnit = "L" + this.grammarLevel + "U" + this.unit;
      var grammarPracticeArr = [];
      let practiceData = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .where("order", ">", 2000)
        .where("order", "<", 3000)
        .orderBy("order")
        .get();
      let practiceNumber = 1;
      practiceData.forEach(element => {
        var practiceType = element.data().practicetype;
        if (practiceType == "teaching VDO") {
          // *************************************** Teaching VDO ***************************************
          db.collection("trainingvdo")
            .doc(element.id)
            .get()
            .then(doc => {
              if (doc.exists) {
                if (
                  doc
                    .data()
                    .schoolTypeSelected.includes(
                      this.$store.state.system.schoolType.key
                    )
                ) {
                  let data = {
                    appTemplate: doc.data().appTemplate,
                    key: element.id,
                    name: element.data().name,
                    practicetype: practiceType,
                    order: element.data().order,
                    practiceNumber: 0
                  };
                  grammarPracticeArr.push(data);
                  grammarPracticeArr.sort((a, b) => {
                    return a.order - b.order;
                  });
                  this.setGrammarPractice(grammarPracticeArr);
                }
              }
            });
        } else if (practiceType == "multiple choices") {
          // multiple choices
          this.showLoading();
          let multiplechoicesRef = db
            .collection("multiplechoice")
            .doc(element.id);

          multiplechoicesRef
            .collection("schooloption")
            .doc(this.$store.state.system.schoolType.name)
            .get()
            .then(multiplechoices => {
              if (multiplechoices.exists) {
                multiplechoicesRef.get().then(doc => {
                  let data = {
                    appTemplate: doc.data().appTemplate,
                    key: element.id,
                    name: element.data().name,
                    practicetype: practiceType,
                    order: element.data().order,
                    practiceNumber: practiceNumber
                  };
                  practiceNumber++;
                  grammarPracticeArr.push(data);
                  grammarPracticeArr.sort((a, b) => {
                    return a.order - b.order;
                  });
                  this.setGrammarPractice(grammarPracticeArr);
                });
              }
            });
        } else if (practiceType == "fill in the blanks") {
          let fillinRef = db
            .collection("fillintheblank")
            .doc(element.id)
            .collection("schooloption")
            .doc(this.$store.state.system.schoolType.name)
            .get()
            .then(school => {
              if (school.exists) {
                db.collection("fillintheblank")
                  .doc(element.id)
                  .get()
                  .then(doc => {
                    let data = {
                      appTemplate: doc.data().apptemplate,
                      key: element.id,
                      name: element.data().name,
                      practicetype: practiceType,
                      order: element.data().order,
                      practiceNumber: practiceNumber
                    };
                    practiceNumber++;
                    grammarPracticeArr.push(data);
                    grammarPracticeArr.sort((a, b) => {
                      return a.order - b.order;
                    });
                    this.setGrammarPractice(grammarPracticeArr);
                  });
              }
            });
        }
      });

      this.grammarPractice = grammarPracticeArr;

      this.hideLoading();
    },

    async getReadingPractice() {
      this.showLoading();
      var readingPracticeArr = [];
      let levelUnit = "L" + this.readingLevel + "U" + this.unit;
      let practiceData = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .where("order", ">", 3000)
        .where("order", "<", 4000)
        .orderBy("order")
        .get();

      practiceData.forEach(element => {
        let practiceType = element.data().practicetype;
        // *********************************** reading (Multiple choices) ***********************************
        if (practiceType == "reading (Multiple choices)") {
          db.collection("readingmultiple")
            .doc(element.id)
            .collection("schooloption")
            .doc(this.$store.state.system.schoolType.name)
            .get()
            .then(school => {
              if (school.exists) {
                db.collection("readingmultiple")
                  .doc(element.id)
                  .get()
                  .then(doc => {
                    let data = {
                      appTemplate: doc.data().apptemplate,
                      key: element.id,
                      name: element.data().name,
                      practicetype: practiceType
                    };
                    readingPracticeArr.push(data);
                    this.setReadingPractice(readingPracticeArr);
                  });
              }
              this.hideLoading();
            });
        } else if (practiceType == "reading (Fill in the blanks)") {
          db.collection("readingfillin")
            .doc(element.id)
            .collection("schooloption")
            .doc(this.$store.state.system.schoolType.name)
            .get()
            .then(school => {
              if (school.exists) {
                db.collection("readingfillin")
                  .doc(element.id)
                  .get()
                  .then(doc => {
                    let data = {
                      appTemplate: doc.data().apptemplate,
                      key: element.id,
                      name: element.data().name,
                      practicetype: practiceType
                    };
                    readingPracticeArr.push(data);
                    this.setReadingPractice(readingPracticeArr);
                  });
              }
            });
          this.hideLoading();
        }
        this.readingPractice = readingPracticeArr;
      });
    },
    closeScorePopup() {
      this.showPopupScore = false;
    },
    async getWritingPractice() {
      // this.writingPractice = [];
      // this.getTranslationPractice();
      // this.getDictationPractice();
      // this.showLoading();
      var writingPracticeArr = [];
      let levelUnit = "L" + this.writingLevel + "U" + this.unit;
      var grammarPracticeArr = [];
      let practiceData = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .where("order", ">", 4000)
        .where("order", "<", 5000)
        .orderBy("order")
        .get();

      practiceData.forEach(element => {
        let practiceType = element.data().practicetype;
        // ************************************** TRANSLATION **************************************
        if (practiceType == "translation") {
          db.collection("translation")
            .doc(element.id)
            .collection("schooloption")
            .doc(this.$store.state.system.schoolType.name)
            .get()
            .then(school => {
              if (school.exists) {
                // เช็คว่าแบบฝึกหัดนี้ มีในประเภทโรงเรียนนี้หรือไม่
                db.collection("translation")
                  .doc(element.id)
                  .get()
                  .then(doc => {
                    let data = {
                      appTemplate: doc.data().apptemplate,
                      key: element.id,
                      name: element.data().name,
                      practicetype: practiceType
                    };
                    writingPracticeArr.push(data);
                    this.setWritingPractice(writingPracticeArr);
                  });
              }
            });
        } else if (practiceType == "dictation") {
          // ************************************** DICTATION **************************************
          db.collection("dictation")
            .doc(element.id)
            .collection("schooloption")
            .doc(this.$store.state.system.schoolType.name)
            .get()
            .then(school => {
              if (school.exists) {
                db.collection("dictation")
                  .doc(element.id)
                  .get()
                  .then(doc => {
                    let data = {
                      appTemplate: doc.data().apptemplate,
                      key: element.id,
                      name: element.data().name,
                      practicetype: practiceType
                    };
                    writingPracticeArr.push(data);
                    this.setWritingPractice(writingPracticeArr);
                  });
              }
            });
        }
        this.writingPractice = writingPracticeArr;
      });
    },

    async getListeningPractice() {
      let levelUnit = "L" + this.listeningLevel + "U" + this.unit;
      var listeningPracticeArr = [];

      let practiceData = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .orderBy("order")
        .where("order", ">", 5000)
        .get();
      let practiceNumber = 1;
      practiceData.forEach(element => {
        let practiceType = element.data().practicetype;
        if (practiceType == "teaching VDO") {
          // *************************************** Teaching VDO ***************************************
          // console.log("Teaching VDO");
          db.collection("trainingvdo")
            .doc(element.id)
            .get()
            .then(doc => {
              if (doc.exists) {
                if (
                  doc
                    .data()
                    .schoolTypeSelected.includes(
                      this.$store.state.system.schoolType.key
                    )
                ) {
                  let data = {
                    appTemplate: doc.data().appTemplate,
                    key: element.id,
                    name: element.data().name,
                    practicetype: practiceType,
                    order: element.data().order,
                    practiceNumber: 0
                  };
                  listeningPracticeArr.push(data);
                  listeningPracticeArr.sort((a, b) => {
                    return a.order - b.order;
                  });
                  this.setListeningPractice(listeningPracticeArr);
                }
              }
            });
        } else if (practiceType == "multiple choices") {
          // console.log("Multiple choices");
          let multiplechoicesRef = db
            .collection("multiplechoice")
            .doc(element.id);

          multiplechoicesRef
            .collection("schooloption")
            .doc(this.$store.state.system.schoolType.name)
            .get()
            .then(multiplechoices => {
              if (multiplechoices.exists) {
                multiplechoicesRef.get().then(docmultiplechoices => {
                  let data = {
                    appTemplate: docmultiplechoices.data().appTemplate,
                    key: docmultiplechoices.id,
                    practicetype: practiceType,
                    name: element.data().name,
                    order: element.data().order,
                    practiceNumber: practiceNumber
                  };
                  practiceNumber++;

                  listeningPracticeArr.push(data);
                  listeningPracticeArr.sort((a, b) => {
                    return a.order - b.order;
                  });
                  this.setListeningPractice(listeningPracticeArr);
                });
              }
            });
        } else if (practiceType == "conversation VDO") {
          // console.log("Conversation VDO");
          db.collection("conversation")
            .doc(element.id)
            .get()
            .then(conver => {
              if (conver.exists) {
                if (
                  conver
                    .data()
                    .schoolTypeSelected.includes(
                      this.$store.state.system.schoolType.key
                    )
                ) {
                  let data = {
                    appTemplate: conver.data().apptemplate,
                    key: conver.id,
                    practicetype: practiceType,
                    name: element.data().name,
                    order: element.data().order
                  };
                  listeningPracticeArr.push(data);
                  listeningPracticeArr.sort((a, b) => {
                    return a.order - b.order;
                  });
                  this.setListeningPractice(listeningPracticeArr);
                }
              }
            });
        } else if (practiceType == "speaking practice") {
          // console.log("Speaking");
          db.collection("speaking")
            .doc(element.id)
            .collection(this.$store.state.system.schoolType.name)
            .get()
            .then(schoolspeaking => {
              if (schoolspeaking) {
                db.collection("speaking")
                  .doc(element.id)
                  .get()
                  .then(speaking => {
                    if (speaking.exists) {
                      let data = {
                        appTemplate: speaking.data().appTemplate,
                        key: speaking.id,
                        practicetype: practiceType,
                        name: element.data().name,
                        order: element.data().order
                      };
                      listeningPracticeArr.push(data);
                      listeningPracticeArr.sort((a, b) => {
                        return a.order - b.order;
                      });
                      this.setListeningPractice(listeningPracticeArr);
                    }
                  });
              }
            });
        }
      });

      this.hideLoading();
      this.listeningPractice = listeningPracticeArr;
    },
    getPassedPractice() {
      // ฟังก์ชันค้นหาว่า ทำแบบฝึกหัดไหนไปแล้วบ้าง เพื่อทำการตรวจสอบและเปลี่ยนสีสถานะปุ่ม
      this.showLoading();
      var term = this.$store.state.system.studentCourse[
        this.$store.state.system.currentLesson
      ].academicYear;
      term = term.replace("/", "-");
      db.collection("school")
        .doc(this.$store.state.system.schoolCode)
        .collection("student")
        .doc(this.$store.state.system.studentData.key)
        .collection("practicelog")
        .doc(term)
        .collection("practicescore")
        .where("status", "==", "pass")
        .where("unit", "==", this.unit)
        .onSnapshot(doc => {
          this.passedPractice = [];
          this.scoreStore = [];
          doc.forEach(element => {
            let useTimeInMinutes = element.data().useTimeInSecond;
            let sec;
            let dataAdd;
            let showMin;
            let newSec;
            if (element.data().useTimeInSecond >= 60) {
              // แปลงให้เป็นนาที
              let min = element.data().useTimeInSecond / 60;
              min = min.toString();
              sec = min.split(".");
              showMin = sec[0];
              newSec = "0." + sec[1];
              if (sec[1]) {
                sec = Number(newSec) * 60;
              } else {
                sec = 0;
              }
              useTimeInMinutes =
                showMin + " นาที " + sec.toFixed(0) + " วินาที";
              dataAdd = {
                useTimeInMinutes: useTimeInMinutes
              };
            } else {
              dataAdd = {
                useTimeInMinutes:
                  "0 นาที " + element.data().useTimeInSecond + " วินาที"
              };
            }

            let dataFinal = { ...dataAdd, ...element.data() };
            this.passedPractice.push(element.data().practicekey);
            this.scoreStore.push(dataFinal);
          });
          this.hideLoading();
        });
    },

    toFlashcard(practicekey, template) {
      this.$q.localStorage.set("autoReload", false);
      this.setCurrentPracticeLevel(this.vocabLevel);
      this.setCurrentPracticeUnit(this.unit);
      this.setCurrentWorld(1);

      if (template == "Flashcard Basic") {
        this.$router.push("/flashcard/" + practicekey);
      } else if (template == "flashcard2") {
        this.$router.push("/flashcard2/" + practicekey);
      }
    },
    toSpellingbee(practicekey, template) {
      this.$q.localStorage.set("autoReload", false);
      if (this.passedPractice.includes(practicekey)) {
        let indexOfArr = this.passedPractice.indexOf(practicekey);
        this.showPopupScore = true;
        this.activePassedPracticeClick = indexOfArr;
      } else {
        this.setCurrentPracticeLevel(this.vocabLevel);
        this.setCurrentPracticeUnit(this.unit);
        this.setCurrentWorld(1);

        if (template == "Spelling Bee Basic") {
          this.$router.push("/spellingbee/" + practicekey);
        }
      }
    },
    toMatching(practicekey, template) {
      this.$q.localStorage.set("autoReload", false);
      if (this.passedPractice.includes(practicekey)) {
        let indexOfArr = this.passedPractice.indexOf(practicekey);
        this.showPopupScore = true;
        this.activePassedPracticeClick = indexOfArr;
        // this.getScore(practicekey);
      } else {
        this.setCurrentPracticeLevel(this.vocabLevel);
        this.setCurrentPracticeUnit(this.unit);
        this.setCurrentWorld(1);

        this.setCharacterAction("default");
        if (template == "Matching Basic") {
          this.$router.push("/matching/" + practicekey);
        }
      }
    },
    toTranslation(practicekey, template) {
      this.$q.localStorage.set("autoReload", false);
      if (this.passedPractice.includes(practicekey)) {
        let indexOfArr = this.passedPractice.indexOf(practicekey);
        this.showPopupScore = true;
        this.activePassedPracticeClick = indexOfArr;
      } else {
        this.setCurrentPracticeLevel(this.writingLevel);
        this.setCurrentPracticeUnit(this.unit);
        this.setCurrentWorld(4);

        this.setCharacterAction("default");
        if (template == "Translation Basic") {
          this.$router.push("/translation/" + practicekey);
        }
      }
    },
    toDictation(practicekey, template) {
      this.$q.localStorage.set("autoReload", false);
      if (this.passedPractice.includes(practicekey)) {
        let indexOfArr = this.passedPractice.indexOf(practicekey);
        this.showPopupScore = true;
        this.activePassedPracticeClick = indexOfArr;
      } else {
        this.setCurrentPracticeLevel(this.writingLevel);
        this.setCurrentPracticeUnit(this.unit);
        this.setCurrentWorld(4);

        if (template == "Dictation Basic") {
          this.$router.push("/dictation/" + practicekey);
        }
      }
    },
    toFillin(practicekey, template) {
      this.$q.localStorage.set("autoReload", false);
      if (this.passedPractice.includes(practicekey)) {
        let indexOfArr = this.passedPractice.indexOf(practicekey);
        this.showPopupScore = true;
        this.activePassedPracticeClick = indexOfArr;
      } else {
        var level =
          this.grammarLevel < 10
            ? "L0" + this.grammarLevel
            : "L" + this.grammarLevel;
        var unit = this.unit < 10 ? "U0" + this.unit : "U" + this.unit;
        var levelUnitPath = level + unit + ".mp4";
        let vdoPath =
          "https://storage.googleapis.com/winnerenglish/upload/uploadvdogrammar/" +
          levelUnitPath;
        this.setVdoTeachingPath(vdoPath);

        this.setCurrentPracticeLevel(this.grammarLevel);
        this.setCurrentPracticeUnit(this.unit);
        this.setCurrentWorld(2);

        if (template == "Fill in the blank Basic") {
          this.$router.push("/fillintheblank/" + practicekey);
        }
      }
    },
    toErrorDetection(practicekey, template) {
      this.$q.localStorage.set("autoReload", false);
      if (this.passedPractice.includes(practicekey)) {
        let indexOfArr = this.passedPractice.indexOf(practicekey);
        this.showPopupScore = true;
        this.activePassedPracticeClick = indexOfArr;
      } else {
        this.setCurrentPracticeLevel(this.grammarLevel);
        this.setCurrentPracticeUnit(this.unit);
        this.setCurrentWorld(2);

        if (template == "Error detection Basic") {
          this.$router.push("/errordetection/" + practicekey);
        }
      }
    },
    toReadingFillin(practicekey, template) {
      this.$q.localStorage.set("autoReload", false);
      if (this.passedPractice.includes(practicekey)) {
        let indexOfArr = this.passedPractice.indexOf(practicekey);
        this.showPopupScore = true;
        this.activePassedPracticeClick = indexOfArr;
      } else {
        this.setCurrentPracticeLevel(this.readingLevel);
        this.setCurrentPracticeUnit(this.unit);
        this.setCurrentWorld(3);

        if (template == "Reading Fill in Basic") {
          this.$router.push("/readingfillin/" + practicekey);
        }
      }
    },
    toReadingMultiple(practicekey, template) {
      this.$q.localStorage.set("autoReload", false);
      if (this.passedPractice.includes(practicekey)) {
        let indexOfArr = this.passedPractice.indexOf(practicekey);
        this.showPopupScore = true;
        this.activePassedPracticeClick = indexOfArr;
      } else {
        this.setCurrentPracticeLevel(this.readingLevel);
        this.setCurrentPracticeUnit(this.unit);
        this.setCurrentWorld(3);

        if (template == "Reading multiple choice basic") {
          this.$router.push("/readingmultiple/" + practicekey);
        }
      }
    },
    toVdoTeaching(practicekey, template, world, order) {
      this.$q.localStorage.set("autoReload", false);
      // กรณีเป็นแกรมม่า
      this.setCurrentWorld(world);

      if (world == 2) {
        this.setCurrentPracticeLevel(this.grammarLevel);
        var level =
          this.grammarLevel < 10
            ? "L0" + this.grammarLevel
            : "L" + this.grammarLevel;
        var unit = this.unit < 10 ? "U0" + this.unit : "U" + this.unit;
        var levelUnitPath = level + unit + ".mp4";
        let vdoPath =
          "https://storage.googleapis.com/winnerenglish/upload/uploadvdogrammar/" +
          levelUnitPath;
        this.setVdoTeachingPath(vdoPath);
      } else if (world == 5) {
        // กรณีเป็น Listening
        this.setCurrentPracticeLevel(this.listeningLevel);
        var level =
          this.listeningLevel < 10
            ? "L0" + this.listeningLevel
            : "L" + this.listeningLevel;
        var unit = this.unit < 10 ? "U0" + this.unit : "U" + this.unit;
        var levelUnitPath = level + unit + ".mp4";
        if (order > 5000 && order <= 5200) {
          // PHONICS
          var vdoPath =
            "https://storage.googleapis.com/winnerenglish/upload/uploadvdophonic/" +
            levelUnitPath;
        } else if (order > 5200) {
          // TIPS
          var vdoPath =
            "https://storage.googleapis.com/winnerenglish/upload/uploadvdotip/" +
            levelUnitPath;
        }

        this.setVdoTeachingPath(vdoPath);
      }
      this.setCurrentPracticeUnit(this.unit);

      this.setCurrentPracticeUnit(this.unit);
      this.setCharacterAction("default");
      if (template == "Teaching VDO Basic") {
        this.$router.push("/vdoteaching/" + practicekey);
      }
    },

    toMultipleChoices(practicekey, template, world) {
      this.$q.localStorage.set("autoReload", false);
      if (this.passedPractice.includes(practicekey)) {
        let indexOfArr = this.passedPractice.indexOf(practicekey);
        this.showPopupScore = true;
        this.activePassedPracticeClick = indexOfArr;
      } else {
        if (world == 1) {
          // กรณีเป็น multiple choice ของ Vocab
          this.setCurrentPracticeLevel(this.vocabLevel);
        } else if (world == 2) {
          var level =
            this.grammarLevel < 10
              ? "L0" + this.grammarLevel
              : "L" + this.grammarLevel;
          var unit = this.unit < 10 ? "U0" + this.unit : "U" + this.unit;
          var levelUnitPath = level + unit + ".mp4";
          let vdoPath =
            "https://storage.googleapis.com/winnerenglish/upload/uploadvdogrammar/" +
            levelUnitPath;
          this.setVdoTeachingPath(vdoPath);

          this.setCurrentPracticeLevel(this.grammarLevel);
        } else if (world == 3) {
          this.setCurrentPracticeLevel(this.readingLevel);
        } else if (world == 4) {
          this.setCurrentPracticeLevel(this.writingLevel);
        } else if (world == 5) {
          // กรณีเป็น Multiple choice ของ Listening
          this.setCurrentPracticeLevel(this.listeningLevel);
        }

        this.setCurrentPracticeUnit(this.unit);
        this.setCurrentWorld(world);

        this.setCurrentPracticeLevel(this.readingLevel);
        this.setCurrentPracticeUnit(this.unit);
        this.setCharacterAction("default");
        if (template == "Multiple choice Basic") {
          this.$router.push("/multiplechoices/" + practicekey);
        }
      }
    },
    toConversationVdo(practicekey, template) {
      this.$q.localStorage.set("autoReload", false);
      var level =
        this.listeningLevel < 10
          ? "L0" + this.listeningLevel
          : "L" + this.listeningLevel;
      var unit = this.unit < 10 ? "U0" + this.unit : "U" + this.unit;
      var levelUnitPath = level + unit + ".mp4";
      let vdoPath =
        "https://storage.googleapis.com/winnerenglish/upload/uploadvdoconversation/" +
        levelUnitPath;
      this.setVdoTeachingPath(vdoPath);

      this.setCurrentPracticeLevel(this.readingLevel);
      this.setCurrentPracticeUnit(this.unit);
      this.setCurrentWorld(5);

      if (template == "Conversation Basic") {
        this.$router.push("/conversation/" + practicekey);
      }
    },

    toSpeaking(practicekey, template) {
      this.$q.localStorage.set("autoReload", false);

      if (this.passedPractice.includes(practicekey)) {
        let indexOfArr = this.passedPractice.indexOf(practicekey);
        this.showPopupScore = true;
        this.activePassedPracticeClick = indexOfArr;
      } else {
        var level =
          this.listeningLevel < 10
            ? "L0" + this.listeningLevel
            : "L" + this.listeningLevel;
        var unit = this.unit < 10 ? "U0" + this.unit : "U" + this.unit;
        var levelUnitPath = level + unit + ".mp4";
        let vdoPath =
          "https://storage.googleapis.com/winnerenglish/upload/uploadvdoconversation/" +
          levelUnitPath;
        this.setVdoTeachingPath(vdoPath);

        this.setCurrentPracticeLevel(this.readingLevel);
        this.setCurrentPracticeUnit(this.unit);
        this.setCurrentWorld(5);

        if (template == "Speaking Basic") {
          this.$router.push("/speaking/" + practicekey);
        }
      }
    },

    async checkVersion() {
      let _this = this;
      let version = await db
        .collection("version")
        .doc("mainapp")
        .get();
      if (_this.version != version.data().version) {
        // _this.$q
        //   .dialog({
        //     title: "มีอัพเดทเวอร์ชั่นใหม่ กรุณากดปุ่ม รีเฟรช",
        //     ok: "รีเฟรช",
        //     persistent: true
        //   })
        //   .onOk(() => {
        window.location.reload(true);
        // });
      }
    },
    getUnit() {
      let unit = [];
      for (let i = 1; i <= 16; i++) {
        let addedObj = {
          label: "Unit" + i,
          value: i
        };
        unit.push(addedObj);
      }
      this.UnitOptions = unit;
    },
    showScoreAVG() {
      var term = this.$store.state.system.studentCourse[this.lesson]
        .academicYear;
      var avgScore = [];
      term = term.replace("/", "-");
      var numberOfVocab = 0;
      var numberOfGrammar = 0;
      var numberOfReading = 0;
      var numberOfWriting = 0;
      var numberOfListening = 0;
      var scoreVocab = 0;
      var scoreGrammar = 0;
      var scoreReading = 0;
      var scoreWriting = 0;
      var scoreListening = 0;

      var scoreRef = db

        .collection("school")
        .doc(this.$store.state.system.schoolCode)
        .collection("student")
        .doc(this.$store.state.system.studentData.key)
        .collection("practicelog")
        .doc(term)
        .collection("practicescore")
        .where("unit", "==", this.unit)
        .get()
        .then(doc => {
          doc.forEach(element => {
            if (element.data().status == "pass") {
              // SCORE VOCABULARY
              if (element.data().world == "Vocabulary") {
                if (element.data().practicetype != "Flashcard") {
                  numberOfVocab++;
                  scoreVocab += element.data().score;
                }
              } else if (element.data().world == "Grammar") {
                if (element.data().practicetype != "VDO Teaching") {
                  numberOfGrammar++;
                  scoreGrammar += element.data().score;
                }
              } else if (element.data().world == "Reading") {
                numberOfReading++;
                scoreReading += element.data().score;
              } else if (element.data().world == "Writing") {
                numberOfWriting++;
                scoreWriting += element.data().score;
              } else if (element.data().world == "Listening") {
                if (element.data().practicetype != "VDO Teaching") {
                  numberOfListening++;
                  scoreListening += element.data().score;
                }
              }
            }
          });
          this.avgScore.vocabScore = Number(scoreVocab) / numberOfVocab;
          this.avgScore.grammarScore = Number(scoreGrammar) / numberOfGrammar;
          this.avgScore.readingScore = Number(scoreReading) / numberOfReading;
          this.avgScore.writingScore = Number(scoreWriting) / numberOfWriting;
          this.avgScore.listeningScore =
            Number(scoreListening) / numberOfListening;
        });
    },
    showNumberOfPractice() {
      let sum = 0;
      let level;
      for (let i = 1; i <= 16; i++) {
        db.collection("practicelist")
          .doc("data")
          .collection("L" + this.vocabLevel + "U" + i)
          .where("order", "<", 2000)
          .get()
          .then(doc => {
            doc.forEach(element => {
              if (
                element.data().practicetype != "flashcard" &&
                element.data().practicetype != "teaching VDO" &&
                element.data().practicetype != "conversation VDO"
              ) {
                sum++;
              }
            });
          });
      }
    }
  },
  mounted() {
    this.checkVersion();
    this.showScoreAVG();
    this.getUnit();
    this.setShowLayouts(true);

    // auto refresh for clear memory
 //   if (this.$q.localStorage.getItem("autoReload") == false) {
   //   this.$q.localStorage.set("autoReload", true);
  //    window.location.reload();
  //  }

    this.displayDiamond();
    let _this = this;

    if (_this.$store.state.system.schoolType.name == "ยุวพัฒน์") {
      _this.lesson = _this.$store.state.system.studentCourse.length - 1;
      _this.setCurrentLesson(_this.lesson);
      _this.LevelOptions.push({
        label: "Lesson1",
        value: _this.$store.state.system.studentCourse.length - 1
      });
    } else {
      _this.setCurrentLesson(_this.lesson);
      for (let i = 0; i < _this.$store.state.system.studentCourse.length; i++) {
        _this.LevelOptions.push({
          label: "Lesson" + (i + 1),
          value: i
        });
      }
    }

    this.saveMonitor("studyplan", 10);

    this.vocabLevel =
      _this.$store.state.system.studentCourse[this.lesson].vocablv;
    this.grammarLevel =
      _this.$store.state.system.studentCourse[this.lesson].grammarlv;
    this.readingLevel =
      _this.$store.state.system.studentCourse[this.lesson].readinglv;
    this.writingLevel =
      _this.$store.state.system.studentCourse[this.lesson].writinglv;
    this.listeningLevel =
      _this.$store.state.system.studentCourse[this.lesson].listeninglv;
    // แสดงเลขที่ล่าสุดในระบบ
    // this.showNumberOfPractice();
    this.studentNo =
      _this.$store.state.system.studentCourse[
        _this.$store.state.system.studentCourse.length - 1
      ].studentno;
    // หากยังไม่มีการโหลด Vocabpractice ให้ทำการโหลดใหม่ หากมีแล้วไม่ต้องโหลด
    // ********************************************* LOAD VOCAB PRACTICE *********************************************
    // if (this.$store.state.system.vocabPractice.length == 0) {
    this.getVocabPractice();
    // }
    // ********************************************* LOAD WRITING PRACTICE *********************************************
    if (this.$store.state.system.writingPractice.length == 0) {
      this.getWritingPractice();
    }
    // ********************************************* LOAD GRAMMAR PRACTICE *********************************************
    if (this.$store.state.system.grammarPractice.length == 0) {
      this.getGrammarPractice();
    }
    // ********************************************* LOAD READING PRACTICE *********************************************
    if (this.$store.state.system.readingPractice.length == 0) {
      this.getReadingPractice();
    }
    if (this.$store.state.system.listeningPractice.length == 0) {
      this.getListeningPractice();
    }
    _this.getPassedPractice();
  },
  watch: {
    lesson() {
      this.showScoreAVG();
      this.getVocabPractice();
      this.getGrammarPractice();
      this.getReadingPractice();
      this.getWritingPractice();
      this.getListeningPractice();
      this.setFlashcard([]);
      this.getPassedPractice();
    },
    unit() {
      this.showScoreAVG();
      this.setCurrentPracticeUnit(this.unit);
      this.getVocabPractice();
      this.getGrammarPractice();
      this.getReadingPractice();
      this.getWritingPractice();
      this.getListeningPractice();
      this.setFlashcard([]);
      this.getPassedPractice();
    }
  }
};
</script>
<style>
.practiceBtn-l {
  width: 55px;
  height: 55px;
  border: 3px solid #424242;
}
.practiceBtn-s {
  width: 45px;
  height: 45px;
  border: 3px solid #424242;
}
.overflowA {
  overflow: auto;
  height: calc(100vh - 310px);
  max-height: fit-content;
}
.boxshadow {
  box-shadow: 0px 0px 0px #50483d;
}
.worldBox {
  border-right: 20px solid #50483d;
  height: 70px;
  display: flex;
  padding: 0px 30px;
}
.worldBox1 {
  height: 70px;
  display: flex;
}
.selfCenter {
  align-self: center;
}
.hr-style {
  border: 2px solid #50483d;
}
.img-width-l {
  width: 50%;
  min-width: 300px;
}
.img-width-s {
  width: 40%;
}
.vocabRow {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(113, 1, 114, 0.35);
  padding-top: 8px;
  padding-bottom: 7px;
}
.grammarRow {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(217, 18, 37, 0.35);
  padding-top: 8px;
  padding-bottom: 7px;
}
.readingRow {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(229, 115, 1, 0.35);
  padding-top: 8px;
  padding-bottom: 7px;
}
.writingRow {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(1, 130, 66, 0.35);
  padding-top: 8px;
  padding-bottom: 7px;
}
.listeningRow {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(0, 0, 148, 0.35);
  padding-top: 8px;
  padding-bottom: 7px;
}
@keyframes rotate10deg {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.animate-btn {
  animation: rotate10deg 1s infinite;
}
</style>


