<template>
  <div padding>
    <!-- content -->
    <!-- content comlumn -->
    <div class="q-mt-xl" style="width:100%" v-show="showContent">
      <div class="bg-amber-1 q-pa-md text-white" style="min-height:fit-content;border-radius:10px">
        <!-- ส่วนโจทย์ -->
        <div
          class="bg-light-blue-9 q-pa-md"
          :class="{'bg-light-blue-9':!showNextButton,'bg-teal-14 correct-effect':showNextButton}"
          align="center"
          style="border-radius:10px"
        >
          <div
            :class="{'font-24':innerWidth > 1439,'font-28' : innerWidth<=1439,'font-20' : innerWidth < 600}"
            class="q-pa-md text-weight-bold"
            v-if="translationData.length"
            v-html="translationData[currentQuestion].sentenceThai"
          ></div>
          <div
            class="bg-white q-pa-md"
            style="height:70px;display:flex;position:relative;align-items:center;border-radius:10px"
          >
            <div
              :class="{'font-24':innerWidth > 1439,'font-28' : innerWidth<=1439,'font-20' : innerWidth < 600}"
              class="text-black q-title text-light-blue-9"
              style="width:100%"
            >{{showAnswer}}</div>
          </div>
        </div>
        <!-- ส่วนตัวอักษร -->
        <div class="row justify-center q-mt-lg" v-if="translationData.length">
          <div
            v-for="(word,index) in translationData[currentQuestion].split.length"
            :key="index"
            class="q-pa-sm"
            v-show="!showNextButton"
          >
            <!-- <q-btn
              v-if="!highlightWord.includes(translationData[currentQuestion].split[index])  && highlightWord.length > 0"
              class="text-h6"
              push
              dense
              :class="{'error-color ' : index == wrongButton,'disabled-btn ' : index != wrongButton,'btn-letter-l font-24 text-weight-bold' : innerWidth > 599,'btn-letter-s':innerWidth <= 599}"
              :disabled="true"
              no-caps
            >
              <span v-html="translationData[currentQuestion].split[index]"></span>
            </q-btn>-->
            <q-btn
              dense
              push
              align="center"
              @click="checkAnswer(translationData[currentQuestion].split[index])"
              :class="{'error-color' : index == wrongButton,'bg-light-blue-8' : index != wrongButton,'btn-letter-l font-24 text-weight-bold' : innerWidth > 599,'btn-letter-s':innerWidth <= 599}"
              :disabled="!allowClick"
              no-caps
            >
              <span v-html="translationData[currentQuestion].split[index]"></span>
            </q-btn>
          </div>
        </div>
      </div>

      <div v-show="showNextButton" align="center" class="q-pa-lg">
        <q-btn
          @click="nextQuestion()"
          label="ถัดไป"
          style="width:250px"
          color="light-blue-9"
          icon-right="fas fa-arrow-right"
          class="text-h6"
          :glossy="$q.theme === 'mat'"
          push
        ></q-btn>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
import appVocabHelp from "../components/helpVocab.vue";
import { mapActions } from "vuex";
export default {
  // name: 'PageName',
  components: {
    appVocabHelp
  },
  data() {
    return {
      showNextButton: false,
      showAnswer: "",
      score: 100,
      translationData: [],
      currentQuestion: 0,
      translationSettings: [],
      wrongButton: undefined,
      counter: 0,
      highlightWord: [],
      allowClick: true,
      order: undefined,
      practiceName: "",
      showContent: true,
      practiceKey: this.$route.params.practicekey,
      audioStorage: {
        fullStop: new Audio(
          "https://api.winner-english.com/data/sound_extravocab/fullstop.mp3"
        ),
        questionMark: new Audio(
          "https://api.winner-english.com/data/sound_extravocab/questionmark.mp3"
        ),
        comma: new Audio(
          "https://api.winner-english.com/data/sound_extravocab/comma.mp3"
        ),
        exclamation: new Audio(
          "https://api.winner-english.com/data/sound_extravocab/exclamation.mp3"
        )
      }
    };
  },
  methods: {
    ...mapActions([
      "setEnglishInstruction",
      "setThaiInstruction",
      "setCurrentQuestion",
      "setTotalQuestion",
      "setShowLayouts",
      "setCharacterAction",
      "setStar",
      "setStar3",
      "setScore",
      "setPassScore"
    ]),
    loadTranslationData() {
      this.showLoading();
      db.collection("translation")
        .doc(this.$route.params.practicekey)
        .collection("schooloption")
        .doc(this.$store.state.system.schoolType.name)
        .get()
        .then(setting => {
          if (setting.exists) {
            this.loadInstruction();
            this.translationSettings = setting.data();
            this.setPassScore(this.translationSettings.passScore);
            this.setStar3(this.translationSettings.star);
            db.collection("translation")
              .doc(this.$route.params.practicekey)
              .collection("server")
              // .orderBy("orderid")
              .get()
              .then(translation => {
                this.setTotalQuestion(translation.size);

                this.saveMonitor(
                  this.$route.params.practicekey,
                  translation.size * 2
                );
                translation.forEach(element => {
                  let splitWord = {
                    split: element.data().wordsEng.split(" "),
                    sentenceEngTrim: element.data().sentenceEng.trim()
                  };
                  let dataFinal = { ...splitWord, ...element.data() };
                  this.translationData.push(dataFinal);
                  this.shuffle(this.translationData);
                });
                // initial highlight
                let splitSentence = this.translationData[
                  this.currentQuestion
                ].sentenceEngTrim.split(" ");
                // this.makeHighlight(splitSentence[0]);
                this.hideLoading();
              });
          }
        });
    },
    loadInstruction() {
      db.collection("translation")
        .doc(this.$route.params.practicekey)
        .get()
        .then(doc => {
          this.setThaiInstruction(doc.data().instructionthai);
          this.setEnglishInstruction(doc.data().instructioneng);
        });
    },
    checkAnswer(answer) {
      if (this.allowClick) {
        this.allowClick = false;
        var replaced = this.translationData[
          this.currentQuestion
        ].sentenceEngTrim
          .trim()
          .replace(/\./g, " .")
          .replace(/\?/g, " ?")
          .replace(/\!/g, " !")
          .replace(/\,/g, " ,")
          .split(" ");
        var correctWord = replaced[this.counter];

        console.log(
          this.translationData[this.currentQuestion].sentenceEngTrim.replace(
            /./g,
            " ."
          )
        );
        // console.log(replaced);
        // console.log(correctWord);

        // console.log(replaced.length);
        if (answer == correctWord) {
          // กรณีตอบถูก
          if (answer == ".") {
            this.audioStorage.fullStop.play();
          } else if (answer == "?") {
            this.audioStorage.questionMark.play();
          } else if (answer == ",") {
            this.audioStorage.comma.play();
          } else if (answer == "!") {
            this.audioStorage.exclamation.play();
          } else {
            var soundPath =
              "https://api.winner-english.com/data/sound_extravocab/" +
              answer.toLowerCase().replace("%", "percent") +
              ".mp3";
          }
          this.playSound(soundPath, 1);

          this.displayAnswer(replaced);
          let findCorrectIndex = this.translationData[
            this.currentQuestion
          ].split.indexOf(answer);

          this.translationData[this.currentQuestion].split.splice(
            findCorrectIndex,
            1
          );
          this.counter++;
          setTimeout(() => {
            this.allowClick = true;
          }, 400);
          // this.makeHighlight(replaced[this.counter]);
        } else {
          // กรณีตอบผิด
          var findAnswerIndex = this.translationData[
            this.currentQuestion
          ].split.indexOf(correctWord);
          // this.playSound("../statics/wrong.mp3");
          this.wrongSoundEffect.volume = 0.1;
          this.wrongSoundEffect.play();
          this.setCharacterAction("incorrect");

          this.wrongButton = this.translationData[
            this.currentQuestion
          ].split.indexOf(answer);

          this.allowClick = false;
          this.displayAnswer(replaced);

          this.score -= 100 / this.translationData.length / replaced.length;

          setTimeout(() => {
            this.translationData[this.currentQuestion].split.splice(
              findAnswerIndex,
              1
            );
            this.setCharacterAction("default");

            // รีเซ็ท เพื่อให้คลาสหาย
            this.wrongButton = undefined;
            this.allowClick = true;
            this.counterClick++;
            this.counter++;
            this.makeHighlight(replaced[this.counter]);
          }, 1000);
        }
      }
    },
    displayAnswer(replacedword) {
      if (this.counter < replacedword.length - 2) {
        // ไม่ใช่ตัวสุดท้าย
        if (
          replacedword[this.counter + 1] != "." &&
          replacedword[this.counter + 1] != "?" &&
          replacedword[this.counter + 1] != "!" &&
          replacedword[this.counter + 1] != ","
        ) {
          this.showAnswer += replacedword[this.counter] + " ";
        } else {
          this.showAnswer += replacedword[this.counter];
        }
      } else {
        // ตัวสุดท้ายไม่เติมช่องว่างด้านหลัง
        this.showAnswer += replacedword[this.counter];
      }
    },
    nextQuestion() {
      this.setCharacterAction("default");
      this.showNextButton = false;
      this.highlightWord = [];

      if (this.currentQuestion + 1 < this.translationData.length) {
        this.currentQuestion += 1;
        this.setCurrentQuestion(this.currentQuestion + 1);
        this.showAnswer = "";
        this.counter = 0;
      } else {
        // ทำครบทุกข้อ
        this.setScore(this.score);
        this.showContent = false;

        this.savePracticeLog(
          this.practiceKey,
          this.score,
          "pass",
          this.$store.state.system.star,
          "Writing",
          this.practiceName,
          this.order,
          "Translation"
        );

        this.$router.push("/finishpractice");
      }
    },
    makeHighlight(correctword) {
      this.highlightWord = [];
      let splittedWord = this.translationData[this.currentQuestion].split;
      if (splittedWord.length > 5) {
        for (let i = 0; i < this.translationSettings.highlight; i++) {
          if (i == 0) {
            // ตัวที่ถูก
            this.highlightWord.push(correctword);
            splittedWord = splittedWord.filter(e => e != correctword);
          } else {
            let findWords = this.shuffle(splittedWord);
            this.highlightWord.push(findWords[0]);
            splittedWord = splittedWord.filter(e => e != findWords[0]);
          }
        }
      }
    },
    getOrder() {
      let levelUnit =
        "L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit;
      db.collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .doc(this.$route.params.practicekey)
        .get()
        .then(order => {
          this.order = order.data().order;
          this.practiceName = order.data().name;
        });
    }
  },
  mounted() {
    this.setCurrentQuestion(1);
    this.loadTranslationData();
    this.setScore(100);
    this.setCharacterAction("default");
    this.setStar(3);
    this.getOrder();
  },
  computed: {
    innerWidth: function() {
      return this.$store.state.system.innerWidth;
    }
  },
  watch: {
    showAnswer() {
      if (
        this.showAnswer ==
        this.translationData[this.currentQuestion].sentenceEngTrim
      ) {
        // ทำเสร็จตอบถูก
        this.setCharacterAction("correct");
        setTimeout(() => {
          // this.playSound("../statics/correct.mp3");
          this.correctSoundEffect.volume = 0.1;
          this.correctSoundEffect.play();
        }, 500);
        this.showNextButton = true;
      }
    },
    currentQuestion() {
      let sentence = this.translationData[this.currentQuestion].sentenceEngTrim
        .replace(/,/g, " ,")
        .split(" ");
      let correctWord = sentence[0];
      // this.makeHighlight(correctWord);
    },
    score() {
      let passScore = this.$store.state.system.passScore;
      let star3 = this.$store.state.system.star3;
      let star2 = (Number(passScore) + Number(star3)) / 2;
      if (Number(this.score) < Number(passScore)) {
        // กรณีทำไม่ผ่าน

        this.savePracticeLog(
          this.practiceKey,
          this.score,
          "failed",
          0,
          "Writing",
          this.practiceName,
          this.order,
          "Translation"
        );

        this.$router.push(
          "/retrypage/" + this.$route.name + "/" + this.practiceKey
        );
      } else if (this.score >= star3) {
        // กรณีสามดาว
        this.setStar(3);
      } else if (this.score >= star2) {
        // กรณีสองดาว
        this.setStar(2);
      } else {
        this.setStar(1);
      }
    }
  }
};
</script>

<style>
.brx {
  border: 2px solid red;
}
.bg-beige {
  background-color: rgba(255, 255, 255, 0.6);
}
.btn-letter-l {
  min-width: 50px;
  width: fit-content;
  height: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: 3px solid #e0e0e0;
}
.btn-letter-s {
  min-width: 50px;
  width: fit-content;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e0e0e0;
}
.error-color {
  background-color: #db2828;
  /* animation: shake 1s 1; */
}
.disabled-btn {
  background-color: gray !important;
}
@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
.correct-effect {
  animation: flash 1s 1;
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
@keyframes rotate10deg {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.animate-btn {
  animation: rotate10deg 1s infinite;
}
</style>

