<template>
  <q-page id="body" class="bg">
    <div class="absolute-bottom q-px-md" align="center">
      <q-img src="../statics/trophy/Board.png" style="max-width:750px; width:100%;"></q-img>
    </div>
  </q-page>
</template>

<script>
export default {
  data() {},
  mounted() {
    setTimeout(() => {
      this.$router.push("/trophymonster");
    }, 3000);
  },
};
</script>
<style scoped>
.bg {
  background-image: url("../statics/trophy/BGtrophy.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
</style>

