<template>
  <div class="bg" :class="{'me-overflow-y':$q.platform.is.mobile}">
    <!-- SECTION ---------------------------------------------------------- Desktop -->
    <div class="desktop-only">
      <div align="center">
        <q-img src="../statics/trophy/1.png" style="max-width:1200px;width:85%;height:70px;"></q-img>
      </div>
      <div
        align="center"
        class="bg-white"
        style="max-width:80%;min-width:1024px;height:calc(100vh - 198px);margin:auto;"
      >
        <div class="row justify-center q-px-xl q-py-md" align="left">
          <div class="col-8 row self-center">
            <div>
              <q-btn
                text-color="white"
                round
                push
                :class="{'bg-secondary':currentPage==1,'bg-orange-5':currentPage!=1}"
                @click="selectBtn(1)"
              >
                <span class="text-h5">1</span>
              </q-btn>
            </div>
            <div class="q-pl-md">
              <q-btn
                :disable="displayDiamondMixin<151"
                round
                push
                text-color="white"
                :class="{'bg-secondary':currentPage==2,'bg-orange-5':currentPage!=2 , 'bg-grey-6':displayDiamondMixin<151}"
                @click="selectBtn(2)"
              >
                <span class="text-h5">2</span>
              </q-btn>
            </div>
            <div class="q-pl-md">
              <q-btn
                :disable="displayDiamondMixin<301"
                round
                push
                text-color="white"
                :class="{'bg-secondary':currentPage==3,'bg-orange-5':currentPage!=3 , 'bg-grey-6':displayDiamondMixin<301}"
                @click="selectBtn(3)"
              >
                <span class="text-h5">3</span>
              </q-btn>
            </div>
            <div class="q-pl-md">
              <q-btn
                :disable="displayDiamondMixin<451"
                round
                push
                text-color="white"
                :class="{'bg-secondary':currentPage==4,'bg-orange-5':currentPage!=4 , 'bg-grey-6':displayDiamondMixin<451}"
                @click="selectBtn(4)"
              >
                <span class="text-h5">4</span>
              </q-btn>
            </div>
            <div class="q-pl-md">
              <q-btn
                :disable="displayDiamondMixin<601"
                round
                push
                text-color="white"
                :class="{'bg-secondary':currentPage==5,'bg-orange-5':currentPage!=5 , 'bg-grey-6':displayDiamondMixin<601}"
                @click="selectBtn(5)"
              >
                <span class="text-h5">5</span>
              </q-btn>
            </div>
            <div class="q-pl-md">
              <q-btn
                :disable="displayDiamondMixin<751"
                round
                push
                text-color="white"
                :class="{'bg-secondary':currentPage==6,'bg-orange-5':currentPage!=6 , 'bg-grey-6':displayDiamondMixin<751}"
                @click="selectBtn(6)"
              >
                <span class="text-h5">6</span>
              </q-btn>
            </div>
            <div class="q-pl-md">
              <q-btn
                :disable="displayDiamondMixin<901"
                round
                push
                text-color="white"
                :class="{'bg-secondary':currentPage==7,'bg-orange-5':currentPage!=7 , 'bg-grey-6':displayDiamondMixin<901}"
                @click="selectBtn(7)"
              >
                <span class="text-h5">7</span>
              </q-btn>
            </div>
            <div class="q-pl-md">
              <q-btn
                :disable="displayDiamondMixin<1051"
                round
                push
                text-color="white"
                :class="{'bg-secondary':currentPage==8,'bg-orange-5':currentPage!=8 , 'bg-grey-6':displayDiamondMixin<1051}"
                @click="selectBtn(8)"
              >
                <span class="text-h5">8</span>
              </q-btn>
            </div>
          </div>

          <div class="col-4" align="right">
            <q-img style="width:150px" src="../statics/trophy/Diamondtab.png">
              <span
                class="text-h5 text-bold text-white absolute-center"
                style="margin-left :30px ; margin-top:-2px"
              >{{ displayDiamondMixin }}</span>
            </q-img>
          </div>
        </div>
        <div class="row justify-center me-scroll-monster">
          <div class="col-md-8 self-center">
            <div class="row">
              <div class="col-md-4" v-for="(item,index) in showMonster" :key="index ">
                <div>
                  <q-img
                    :src="'../statics/trophy/monster/' + item.price +'.png'"
                    v-if="displayDiamondMixin>=Number(item.price)"
                    style=" max-width:250px ; width:75%"
                  ></q-img>
                  <q-img
                    :src="'../statics/trophy/monster/' + item.price +'a.png'"
                    v-else
                    style=" max-width:250px ; width:75%"
                  ></q-img>
                </div>

                <div
                  align="center"
                  class="text-white text-bold text-subtitle1 q-mt-sm"
                  style="width:140px ; background-color:#B45D39 ;border-radius: 10px; padding:2px"
                >
                  <div v-if="displayDiamondMixin>=Number(item.price)">{{item.name}}</div>
                  <div v-else align="center">
                    <q-img src="../statics/trophy/Diamond1.png" style="width:20px"></q-img>

                    <span class="text-bold q-px-md">{{item.price}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 self-center">
            <div>
              <q-img
                :src="'../statics/trophy/monster/' + showBoss.price +'.png'"
                v-if="displayDiamondMixin>=Number(showBoss.price)"
                style=" max-width:350px ; width:75%"
              ></q-img>
              <q-img
                :src="'../statics/trophy/monster/' + showBoss.price + 'a.png'"
                v-else
                style=" max-width:350px ; width:75%"
              ></q-img>
            </div>
            <div
              align="center"
              class="text-white text-bold text-h6 q-mt-md"
              style="width:150px ; background-color:#B45D39 ;border-radius: 10px; padding:2px"
            >
              <div v-if="displayDiamondMixin>=Number(showBoss.price)">{{showBoss.name}}</div>
              <div class="row" v-else>
                <div class="col-4">
                  <q-img src="../statics/trophy/Diamond1.png" style="width:35px"></q-img>
                </div>

                <div class="col-8 text-h4 text-bold">{{showBoss.price}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div align="center">
        <q-img src="../statics/trophy/2.png" style="max-width:1200px;width:85%;height:70px;"></q-img>
      </div>
      <div class="q-ma-xl"></div>
    </div>

    <!-- SECTION ---------------------------------------------------------- mobile -->

    <div class="mobile-only">
      <div class="row q-py-lg">
        <!-- ปุ่ม -->
        <div class="col-8 q-px-md">
          <q-btn
            :disable="currentPage==1"
            round
            color="primary"
            icon="fas fa-angle-left"
            :class="{'bg-grey-6':currentPage==1,'bg-orange-5':currentPage!=1}"
            @click="selectBtn(currentPage-1)"
          />
          <span class="text-h5 text-grey-2 q-px-lg">{{currentPage}}</span>

          <q-btn
            :disable="currentPage==currentNext"
            :class="{'bg-grey-6':currentPage==currentNext,'bg-orange-5':currentPage!=currentNext}"
            round
            color="primary"
            icon="fas fa-angle-right"
            @click="selectBtn(currentPage+1)"
          />
        </div>
        <!-- เพรช -->
        <div class="col-4">
          <q-img style="max-width:90px; width:100%" src="../statics/trophy/Diamondtab.png">
            <span
              class="text-subtitle1 text-bold text-white absolute-center"
              style="margin-left :18px ;margin-top :-1px  "
            >{{ displayDiamondMixin }}</span>
          </q-img>
        </div>
      </div>
      <div class="bg-white q-mx-sm q-pb-lg row">
        <div class="col-6 q-pa-sm" v-for="(item,index) in showMonster" :key="index " align="center">
          <div>
            <q-img
              :src="'../statics/trophy/monster/' + item.price +'.png'"
              v-if="displayDiamondMixin>=Number(item.price)"
              style=" max-width:250px ; width:100%"
            ></q-img>
            <q-img
              :src="'../statics/trophy/monster/' + item.price +'a.png'"
              v-else
              style=" max-width:250px ; width:100%"
            ></q-img>
          </div>

          <div
            align="center"
            class="text-white text-bold text-subtitle1 q-mt-sm"
            style="width:120px ; background-color:#B45D39 ;border-radius: 10px; padding:2px;  "
          >
            <div v-if="displayDiamondMixin>=Number(item.price)">{{item.name}}</div>
            <div v-else align="center">
              <div>
                <q-img src="../statics/trophy/Diamond1.png" style="width:20px "></q-img>
                <span class="text-bold q-px-md">{{item.price}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 self-center" align="center">
          <div>
            <q-img
              :src="'../statics/trophy/monster/' + showBoss.price +'.png'"
              v-if="displayDiamondMixin>=Number(showBoss.price)"
              style=" max-width:350px ; width:75%"
            ></q-img>
            <q-img
              :src="'../statics/trophy/monster/' + showBoss.price + 'a.png'"
              v-else
              style=" max-width:350px ; width:75%"
            ></q-img>
          </div>
          <div
            align="center"
            class="text-white text-bold text-h6 q-mt-md"
            style="width:150px ; height: 30px; background-color:#B45D39 ;border-radius: 10px; padding:2px;  "
          >
            <div
              v-if="displayDiamondMixin>=Number(showBoss.price)"
              style="margin:-4px"
            >{{showBoss.name}}</div>
            <div class="row" v-else>
              <div class="col-4" style="margin:-4px">
                <q-img src="../statics/trophy/Diamond1.png" style="width:25px "></q-img>
              </div>

              <div class="col-8 text-h6 text-bold" style="margin:-3px">{{showBoss.price}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  data() {
    return {
      currentNext: 1,
      student: this.$store.state.system.studentData,
      monster: [
        {
          name: "มุ้งมิ้ง",
          price: "20",
        },
        {
          name: "เมล่อน",
          price: "40",
        },
        {
          name: "มันเทศ",
          price: "60",
        },
        {
          name: "ดุ๊กดิ๊ก",
          price: "80",
        },
        {
          name: "เบอร์รี่",
          price: "100",
        },
        {
          name: "มังคุด",
          price: "120",
        },
        {
          name: "อาร์ตซี่",
          price: "150",
        },
        {
          name: "โซดา",
          price: "170",
        },
        {
          name: "หวานแหวว",
          price: "190",
        },
        {
          name: "ชบา",
          price: "210",
        },
        {
          name: "ชาเย็น",
          price: "230",
        },
        {
          name: "โมฮอค",
          price: "250",
        },
        {
          name: "กระต่าย",
          price: "270",
        },
        {
          name: "อืดอาด",
          price: "300",
        },
        {
          name: "ลูกกวาด",
          price: "320",
        },
        {
          name: "เลม่อน",
          price: "340",
        },
        {
          name: "จ๊ะเอ๋",
          price: "360",
        },
        {
          name: "แฮ่แฮ่",
          price: "380",
        },
        {
          name: "อร่อย",
          price: "400",
        },
        {
          name: "เขียวโซดา",
          price: "420",
        },
        {
          name: "โยกเยก",
          price: "450",
        },
        {
          name: "โคล่า",
          price: "470",
        },
        {
          name: "ชาโคล",
          price: "490",
        },
        {
          name: "เชอร์รี่",
          price: "510",
        },
        {
          name: "ปวกเปียก",
          price: "530",
        },
        {
          name: "เด็กเนิร์ด",
          price: "550",
        },
        {
          name: "กระตุ่ย",
          price: "570",
        },
        {
          name: "คุ๊กกี้",
          price: "600",
        },
        {
          name: "แตงโม",
          price: "620",
        },
        {
          name: "ติ๊กต๊อก",
          price: "640",
        },
        {
          name: "ปุยปุย",
          price: "660",
        },
        {
          name: "ชาเขียว",
          price: "680",
        },
        {
          name: "หมูยอ",
          price: "700",
        },
        {
          name: "ยุบยับ",
          price: "720",
        },
        {
          name: "กล้วยกล้วย",
          price: "750",
        },
        {
          name: "นมเย็น",
          price: "770",
        },
        {
          name: "เด็กซ่า",
          price: "790",
        },
        {
          name: "กี้กี้",
          price: "810",
        },
        {
          name: "ก๊อบแก็บ",
          price: "830",
        },
        {
          name: "ก้านกล้วย",
          price: "850",
        },
        {
          name: "น้ำแข็ง",
          price: "870",
        },
        {
          name: "หนึบหนับ",
          price: "900",
        },
        {
          name: "จัมไม",
          price: "920",
        },
        {
          name: "ใบตอง",
          price: "940",
        },
        {
          name: "อาร์มมี่",
          price: "960",
        },
        {
          name: "แอ่แฮร่",
          price: "980",
        },
        {
          name: "เอลซ่า",
          price: "1000",
        },
        {
          name: "ไดโน",
          price: "1020",
        },
        {
          name: "แตงกวา",
          price: "1050",
        },
        {
          name: "มะเขือม่วง",
          price: "1070",
        },
        {
          name: "บลูโซดา",
          price: "1090",
        },
        {
          name: "แดงโซดา",
          price: "1110",
        },
        {
          name: "ตีมึน",
          price: "1130",
        },
        {
          name: "ฉุนเฉียว",
          price: "1150",
        },
        {
          name: "ซูกัส",
          price: "1170",
        },
        {
          name: "ยิ้มเเฉ่ง",
          price: "1200",
        },
      ],
      currentPage: 1,
      showMonster: [],
      showBoss: {},
    };
  },
  methods: {
    selectBtn(page) {
      this.showMonster = [];
      this.showBoss = {};
      let newData = "";
      if (page == 1) {
        this.currentPage = 1;
        newData = this.monster.slice(0, 6);
        this.showMonster = newData;
        this.showBoss = this.monster[6];
      } else if (page == 2) {
        this.currentPage = 2;
        newData = this.monster.slice(7, 13);
        this.showMonster = newData;
        this.showBoss = this.monster[13];
      } else if (page == 3) {
        this.currentPage = 3;
        newData = this.monster.slice(14, 20);
        this.showMonster = newData;
        this.showBoss = this.monster[20];
      } else if (page == 4) {
        this.currentPage = 4;
        newData = this.monster.slice(21, 27);
        this.showMonster = newData;
        this.showBoss = this.monster[27];
      } else if (page == 5) {
        this.currentPage = 5;
        newData = this.monster.slice(28, 34);
        this.showMonster = newData;
        this.showBoss = this.monster[34];
      } else if (page == 6) {
        this.currentPage = 6;
        newData = this.monster.slice(35, 41);
        this.showMonster = newData;
        this.showBoss = this.monster[41];
      } else if (page == 7) {
        this.currentPage = 7;
        newData = this.monster.slice(42, 48);
        this.showMonster = newData;
        this.showBoss = this.monster[48];
      } else {
        this.currentPage = 8;
        newData = this.monster.slice(49, 55);
        this.showMonster = newData;
        this.showBoss = this.monster[55];
      }
    },
    loadStudentDiamond() {
      let schoolCode = this.student;
      db.collection("school").doc();
    },
  },
  mounted() {
    this.displayDiamond();

    if (this.displayDiamondMixin >= 0 && this.displayDiamondMixin <= 150) {
      this.currentNext = 1;
      this.selectBtn(1);
    } else if (
      this.displayDiamondMixin >= 151 &&
      this.displayDiamondMixin <= 300
    ) {
      this.currentNext = 2;
      this.selectBtn(2);
    } else if (
      this.displayDiamondMixin >= 301 &&
      this.displayDiamondMixin <= 450
    ) {
      this.currentNext = 3;
      this.selectBtn(3);
    } else if (
      this.displayDiamondMixin >= 301 &&
      this.displayDiamondMixin <= 600
    ) {
      this.currentNext = 4;
      this.selectBtn(4);
    } else if (
      this.displayDiamondMixin >= 601 &&
      this.displayDiamondMixin <= 750
    ) {
      this.currentNext = 5;
      this.selectBtn(5);
    } else if (
      this.displayDiamondMixin >= 751 &&
      this.displayDiamondMixin <= 900
    ) {
      this.currentNext = 6;
      this.selectBtn(6);
    } else if (
      this.displayDiamondMixin >= 901 &&
      this.displayDiamondMixin <= 1050
    ) {
      this.currentNext = 7;
      this.selectBtn(7);
    } else {
      this.currentNext = 8;
      this.selectBtn(8);
    }
  },
};
</script>

<style scoped>
.bg {
  width: 100%;
  height: calc(100vh - 59px);
  background-image: url("../statics/trophy/BGtrophy.png");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.insidebox {
  width: 80%;
  max-width: 1200px;
  height: calc(100vh - 220px);
  position: absolute;
  top: calc(180px);
  z-index: 9000;
  top: calc(-100vh + 155px);
}
.picturebox {
  position: absolute;
  z-index: 900;
  width: 80%;
  max-width: 1200px;
  height: 300px;
  top: calc(-100vh + 60px);
}
.picsize {
  width: 100%;
}
.brx {
  border: 1px solid red;
}

.me-overflow-y {
  overflow-y: auto;
}

.me-scroll-monster {
  margin-top: -20px;
  height: calc(100vh - 280px);
  overflow-y: auto;
}

/* width */
.me-scroll-monster::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.me-scroll-monster::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.me-scroll-monster::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.me-scroll-monster::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>