<template>
  <q-page :class="{'qpage-padding-l':innerWidth > 1024,'qpage-padding-s':innerWidth <=1024}">
    <app-student-details></app-student-details>
    <div class="bg-amber-1">
      <div
        class="row q-mt-md items-end q-pa-sm reverse-wrap"
        style="border-radius:10px"
      >
        <div class="col-lg-4 col-xs-12 q-pa-sm ">
          <!-- DESKTOP  -->
          <div
            class="bg-light-blue-9 q-pa-sm desktop-only"
            style="border-radius:10px"
          >
            <div
              align="center"
              class="font-28 text-white text-weight-bold"
            >List</div>

            <q-scroll-area :class="{'list-height-l' : innerWidth > 1439,'list-height-s' : innerWidth <= 1439}">
              <div
                class="bg-white q-pa-sm"
                style="border-radius:5px"
              >
                <!-- ปุ่มเนื้อหาแต่ละปุ่ม -->
                <div
                  v-if="!listStore.length"
                  align="center"
                >
                  <q-spinner
                    color="primary"
                    size="3em"
                    :thickness="2"
                  />
                </div>
                <div
                  class="row items-center q-pt-sm font-20"
                  v-for="(item,index) in listStore"
                  :key="index"
                >
                  <q-btn
                    push
                    class="col-lg-10 col-sm-10 col-xs-9 q-pa-md text-white"
                    style="border-radius:7px"
                    align="left"
                    :class="{'bg-teal-5 active-border' : showActiveIndex == index,'bg-light-blue-9' : showActiveIndex != index}"
                    @click="showSlide(index)"
                    no-caps
                  >
                    <div
                      class="row"
                      style="width:100%"
                    >
                      <div
                        class="col-lg-1 col-xs-2"
                        align="left"
                      >
                        <q-icon
                          v-if="showActiveIndex == index"
                          name="fas fa-circle"
                          :class="{'active-list' : showActiveIndex == index}"
                        ></q-icon>
                        <q-icon
                          v-else
                          name="far fa-circle"
                        ></q-icon>
                      </div>
                      <div
                        class="col-lg-11 col-xs-10"
                        align="left"
                      >{{item.text}}</div>
                    </div>
                  </q-btn>
                  <div class="col-lg-2 col-sm-2 col-xs-3">
                    <div align="right">
                      <q-btn
                        @click="showVideo(index)"
                        class="q-pa-md text-white"
                        icon="fas fa-video"
                        :class="{'bg-teal-5 active-border' : showActiveIndex == index,'bg-light-blue-9' : showActiveIndex != index}"
                        push
                        no-caps
                      ></q-btn>
                    </div>
                  </div>
                </div>
                <!-- จบปุ่มเนื้อหาแต่ละปุ่ม -->
              </div>
            </q-scroll-area>
          </div>
          <!-- END DESKTOP -->
          <!-- MOBILE -->
          <div
            class="bg-light-blue-9 q-pa-sm mobile-only"
            style="border-radius:10px"
          >
            <div
              align="center"
              class="font-28 text-white text-weight-bold"
            >List</div>

            <div
              class="bg-white q-pa-sm"
              style="border-radius:5px"
            >
              <!-- ปุ่มเนื้อหาแต่ละปุ่ม -->
              <div
                v-if="!listStore.length"
                align="center"
              >
                <q-spinner
                  color="primary"
                  size="3em"
                  :thickness="2"
                />
              </div>
              <div
                class="row items-center q-pt-sm font-20"
                v-for="(item,index) in listStore"
                :key="index"
              >
                <q-btn
                  push
                  class="col-lg-10 col-sm-10 col-xs-9 q-pa-md text-white"
                  style="border-radius:7px"
                  align="left"
                  :class="{'bg-teal-5 active-border' : showActiveIndex == index,'bg-light-blue-9' : showActiveIndex != index}"
                  @click="showSlide(index)"
                  no-caps
                >
                  <div
                    class="row"
                    style="width:100%"
                  >
                    <div
                      class="col-lg-1 col-xs-2"
                      align="left"
                    >
                      <q-icon
                        v-if="showActiveIndex == index"
                        name="fas fa-circle"
                        :class="{'active-list' : showActiveIndex == index}"
                      ></q-icon>
                      <q-icon
                        v-else
                        name="far fa-circle"
                      ></q-icon>
                    </div>
                    <div
                      class="col-lg-11 col-xs-10"
                      align="left"
                    >{{item.text}}</div>
                  </div>
                </q-btn>
                <div class="col-lg-2 col-sm-2 col-xs-3">
                  <div align="right">
                    <q-btn
                      @click="showVideo(index)"
                      class="q-pa-md text-white"
                      icon="fas fa-video"
                      :class="{'bg-teal-5 active-border' : showActiveIndex == index,'bg-light-blue-9' : showActiveIndex != index}"
                      push
                      no-caps
                    ></q-btn>
                  </div>
                </div>
              </div>
              <!-- จบปุ่มเนื้อหาแต่ละปุ่ม -->
            </div>
          </div>
          <!-- END MOBILE -->
        </div>
        <div
          class="col-lg-8 col-xs-12 q-pa-sm"
          style="position:relative"
        >
          <div
            class="video-js vjs-default-skin vjs-controls-enabled vjs-has-started vjs-paused vjs-user-inactive"
            align="center"
            style="width:100%;border:7px solid #0277BD;border-radius:10px;position:relative;height:100%"
            v-show="showVdo"
          >
            <!-- content -->
            <video
              ref="vdo"
              id="my-video"
              controls
              data-setup="{}"
              style="min-height:300px;width:100%"
            >
              <source
                :src="this.$store.state.system.vdoTeachingPath"
                type="video/mp4"
              >
            </video>
          </div>

          <div
            v-show="showSlidePic"
            align="center"
          >
            <q-img
              style="width:100%;border:7px solid #0277BD;border-radius:10px;position:relative;height:100%"
              :src="slidePicPath"
              spinner-color="light-blue-9"
            ></q-img>
          </div>
        </div>
      </div>
    </div>
    <div
      align="center"
      class="q-mt-sm"
    >
      <q-btn
        style="width:250px"
        class="bg-light-blue-9 text-white text-h6"
        push
        :glossy="$q.theme === 'mat'"
        @click="exist()"
      >ออกจากบทเรียน</q-btn>
    </div>
  </q-page>
</template>

<script>
import appStudentDetails from "../components/StudentDetails.vue";
import { db } from "../router/index.js";
import { mapActions } from "vuex";

export default {
  // name: 'PageName',
  components: {
    appStudentDetails
  },
  data() {
    return {
      activeIndex: 0,
      listStore: [],
      showActiveIndex: 999,
      showPage: false,
      showVdo: false,
      showSlidePic: true,
      slidePicPath: "",
      orderid: 0,
      levelUnitPath: undefined,
      vdoReady: false,
      numberOfSlide: 0,
      currentMask: undefined,
      practiceName: "",
      order: undefined,
      practiceName: undefined,
      showList: true
    };
  },
  methods: {
    ...mapActions([
      "setEnglishInstruction",
      "setThaiInstruction",
      "setCurrentQuestion",
      "setTotalQuestion",
      "setShowLayouts",
      "setCharacterAction",
      "setStar", //ดาว
      "setScore", //คะแนน
      "setStar3", //เกณฑ์สามดาว
      "setPassScore", //เซ็ทเกณฑ์การผ่าน
      "setVdoJs"
    ]),
    async showSlide(index) {
      document.documentElement.scrollTop = 0;
      this.showActiveIndex = index;
      this.showVdo = false;
      this.showSlidePic = true;
      var picIndex = index + 1;
      var level =
        this.$store.state.system.currentPracticeLevel < 10
          ? "0" + this.$store.state.system.currentPracticeLevel
          : this.$store.state.system.currentPracticeLevel;
      var unit =
        this.$store.state.system.currentPracticeUnit < 10
          ? "0" + this.$store.state.system.currentPracticeUnit
          : this.$store.state.system.currentPracticeUnit;

      var levelUnitPractice =
        "L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit;

      let player = document.getElementById("my-video");
      player.pause();

      if (this.listStore.length) {
        player.currentTime = this.listStore[index].time + 0.5;
      }

      let getOrderid = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelUnitPractice)
        .doc(this.$route.params.practicekey)
        .get();

      let orderid = getOrderid.data().order;
      var levelUnit = "L" + level + "U" + unit;
      this.levelUnitPath = levelUnit;
      this.orderid = orderid;

      if (orderid > 2000 && orderid < 2999) {
        // GRAMMAR
        this.slidePicPath =
          "https://api.winner-english.com/data/slide_grammar/" +
          levelUnit +
          "/Slide" +
          picIndex +
          ".JPG";
      } else if (orderid > 5000 && orderid <= 5200) {
        // PHONICS
        this.slidePicPath =
          "https://api.winner-english.com/data/slide_phonics/" +
          levelUnit +
          "/Slide" +
          picIndex +
          ".JPG";
      } else if (orderid > 5200) {
        // TIPS
        this.showList = false;
        this.slidePicPath =
          "https://api.winner-english.com/data/slide_tips/" +
          levelUnit +
          "/Slide" +
          picIndex +
          ".JPG";
      }
    },
    showVideo(index) {
      let _this = this;
      this.currentMask = index;
      document.documentElement.scrollTop = 0;
      this.showVdo = true;
      this.showSlidePic = false;
      var allowInterval = true;
      var player = document.getElementById("my-video");
      // +0.5 ให้ตัวแสดงผลสไลด์ไม่เด้งไปเด้งมา
      player.currentTime = _this.listStore[index].time + 0.5;
      player.play();

      this.showActiveIndex = index;
      player.ontimeupdate = function() {
        if (allowInterval) {
          if (
            player.currentTime > _this.listStore[_this.currentMask + 1].time
          ) {
            player.pause();
            allowInterval = false;
          }
        }
        for (let i = 0; i < _this.listStore.length; i++) {
          if (player.currentTime > _this.listStore[i].time) {
            _this.showActiveIndex = i;
          }
        }
      };
    },
    async getList() {
      this.showLoading();
      let traningRef = await db
        .collection("trainingvdo")
        .doc(this.$route.params.practicekey)
        .get();

      if (
        traningRef
          .data()
          .schoolTypeSelected.includes(this.$store.state.system.schoolType.key)
      ) {
        this.hideLoading();
        // กรณีโรงเรียนมีการเลือกแบบฝึกหัดนี้ไว้
        let traningvdoRef = await db
          .collection("trainingvdo")
          .doc(this.$route.params.practicekey)
          .collection("slide")
          .orderBy("starttime")
          .get();
        this.numberOfSlide = traningvdoRef.size;

        traningvdoRef.forEach(element => {
          let convertTime = element.data().starttime.split(":");
          let finalTime = Number(convertTime[0]) * 60 + Number(convertTime[1]);
          let dataAdded = {
            time: finalTime,
            text: element.data().name
          };
          this.listStore.push(dataAdded);
        });
      }
    },
    exist() {
      this.hideLoading();
      if (this.$store.state.system.currentWorld == 2) {
        var world = "Grammar";
      } else if (this.$store.state.system.currentWorld == 5) {
        var world = "Listening & Speaking";
      }
      this.savePracticeLog(
        this.$route.params.practicekey,
        100,
        "pass",
        0,
        world,
        this.practiceName,
        this.order,
        "VDO Teaching"
      );
      this.$router.push("/studyplan");
    },
    getOrder() {
      let levelUnit =
        "L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit;

      db.collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .doc(this.$route.params.practicekey)
        .get()
        .then(order => {
          this.order = order.data().order;
          this.practiceName = order.data().name;
        });
    }
  },
  mounted() {
    this.saveMonitor(this.$route.params.practicekey, 15);
    this.getOrder();
    this.getList();
    this.showSlide(0);
  },
  computed: {
    innerWidth: function() {
      return this.$store.state.system.innerWidth;
    }
  }
};
</script>

<style>
.custom-marker {
  font-size: 44px;
}
.active-list {
  animation: flash 2s infinite;
}
.active-border {
  border: 4px solid #f9a825;
}
.list-height-l {
  height: 600px;
}
.list-height-s {
  height: 300px;
}
@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
</style>
