<template>
  <div style="position:fixed;left:7%">
    <!-- <q-page-sticky position="bottom-left" :offset="offsetCal"> -->
    <!-- ชาย -->
    <span v-if="this.$store.state.system.studentData.gender=='ชาย'">
      <img class="imgCharacter" v-if="action == 'correct'" src="../assets/male-2.png" alt>
      <img class="imgCharacter" v-if="action == 'incorrect'" src="../assets/male-3.png" alt>
      <img class="imgCharacter" v-if="action == 'default'" src="../assets/male-4.png" alt>
    </span>
    <!-- หญิง -->
    <span v-else>
      <img
        class="imgCharacter"
        v-if="action == 'correct'"
        src="../assets/charecter-standy-07.png"
        alt
      >
      <img
        class="imgCharacter"
        v-if="action == 'incorrect'"
        src="../assets/charecter-standy-08.png"
        alt
      >
      <img
        class="imgCharacter"
        v-if="action == 'default'"
        src="../assets/charecter-standy-06.png"
        alt
      >
    </span>
    <!-- </q-page-sticky> -->
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: ["action"],
  data() {
    return {
      left: 0
    };
  },
  computed: {
    innerHeight: function() {
      return this.$store.state.system.innerHeight;
    },
    innerWidth: function() {
      return this.$store.state.system.innerWidth;
    }
    // offsetCal: function() {
    //   let calculated =
    //     (5 / 12) * 100 * (this.$store.state.system.innerWidth / 100);
    //   calculated = calculated / 2;
    //   calculated = calculated - 150;
    //   calculated = [calculated, 0];
    //   return calculated;
    // }
  }
};
</script>

<style>
.imgCharacter {
  height: calc(100vh - 190px);
  position: relative;
  bottom: -5px;
  min-width: 100%;
}
</style>
