<template>
  <div align="center">
    {{sentence}}
    <br>
    {{extraVocab}}
    <br>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: ["sentence", "extraVocab"],
  data() {
    return {};
  }
};
</script>

<style>
</style>
