<template>
  <div class="row brx gutter-sm text-white items-start">
    <q-resize-observer @resize="onResize"></q-resize-observer>
    <div class="col-md-5 col-xs-12">
      <div
        class="row text-white"
        :class="{'font-20 bar-width-l':innerWidth > 1439,'bar-width-s':innerWidth <= 1024}"
      >
        <div class="col-9 q-pr-sm">
          <div
            class="bg-cyan-8 q-pa-sm q-px-md"
            style="width:95%;border-radius:10px;display:flex;justify-content:space-between"
          >
            <div>{{this.$store.state.system.studentData.name}}</div>
            <div>
              {{this.$store.state.system.studentCourse[
              this.$store.state.system.currentLesson
              ].studentno}}
            </div>
          </div>
        </div>
        <div class="col-3" style="position:relative">
          <div class="bg-cyan-8 q-pa-sm" style="border-radius:10px;text-align:center;">
            <div style="position:absolute;left:-23px;top:-3px">
              <img
                :class="{'diamondWidth-l':innerWidth > 1024,'diamondWidth-s':innerWidth <= 1024}"
                src="../assets/diamond.png"
                alt
              >
            </div>
            <div>
              <span style="position:relative;left:13px">50</span>
            </div>
          </div>
        </div>
        <div class="col-12 q-mt-sm">
          <div
            class="bg-teal-14 q-px-md q-pa-xs row justify-between items-center"
            style="border-radius:10px"
          >
            <div class="row">
              <div>Level{{this.$store.state.system.currentPracticeLevel}}</div>
              <div>&nbsp;|&nbsp;</div>
              <div>Unit{{this.$store.state.system.currentPracticeUnit}}</div>
            </div>
            <div class="row justify-center">
              <div v-for="i in 3" :key="i">
                <img
                  v-if="i <= data.star"
                  style="width:30px;height:30px"
                  src="../assets/fash-card-star.png"
                  alt
                  :class="{'q-mr-sm': i < 3}"
                >
                <img
                  v-else
                  style="width:30px;height:30px"
                  src="../assets/fash-card-star-no.png"
                  alt
                  :class="{'q-mr-sm': i < 3}"
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-xs-12">
      <div
        class="row bg-cyan-8 q-pa-sm items-center"
        :class="{'q-title text-weight-bold':innerWidth > 1024}"
        style="border-radius:10px;border:5px solid"
      >
        <div class="col-1" align="center" style="border-right:1px solid">
          {{data.currentQuestion}}
          <br>
          <hr style="width:60%">
          {{data.totalQuestion}}
        </div>
        <div v-if="toggleInstruction" class="col-9 q-pa-sm">{{data.EngInstruction}}</div>
        <div v-else class="col-9 q-pa-sm">{{data.ThaiInstruction}}</div>
        <div class="col-2" align="center">
          <q-btn
            @click="changeInstructionLang()"
            color="primary"
            push
            round
            size="md"
            icon="fas fa-language"
          ></q-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: ["data"],
  data() {
    return {
      toggleInstruction: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    changeInstructionLang() {
      this.toggleInstruction = !this.toggleInstruction;
    },
    onResize(size) {
      this.innerWidth = size.width;
      this.innerHeight = size.height;
    }
  }
};
</script>

<style>
.brx {
  border: 2px solid red;
}
.diamondWidth-l {
  width: 75%;
}
.diamondWidth-s {
  width: 70%;
}
.bar-width-l {
  width: 95%;
}
.bar-width-s {
  width: 100%;
}
</style>
