<template>
  <div>
    <div
      class="row bg-amber-1 items-end q-pa-sm reverse-wrap"
      style="border-radius:10px"
    >
      <div class="col-lg-4 col-xs-12 q-pa-sm ">
        <div
          class="bg-light-blue-9 q-pa-sm"
          style="border-radius:10px"
        >

          <div
            align="center"
            class="font-28 text-white text-weight-bold"
          >List</div>
          <!-- DESKTOP ONLY -->
          <q-scroll-area
            style="height: 600px;"
            class='desktop-only'
          >
            <div
              class="bg-white q-pa-sm"
              style="border-radius:5px"
            >
              <!-- ปุ่มเนื้อหาแต่ละปุ่ม -->
              <div
                v-if="!listStore.length"
                align="center"
              >
                <q-spinner
                  color="primary"
                  size="3em"
                  :thickness="2"
                />
              </div>
              <div
                class="row items-center q-pt-sm font-20"
                v-for="(item,index) in listStore"
                :key="index"
              >
                <q-btn
                  push
                  class="col-sm-10 col-xs-9 q-pa-md text-white"
                  style="border-radius:7px"
                  align="left"
                  :class="{' active-border' : showActiveIndex == index,'bg-light-blue-9' : !slide.includes((index+1).toString()),'bg-teal-5' : slide.includes((index + 1).toString())}"
                  @click="showSlide(index)"
                  no-caps
                >
                  <div
                    class="row"
                    style="width:100%"
                  >
                    <div class="col-lg-1 col-xs-2">
                      <q-icon
                        v-if="showActiveIndex == index"
                        name="fas fa-circle"
                        :class="{'active-list' : showActiveIndex == index}"
                      ></q-icon>
                      <q-icon
                        v-else
                        name="far fa-circle"
                      ></q-icon>
                    </div>
                    <div
                      class="col-lg-11 col-xs-10"
                      align="left"
                    >{{item.text}}</div>
                  </div>
                </q-btn>
                <div class="col-sm-2 col-xs-3">
                  <div align="right">
                    <q-btn
                      @click="showVideo(index)"
                      class="q-pa-md text-white"
                      icon="fas fa-video"
                      :class="{' active-border' : showActiveIndex == index,'bg-light-blue-9' : !slide.includes((index+1).toString()),'bg-teal-5' : slide.includes((index+1).toString())}"
                      push
                      no-caps
                    ></q-btn>
                  </div>
                </div>
              </div>
              <!-- จบปุ่มเนื้อหาแต่ละปุ่ม -->
            </div>
          </q-scroll-area>
          <!-- END DESKTOP -->
          <!-- MOBILE ONLY -->
          <div class='mobile-only'>
            <div
              class="bg-white q-pa-sm"
              style="border-radius:5px"
            >
              <!-- ปุ่มเนื้อหาแต่ละปุ่ม -->
              <div
                v-if="!listStore.length"
                align="center"
              >
                <q-spinner
                  color="primary"
                  size="3em"
                  :thickness="2"
                />
              </div>
              <div
                class="row items-center q-pt-sm font-20"
                v-for="(item,index) in listStore"
                :key="index"
              >
                <q-btn
                  push
                  class="col-sm-10 col-xs-9 q-pa-md text-white"
                  style="border-radius:7px"
                  align="left"
                  :class="{' active-border' : showActiveIndex == index,'bg-light-blue-9' : !slide.includes((index+1).toString()),'bg-teal-5' : slide.includes((index + 1).toString())}"
                  @click="showSlide(index)"
                  no-caps
                >
                  <div
                    class="row"
                    style="width:100%"
                  >
                    <div class="col-lg-1 col-xs-2">
                      <q-icon
                        v-if="showActiveIndex == index"
                        name="fas fa-circle"
                        :class="{'active-list' : showActiveIndex == index}"
                      ></q-icon>
                      <q-icon
                        v-else
                        name="far fa-circle"
                      ></q-icon>
                    </div>
                    <div
                      class="col-lg-11 col-xs-10"
                      align="left"
                    >{{item.text}}</div>
                  </div>
                </q-btn>
                <div class="col-sm-2 col-xs-3">
                  <div align="right">
                    <q-btn
                      @click="showVideo(index)"
                      class="q-pa-md text-white"
                      icon="fas fa-video"
                      :class="{' active-border' : showActiveIndex == index,'bg-light-blue-9' : !slide.includes((index+1).toString()),'bg-teal-5' : slide.includes((index+1).toString())}"
                      push
                      no-caps
                    ></q-btn>
                  </div>
                </div>
              </div>
              <!-- จบปุ่มเนื้อหาแต่ละปุ่ม -->
            </div>
          </div>
          <!-- END MOBILE -->
        </div>
      </div>
      <div
        class="col-lg-8 col-xs-12 q-pa-sm "
        style="position:relative"
      >
        <div
          class="video-js vjs-default-skin vjs-controls-enabled vjs-has-started vjs-paused vjs-user-inactive"
          align="center"
          style="width:100%;border:7px solid #0277BD;border-radius:10px;position:relative;height:100%"
          v-show="showVdo"
        >
          <!-- content -->
          <video
            ref="vdo"
            id="my-video"
            controls
            style="min-height:300px;width:100%"
          >
            <source
              :src="this.$store.state.system.vdoTeachingPath"
              type="video/mp4"
            >
          </video>
        </div>

        <div
          v-show="showSlidePic"
          align="center"
        >
          <div style="position:absolute;top:-25px;right:-25px;z-index:1500">
            <q-btn
              @click="closeHelp()"
              round
              class="bg-red-5 text-white"
              icon="fas fa-times"
            ></q-btn>
          </div>
          <q-img
            :src="slidePicPath"
            spinner-color="light-blue-9"
            style="width:100%;border:7px solid #0277BD;border-radius:10px;position:relative;height:100%"
          ></q-img>
        </div>
      </div>
    </div>
    <div
      align="center"
      class="col-12 q-mt-sm"
    >
      <q-btn
        @click="closeHelp()"
        label="กลับหน้าหลัก"
        color="primary"
        class="font-24"
      ></q-btn>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";

export default {
  // name: 'PageName',
  props: ["slide", "helper"],
  data() {
    return {
      activeIndex: 0,
      listStore: [],
      showActiveIndex: 999,
      showPage: false,
      showVdo: false,
      showSlidePic: true,
      slidePicPath: "",
      currentMask: undefined
    };
  },
  methods: {
    showSlide(index) {
      document.documentElement.scrollTop = 0;
      this.showActiveIndex = index;
      this.showVdo = false;
      this.showSlidePic = true;
      var picIndex = index + 1;
      let player = document.getElementById("my-video");
      player.pause();

      if (this.listStore.length) {
        player.currentTime = this.listStore[index].time + 0.5;
      }
      var type = this.helper;
      var level =
        this.$store.state.system.currentPracticeLevel < 10
          ? "0" + this.$store.state.system.currentPracticeLevel
          : this.$store.state.system.currentPracticeLevel;
      var unit =
        this.$store.state.system.currentPracticeUnit < 10
          ? "0" + this.$store.state.system.currentPracticeUnit
          : this.$store.state.system.currentPracticeUnit;

      var levelUnit = "L" + level + "U" + unit;
      if (this.helper == "Grammar VDO") {
        this.slidePicPath =
          "https://api.winner-english.com/data/slide_grammar/" +
          levelUnit +
          "/Slide" +
          picIndex +
          ".JPG";
      } else if (this.helper == "Phonics") {
        this.slidePicPath =
          "https://api.winner-english.com/data/slide_phonics/" +
          levelUnit +
          "/Slide" +
          picIndex +
          ".JPG";
      }
    },
    closeHelp() {
      this.$emit("help", {
        showHelpPage: false
      });
    },
    showVideo(index) {
      let _this = this;
      this.showVdo = true;
      this.showSlidePic = false;
      var allowInterval = true;
      this.currentMask = index;
      let player = document.getElementById("my-video");
      player.currentTime = this.listStore[index].time + 0.5;
      document.documentElement.scrollTop = 0;

      this.showActiveIndex = index;

      player.ontimeupdate = function() {
        if (allowInterval) {
          if (
            player.currentTime > _this.listStore[_this.currentMask + 1].time
          ) {
            player.pause();
            allowInterval = false;
          }
        }
        for (let i = 0; i < _this.listStore.length; i++) {
          if (player.currentTime > _this.listStore[i].time) {
            _this.showActiveIndex = i;
          }
        }
      };

      player.play();
    },
    getList() {
      this.showLoading();

      if (this.helper == "Grammar VDO") {
        this.getTitleList(2000, 3000);
      } else if (this.helper == "Phonics") {
        this.getTitleList(5000, 5200);
      } else if (this.helper == "Conversation") {
        this.getTitleList(5200, 6000);
      }

      this.hideLoading();
    },
    getTitleList(start, end) {
      var levelUnit =
        "L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit;

      db.collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .where("order", ">", start)
        .where("order", "<=", end)
        .get()
        .then(doc => {
          doc.forEach(element => {
            if (element.data().practicetype == "teaching VDO") {
              let vdoPracticeKey = element.id;

              db.collection("trainingvdo")
                .doc(vdoPracticeKey)
                .get()
                .then(traningvdo => {
                  if (
                    traningvdo
                      .data()
                      .schoolTypeSelected.includes(
                        this.$store.state.system.schoolType.key
                      )
                  ) {
                    // กรณีโรงเรียนมีการเลือกแบบฝึกหัดนี้ไว้
                    db.collection("trainingvdo")
                      .doc(vdoPracticeKey)
                      .collection("slide")
                      .orderBy("starttime")
                      .get()
                      .then(slide => {
                        slide.forEach(element => {
                          let convertTime = element.data().starttime.split(":");
                          let finalTime =
                            Number(convertTime[0]) * 60 +
                            Number(convertTime[1]);

                          let dataAdded = {
                            time: finalTime,
                            text: element.data().name
                          };
                          this.listStore.push(dataAdded);
                        });
                      });
                  }
                });
            }
          });
        });
    }
  },
  mounted() {
    this.getList();
    let firstSlide = Number(this.slide[0]);
    if (firstSlide != "") {
      this.showSlide(firstSlide - 1);
    } else {
      this.showSlide(0);
    }
    // } else {
    //   this.showSlide(0);
    // }
  },
  computed: {
    innerWidth: function() {
      return this.$store.state.system.innerWidth;
    },
    checkVdoJs: function() {
      return this.$store.state.system.videojs;
    }
  }
};
</script>

<style>
.custom-marker {
  font-size: 44px;
}
.active-list {
  animation: flash 2s infinite;
}
.active-border {
  border: 4px solid #f9a825;
}
@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
</style>
