<template>
  <div :class="{'qpage-padding-l':innerWidth > 1024,'qpage-padding-s':innerWidth <=1024}">
    <!-- content -->
    <div align="center" class="bg-amber-1 q-pa-md">
      <div
        v-html="'คำถาม : ' + this.question"
        class="text-light-blue-9 q-pa-sm"
        :class="{'font-28' : innerWidth > 600,'font-24' : innerWidth >= 320,'font-14' : innerWidth <320}"
      ></div>
      <div>
        <video
          id="my-video"
          controls
          style="width:95%;height:100%;max-width:1024px;border-radius:10px;border:10px solid#268DE5"
          class="video-js"
        >
          <source :src="vdoPath" type="video/mp4">
        </video>
      </div>
      <div
        class="q-pt-md text-light-blue-10"
        :class="{'font-28' : innerWidth > 600,'font-24' : innerWidth >= 320,'font-14' : innerWidth <320}"
      >{{ currentEngSub }}</div>
      <div
        class="q-pt-md text-light-blue-10"
        :class="{'font-28' : innerWidth > 600,'font-24' : innerWidth >= 320,'font-14' : innerWidth <320}"
      >{{ currentThSub }}</div>
    </div>
    <div align="center" class="q-mt-sm">
      <q-btn
        style="width:250px"
        class="bg-light-blue-9 text-white text-h6"
        push
        :glossy="$q.theme === 'mat'"
        @click="closeHelp()"
      >กลับหน้าหลัก</q-btn>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  props: ["question"],
  data() {
    return {
      vdoPath: this.$store.state.system.vdoTeachingPath,
      subtitle: [],
      currentIndex: undefined,
      currentEngSub: "",
      currentThSub: "",
      order: undefined,
      practiceName: undefined,
      vdoPracticeKey: undefined
    };
  },
  methods: {
    getSubtitle() {
      var levelPath = this.$store.state.system.currentPracticeLevel;
      var unitPath = this.$store.state.system.currentPracticeUnit;
      var levelUnitPath = "L" + levelPath + "U" + unitPath;
      db.collection("practicelist")
        .doc("data")
        .collection(levelUnitPath)
        .where("practicetype", "==", "conversation VDO")
        .get()
        .then(practice => {
          practice.forEach(vdopractice => {
            let practiceKey = vdopractice.id;
            this.vdoPracticeKey = practiceKey;
            db.collection("conversation")
              .doc(practiceKey)
              .collection("dialog")
              .orderBy("orderid")
              .get()
              .then(doc => {
                doc.forEach(element => {
                  let splitTime = element.data().starttime.split(":");
                  var time = Number(splitTime[0]) * 60 + Number(splitTime[1]);
                  let dataAdd = {
                    time: time
                  };
                  let dataFinal = { ...dataAdd, ...element.data() };

                  this.subtitle.push(dataFinal);
                });
                this.currentEngSub = this.subtitle[0].sentenceEnglish;
                this.currentThSub = this.subtitle[0].sentenceThai;
                setTimeout(() => {
                  this.showSubtitle();
                }, 500);
              });
          });
        });
    },
    showSubtitle() {
      let _this = this;
      var player = document.getElementById("my-video");
      player.ontimeupdate = function() {
        let currentTime = player.currentTime;

        for (let i = 0; i < _this.subtitle.length; i++) {
          if (currentTime >= _this.subtitle[i].time) {
            _this.currentEngSub = _this.subtitle[i].sentenceEnglish;
            _this.currentThSub = _this.subtitle[i].sentenceThai;
          }
        }
      };
      player.onended = function() {
        _this.currentEngSub = _this.subtitle[0].sentenceEnglish;
        _this.currentThSub = _this.subtitle[0].sentenceThai;
      };
    },
    closeHelp() {
      this.$emit("help", {
        showHelpPage: false
      });
    }
  },
  computed: {
    innerWidth: function() {
      return this.$store.state.system.innerWidth;
    }
  },
  mounted() {
    this.getSubtitle();
    // this.getOrder();
  }
};
</script>

<style>
</style>
