<template>
  <div class="row items-center">
    <div
      class="q-pa-md"
      style="background-color:#FFF8E1;height:fit-content;border-radius:10px;border:10px solid white;width:90%;margin:auto"
      v-if="showCard"
    >
      <div
        class="row items-center relative-position"
        style="width:100%"
      >
        <div
          class="col-xs-12 absolute"
          style="top:-35px;right:-35px"
        >
          <div
            align="right"
            class="col-12"
          >
            <q-btn
              @click="closeHelp()"
              style="width:40px;height:40px"
              icon="fas fa-times"
              round
              color="red-10"
            ></q-btn>
          </div>
        </div>
        <div class="col-xs-12">
          <div align="center">
            <div
              style="width:fit-content"
              class="q-px-lg text-light-blue-9 text-weight-bold"
              :class="{'font-34' : innerWidth2 >1024,'font-28' : innerWidth2 <= 1024,'font-20' : innerWidth2 < 600}"
            >
              คำถาม :
              <span v-html="this.question"></span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row col-12 q-col-gutter-md"
        style="position:relative"
      >
        <!-- รอเสียง flashcard  -->
        <!-- path items.soundPath -->
        <div
          class="col-xs-12 col-md-6 q-mt-lg "
          align="center"
          v-for="(items,index) in flashcard"
          :key="index"
        >

          <!-- DESKTOP -->
          <q-btn
            push
            style="border-radius:10px;width:90%;"
            :class="{'card-height' : innerWidth2 <= 1439}"
            class="bg-white desktop-only"
            no-caps
            @click="playSound(items.soundPath,1)"
          >
            <div
              align="right"
              class="q-pt-sm"
              style="width:100%"
            >
              <q-icon
                color="teal-5"
                name="fas fa-volume-up"
              ></q-icon>
            </div>
            <div
              class="row q-pa-md "
              style="width:100%"
              align="center"
            >
              <div class="col-xs-12 col-lg-5 ">
                <q-img
                  :src="items.imgPath"
                  spinner-color="light-blue-9"
                  style="position:relative;width:100%;max-width:185px;border-radius:10px;border:5px solid #0277BD"
                ></q-img>
              </div>

              <div
                class="col-xs-12 col-lg-7 q-pt-md"
                :class="{'font-24':innerWidth2 > 1439,'font-20':innerWidth2<= 1439,'font-16':innerWidth2 < 600}"
              >
                <div class="row">
                  <div
                    align="left"
                    class="col-10 q-pl-md q-pt-md text-weight-bold"
                    v-html="items.vocabulary"
                  ></div>

                  <div
                    align="left"
                    class="col-10 q-pl-md q-pt-md"
                    v-html="items.pronounce"
                  ></div>

                  <div
                    align="left"
                    class="col-10 q-pl-md q-pt-md"
                    v-html="items.meaning"
                  ></div>
                </div>
              </div>
            </div>
          </q-btn>
          <!-- END DESKTOP -->

          <!-- MOBILE -->

          <q-btn
            push
            style="border-radius:10px;width:100%;"
            class="bg-white mobile-only"
            no-caps
            @click="playSound(items.soundPath,1)"
          >

            <div
              class="row "
              style="width:100%"
              align="center"
            >

              <div
                class="col-xs-12 col-lg-7 "
                :class="{'font-24':innerWidth2 > 1439,'font-20':innerWidth2<= 1439,'font-16':innerWidth2 < 600}"
              >
                <div class="row ">
                  <div
                    align="left"
                    class="col-10 q-pl-md  text-weight-bold"
                    v-html="items.vocabulary"
                  ></div>

                  <div
                    align="left"
                    class="col-10 q-pl-md "
                    v-html="items.pronounce"
                  ></div>

                  <div
                    align="left"
                    class="col-10 q-pl-md "
                    v-html="items.meaning"
                  ></div>
                </div>
              </div>
            </div>
          </q-btn>

          <!-- END MOBILE -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  // name: 'ComponentName',
  // parameters is [correctvocab,correctpronounce,correctmeaning]

  props: ["data", "question"],
  data() {
    return {
      flashcard: [],
      showCard: false
    };
  },
  methods: {
    closeHelp() {
      this.$emit("help", {
        showHelpPage: false
      });
    },
    async loadFlashcard() {
      this.showLoading();
      let levelUnit =
        "L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit;
      let practicelistRef = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .where("practicetype", "==", "flashcard")
        .get();

      let flashcardKey = practicelistRef.docs[0].id;
      for (let i = 0; i < this.data.length; i++) {
        db.collection("flashcard")
          .doc(flashcardKey)
          .collection("server")
          .where("vocabulary", "==", this.data[i])
          .get()
          .then(doc => {
            doc.forEach(element => {
              let imgPath = {
                imgPath:
                  "https://api.winner-english.com/data/pic_flashcard/" +
                  element.id.toLowerCase() +
                  ".jpg",
                soundPath:
                  "https://api.winner-english.com/data/sound_flashcard/" +
                  element.id.toLowerCase() +
                  ".mp3"
              };
              let dataFinal = { ...imgPath, ...element.data() };
              this.flashcard.push(dataFinal);
            });
            this.showCard = true;
            this.hideLoading();
          });
      }
    },
    test() {
      alert(1234);
    }
  },
  mounted() {
    this.loadFlashcard();
  },
  computed: {
    innerWidth2: function() {
      return this.$store.state.system.innerWidth;
    }
  }
};
</script>

<style>
.sound-btn-l {
  width: 50px;
  height: 50px;
}
.sound-btn-s {
  width: 40px;
  height: 40px;
}
.center-of-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-height {
  height: 420px;
}
</style>
