<template>
  <div class="row items-center">
    <div
      v-if="showCard"
      style="background-color:#FFF8E1;height:fit-content;border-radius:10px;border:10px solid white;width:90%;margin:auto"
      class="q-pa-md"
    >
      <div
        class="row items-center relative-position"
        style="width:100%"
      >
        <div
          class="col-xs-12 absolute"
          style="top:-25px;right:-25px"
        >
          <div align="right">
            <q-btn
              @click="closeHelp()"
              style="width:40px;height:40px"
              icon="fas fa-times"
              round
              color="red-10"
            ></q-btn>
          </div>
        </div>
        <div class="col-xs-12">
          <!-- คำถาม -->
          <div
            class="col-12 text-weight-bold text-light-blue-9"
            :class="{'font-34' : innerWidth2 >1024,'font-28' : innerWidth2 <= 1024,'font-20' : innerWidth2 < 600}"
            align="center"
          >
            <div
              style="width:fit-content"
              class="q-px-lg"
            >คำถาม : {{data.meaning}}</div>
          </div>
        </div>
      </div>

      <div
        class="row col-12 q-col-gutter-md"
        style="position:relative"
      >
        <div
          class="col-xs-12 col-md-6 q-mt-md "
          align="center"
          v-for="(items,index) in flashcard"
          :key="index"
        >
          <!-- DESKTOP ONLY -->
          <q-btn
            push
            style="border-radius:10px;width:90%;"
            :class="{'card-height' : innerWidth2 <= 1439}"
            class="bg-white desktop-only"
            no-caps
            @click="playSound(items.soundPath,1)"
          >
            <div
              align="right"
              class="q-pt-sm"
              style="width:100%"
            >
              <q-icon
                color="light-blue-9"
                name="fas fa-volume-up"
              ></q-icon>
            </div>
            <div
              class="row q-pa-md"
              style="width:100%"
            >
              <div class="col-xs-12 col-lg-5">
                <img
                  v-lazy="items.imgPath"
                  alt
                  style="position:relative;width:100%;max-width:185px;border-radius:10px;border:5px solid #0277BD"
                >
              </div>

              <div
                class="col-xs-12 col-lg-7 q-pt-md"
                :class="{'font-24':innerWidth2 > 1439,'font-20':innerWidth2<= 1439,'font-16':innerWidth2 < 600}"
              >
                <div class="row">
                  <div
                    align="left"
                    class="col-12 q-pl-md q-pt-md text-weight-bold"
                    v-html="items.vocabulary"
                  ></div>
                  <div
                    align="left"
                    class="col-10 q-pl-md q-pt-md"
                    v-html="items.pronounce"
                  ></div>
                  <div
                    align="left"
                    class="col-10 q-pl-md q-pt-md"
                    v-html="items.meaning"
                  ></div>
                </div>
              </div>
            </div>
          </q-btn>
          <!-- END DESKTOP -->
          <!-- MOBILE -->

          <q-btn
            push
            style="border-radius:10px;width:100%;"
            class="bg-white mobile-only"
            no-caps
            @click="playSound(items.soundPath,1)"
          >

            <div
              class="row "
              style="width:100%"
              align="center"
            >

              <div
                class="col-xs-12 col-lg-7 "
                :class="{'font-24':innerWidth2 > 1439,'font-20':innerWidth2<= 1439,'font-16':innerWidth2 < 600}"
              >
                <div class="row ">
                  <div
                    align="left"
                    class="col-10 q-pl-md  text-weight-bold"
                    v-html="items.vocabulary"
                  ></div>

                  <div
                    align="left"
                    class="col-10 q-pl-md "
                    v-html="items.pronounce"
                  ></div>

                  <div
                    align="left"
                    class="col-10 q-pl-md "
                    v-html="items.meaning"
                  ></div>
                </div>
              </div>
            </div>
          </q-btn>

          <!-- END MOBILE -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  // name: 'ComponentName',
  // parameters is [correctvocab,correctpronounce,correctmeaning]

  props: ["data"],
  data() {
    return {
      innerWidth: this.$store.state.system.innerWidth,
      flashcard: [this.data],
      showCard: false
    };
  },
  methods: {
    closeHelp() {
      this.$emit("help", {
        showHelpPage: false
      });
    },
    loadFlashcard() {
      this.showLoading();
      let levelUnit =
        "L" +
        this.$store.state.system.currentPracticeLevel +
        "U" +
        this.$store.state.system.currentPracticeUnit;
      var counter = 0;

      db.collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .where("practicetype", "==", "flashcard")
        .get()
        .then(flashcard => {
          flashcard.forEach(element => {
            var flashcardId = element.id;

            db.collection("flashcard")
              .doc(flashcardId)
              .collection("server")
              .get()
              .then(doc => {
                doc.forEach(flashcarddoc => {
                  if (
                    flashcarddoc
                      .data()
                      .schoolTypeSelected.includes(
                        this.$store.state.system.schoolType.key
                      ) &&
                    flashcarddoc.id != this.data.key
                  ) {
                    if (counter < 3) {
                      let imgPath = {
                        imgPath:
                          "https://api.winner-english.com/data/pic_flashcard/" +
                          flashcarddoc.id.toLowerCase() +
                          ".jpg",
                        soundPath:
                          "https://api.winner-english.com/data/sound_flashcard/" +
                          flashcarddoc.id.toLowerCase() +
                          ".mp3"
                      };
                      let finalFlashcard = {
                        ...imgPath,
                        ...flashcarddoc.data()
                      };
                      this.flashcard.push(finalFlashcard);
                    }
                    counter++;
                  }
                });
                this.shuffle(this.flashcard);
                this.showCard = true;
                this.hideLoading();
              });
          });
        });
    }
  },
  mounted() {
    this.loadFlashcard();
  },
  computed: {
    innerWidth2: function() {
      return this.$store.state.system.innerWidth;
    }
  }
};
</script>

<style>
.sound-btn-l {
  width: 50px;
  height: 50px;
}
.sound-btn-s {
  width: 40px;
  height: 40px;
}
.center-of-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-height {
  height: 420px;
}
</style>
