<template>
  <div style="position:relative;z-index:1000;">
    <div class="row justify-between items-center">
      <div class="col-xs-9 col-sm-5 col-xl-4">
        <div class="row text-white">
          <div class="col-sm-10 col-xs-12 q-pr-sm">
            <div
              class="bg-cyan-8 q-pa-sm q-px-md text-weight-regular"
              :class="{'font-20':this.$store.state.system.innerWidth > 1439,'font-14' : this.$store.state.system.innerWidth < 1025}"
              style="border-radius:10px;display:flex;justify-content:space-between"
            >
              <div>{{this.$store.state.system.studentData.name}}</div>
              <div v-if="this.$store.state.system.schoolType != 'online'">
                เลขที่ {{this.$store.state.system.studentCourse[
                this.$store.state.system.currentLesson
                ].studentno}}
              </div>
            </div>
          </div>
          <!-- เพชร -->
          <div
            class="col-sm-2 row items-center"
            style="position:relative"
            v-show="this.$store.state.system.innerWidth > 1024 "
          >
            <div
              class="bg-cyan-8 q-pa-sm"
              style="border-radius:10px;text-align:center;width:100%"
            >
              <div style="position:absolute;left:0px;top:6px">
                <img
                  src="../assets/diamond.png"
                  alt
                  width="45%"
                >
              </div>
              <div :class="{'font-20':this.$store.state.system.innerWidth > 1439,'font-14' : this.$store.state.system.innerWidth < 1025}">
                <span style="position:relative;left:10px">{{ displayDiamondMixin }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-xs-3 col-sm-2 q-py-sm"
        align="right"
        :class="{'font-20':this.$store.state.system.innerWidth > 1439,'font-14' : this.$store.state.system.innerWidth < 1025}"
      >
        <div
          style="border-radius:10px;"
          class="row bg-teal-5 q-pa-sm text-white"
        >
          <div
            class="col-5"
            align="right"
          >
            <span v-if="this.$store.state.system.innerWidth > 992">Level</span>
            <span v-else>L</span>
            {{userDetails.userLevel}}
          </div>
          <div
            class="col-2"
            align="center"
          >
            <q-separator
              vertical
              color="grey-9"
            />
          </div>
          <div
            class="col-5"
            align="left"
          >
            <span v-if="this.$store.state.system.innerWidth > 992">Unit</span>
            <span v-else>U</span>
            {{userDetails.userUnit}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data() {
    return {
      // TODO : รอดึงจาก Databaseจริง
      userDetails: {
        username: this.$store.state.system.studentData.name,
        userNo: this.$store.state.system.studentCourse[
          this.$store.state.system.currentLesson
        ].studentno, // ในตารางยังไม่มีเลขที่
        userDiamond: 500, // ในตารางยังไม่มีเพชร
        userLevel: this.$store.state.system.currentPracticeLevel, // ในตารางยังไม่มีLevel
        userUnit: this.$store.state.system.currentPracticeUnit //ในตารางยังไม่มีunit
      }
    };
  },
  mounted() {
    this.displayDiamond();
  }
};
</script>

<style>
</style>
