<!DOCTYPE html>
<html>

<head>
  <title>
    <%= htmlWebpackPlugin.options.productName %>
  </title>

  <meta charset="utf-8" />
  <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>" />
  <meta name="google" content="notranslate" />
  <link rel="icon" href="statics/quasar-logo.png" type="image/x-icon" />
  <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png" />
  <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- <script src="http://code.jquery.com/jquery-2.0.3.min.js"> </script> -->
  <script>
    //  disable f5 and right click
    window.onload = function () {
      document.onkeydown = function (e) {
        return (
          (e.which || e.keyCode) != 116 &&
          (e.which || e.keyCode) != 123 &&
          (e.which || e.keyCode) != 117
        );
      };
      document.addEventListener("contextmenu", event =>
        event.preventDefault()
      );
    };

    history.pushState(null, null, location.href);

    window.onpopstate = function () {
      history.go(1);
    };

  </script>
</head>

<body>
  <!-- DO NOT touch the following DIV -->
  <div id="q-app"></div>
</body>

</html>

<style>
  body {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
supported by Chrome and Opera */
  }

  html {
    scroll-behavior: smooth;
  }

  .brx {
    border: 2px solid red;
  }

  .hover-btn:hover {
    cursor: pointer;
    /* transform: scale(0.95) */
  }

  .font-24 {
    font-size: 24px;
  }

  .font-34 {
    font-size: 34px;
  }

  .font-30 {
    font-size: 30px;
  }

  .font-28 {
    font-size: 28px;
  }

  .font-20 {
    font-size: 20px;
  }

  .font-22 {
    font-size: 22px;
  }

  .font-19 {
    font-size: 19px;
  }

  .font-18 {
    font-size: 18px;
  }

  .font-17 {
    font-size: 17px;
  }

  .font-16 {
    font-size: 16px;
  }

  .font-15 {
    font-size: 15px;
  }

  .font-14 {
    font-size: 14px;
  }

  .font-13 {
    font-size: 13px;
  }

  .font-12 {
    font-size: 12px;
  }

  .font-70 {
    font-size: 70px;
  }

  .font-60 {
    font-size: 60px;
  }

  .font-50 {
    font-size: 50px
  }

  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #28a78f;
  }

  .tooltip::before {
    position: absolute;
    content: attr(data-tool);
    left: 50%;
    bottom: 100%;
    padding: 8px 12px;
    background: rgba(34, 50, 84, 0.98);
    color: white;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    border-radius: 5px;
    transition: all 0.2s ease;
    transform: translate3d(-50%, 5px, 0) scale(0.5);
  }

  .tooltip:hover::before {
    opacity: 1;
    transform: translate3d(-50%, -0px, 0) scale(1);
  }

  .qpage-padding-l {
    padding: 25px 60px;
  }

  .qpage-padding-s {
    padding: 5px 5px;
  }

</style>
