<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar class="bg-teal-14">
        <q-toolbar-title
          class="q-pa-sm text-weight-bold"
          :class="{'font-24' : innerWidth > 1439,'font-14' : innerWidth < 1025}"
        >
          <span v-if="this.$route.name == 'studyplan'">
            Winner English
            <q-btn
              style="visibility:hidden"
              icon="fas fa-arrow-left"
              push
              class="q-mr-md bg-grey-5"
              round
            ></q-btn>
          </span>
          <span v-if="this.$route.name != 'studyplan'">
            <q-btn @click="backToHome()" icon="fas fa-home" push class="q-mr-md bg-primary" round></q-btn>Winner English
          </span>
        </q-toolbar-title>
        <q-btn
          v-if="this.$route.name != 'trophymonster'&& this.$route.name !='trophy'"
          @click="trophyBtn()"
          class="q-mx-md"
          push
          color="orange-5"
          icon="fas fa-trophy"
          round
        ></q-btn>
        <q-btn icon="fas fa-sign-out-alt" @click="logout()" push color="red-5" round></q-btn>
      </q-toolbar>
    </q-header>

    <q-page-container class="bg">
      <q-resize-observer @resize="onResize"></q-resize-observer>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import appStudentDetails from "../components/StudentDetails.vue";
import { mapActions } from "vuex";
export default {
  name: "MyLayout",
  components: {
    appStudentDetails,
  },
  data() {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight,
    };
  },
  methods: {
    ...mapActions([
      "setStudentData",
      "setStudentCourse",
      "setSchooltype",
      "setVocabPractice",
      "setCurrentQuestion",
      "setTotalQuestion",
      "setEnglishInstruction",
      "setInnerWidth",
      "setInnerHeight",
    ]),
    onResize(size) {
      this.innerWidth = size.width;
      this.innerHeight = size.height;
      this.setInnerWidth(size.width);
    },
  },
  mounted() {
    this.checkSession();
    // this.checkLoginKey();
    // ดักในกรณีที่ user เน็ตช้า แล้วทำการโหลด แบบฝึกหัดที่ผ่านแล้วไม่ทัน จึงทำให้ทะลุมาที่แบบฝึกหัดได้ เช็คว่า หากได้ทำแบบฝึกหัดไปแล้ว ให้เด้งไป studyplan
    if (
      this.$route.name != "studyplan" &&
      this.$route.name != "finishpractice"
    ) {
      this.checkPracticePermission(this.$route.params.practicekey);
    }
  },
};
</script>

<style>
.bg {
  background-image: url("../assets/background14.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
</style>
