<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar class="bg-teal-14">
        <q-toolbar-title class="text-h6 q-pa-sm">
          <span v-if="this.$route.name != 'studyplan'">
            <q-btn
              @click="backToHome()"
              icon="fas fa-home"
              push
              class="q-mr-md bg-primary"
              round
              :disable="this.$store.state.system.homeButton"
            ></q-btn>Winner English
          </span>
        </q-toolbar-title>
        <q-btn
          icon="fas fa-sign-out-alt"
          :glossy="$q.theme === 'mat'"
          @click="logout()"
          push
          color="red-5"
          round
          :disable="this.$store.state.system.logoutButton"
        ></q-btn>
      </q-toolbar>
    </q-header>

    <q-page-container class="bg">
      <!-- content -->

      <q-page :class="{'qpage-padding-l':innerWidth > 1024,'qpage-padding-s':innerWidth <=1024}">
        <q-resize-observer @resize="onResize"></q-resize-observer>

        <div class="row">
          <div class="col-12" v-show="this.$store.state.system.showLayouts">
            <div class="row text-white items-start">
              <div class="col-md-5 col-xs-12">
                <div
                  class="row text-white"
                  :class="{'font-20' : innerWidth > 1439,'font-16 ' : innerWidth <= 1439,'font-14' : innerWidth <= 1024,'font-12' : innerWidth <=599,'bar-width-l' : innerWidth >= 1024}"
                >
                  <div class="col-sm-9 col-xs-12" :class="{'q-pr-sm' : innerWidth > 599}">
                    <div
                      class="bg-cyan-8 q-pa-sm q-px-md"
                      style="width:100%;border-radius:10px;display:flex;justify-content:space-between"
                    >
                      <div>{{this.$store.state.system.studentData.name}}</div>
                      <div v-if="this.$store.state.system.schoolType != 'online'">
                        เลขที่ {{this.$store.state.system.studentCourse[
                        this.$store.state.system.studentCourse.length - 1
                        ].studentno}}
                      </div>
                    </div>
                  </div>
                  <!-- เพชร -->
                  <div class="col-3 row items-center gt-xs" style="position:relative">
                    <div
                      class="bg-cyan-8 q-pa-sm"
                      style="border-radius:10px;text-align:center;width:100%"
                    >
                      <div style="position:absolute;left:0px;top:6px">
                        <img src="../assets/diamond.png" alt width="45%" />
                      </div>
                      <div>
                        <span style="position:relative;left:10px">{{ displayDiamondMixin }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 q-mt-sm">
                    <div
                      class="bg-teal-14 q-px-md justify-between q-pa-xs row items-center"
                      style="border-radius:10px"
                    >
                      <div>
                        <span>Level {{this.$store.state.system.currentPracticeLevel}}</span>
                        <span>&nbsp;|&nbsp;</span>
                        <span>Unit {{this.$store.state.system.currentPracticeUnit}}</span>
                      </div>

                      <div align="right">
                        <span v-for="i in 3" :key="i">
                          <img
                            v-if="i <= showStar"
                            src="../assets/fash-card-star.png"
                            style="width:40px"
                            class="q-pr-xs"
                            :id="'star' + i"
                          />
                          <img
                            v-else
                            src="../assets/fash-card-star-no.png"
                            style="width:40px"
                            class="q-pr-xs"
                            :id="'star' + i"
                          />
                        </span>
                      </div>
                      <!-- <q-rating v-model="showStar" :max="3" size="2em" color="orange" readonly></q-rating> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-xs-12" :class="{'q-mt-sm' : innerWidth < 1024}">
                <div
                  class="row bg-cyan-8 q-pa-sm items-center text-weight-bold"
                  :class="{'font-20' : innerWidth > 1439,'font-16' : innerWidth <= 1439,'font-14' : innerWidth <= 1024,'font-12' : innerWidth <=599}"
                  style="border-radius:10px;border:5px solid"
                >
                  <div class="col-1" align="center" style="border-right:1x solid white">
                    <!-- ข้อปัจจุบัน -->
                    {{this.$store.state.system.currentQuestion}}
                    <br />
                    <q-separator inset color="white" />
                    <!-- ข้อทั้งหมด -->

                    {{this.$store.state.system.totalQuestion}}
                  </div>

                  <!-- คำสั่งภาษาอังกฤษ -->
                  <div
                    v-if="toggleInstruction"
                    class="col-9 q-pa-sm"
                  >{{this.$store.state.system.englishInstruction}}</div>
                  <!-- คำสั่งภาษาไทย -->
                  <div v-else class="col-9 q-pa-sm">{{this.$store.state.system.thaiInstruction}}</div>
                  <div class="col-2" align="center">
                    <q-btn @click="changeInstructionLang()" color="primary" push round size="md">
                      <img
                        v-if="!toggleInstruction"
                        src="../assets/icon-04.png"
                        style="width:45px"
                        alt
                      />
                      <img v-else src="../assets/icon-03.png" style="width:45px" alt />
                    </q-btn>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            :class="{'col-5' : innerWidth > 1024}"
            v-show="innerWidth > 1024 && this.$route.name != 'readingfillin' && this.$route.name != 'readingmultiple' && this.$route.name != 'vdoteaching' && this.$route.name != 'speaking'"
            style="position:relative;bottom:-4px;margin:0 auto"
            align="center"
          >
            <!-- character component -->
            <div v-show="this.$store.state.system.showLayouts" style="margin:auto" align="center">
              <app-character :action="this.$store.state.system.characterAction"></app-character>
            </div>
          </div>
          <!-- แบบฝึกหัดที่ไม่ใช่ Reading -->
          <div
            v-if="this.$route.name != 'readingfillin' && this.$route.name != 'readingmultiple' && this.$route.name != 'vdoteaching' && this.$route.name != 'speaking'"
            :class="{'col-7':innerWidth > 1024, 'col-12':innerWidth <= 1024 || this.$store.state.system.showLayouts == false}"
          >
            <!-- ส่วนแสดงผลเนื้อหาแบบฝึกหัด -->
            <router-view />
          </div>
          <!-- แบบฝึกหัด Reading -->
          <div v-else class="col-12">
            <!-- ส่วนแสดงผลเนื้อหาแบบฝึกหัด -->
            <router-view />
          </div>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>




<script>
import { db } from "../router/index.js";
import appHeaderInstruction from "../components/HeaderInstruction.vue";
import appCharacter from "../components/Character.vue";

import appVocabHelp from "../components/helpVocab.vue";
import { mapActions } from "vuex";
export default {
  // name: 'PageName',
  components: {
    appHeaderInstruction,
    appCharacter,
    appVocabHelp,
  },
  data() {
    return {
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight,
      currentQuestion: 0,
      star: this.$store.state.system.star,
      answer: "default",
      toggleInstruction: true,
    };
  },
  methods: {
    ...mapActions([
      "setStudentData",
      "setStudentCourse",
      "setSchooltype",
      "setVocabPractice",
      "setCurrentQuestion",
      "setTotalQuestion",
      "setEnglishInstruction",
      "setShowLayouts",
      "setStar",
      "setInnerWidth",
      "setInnerHeight",
    ]),
    onResize(size) {
      this.innerWidth = size.width;
      this.innerHeight = size.height;
      this.setInnerWidth(size.width);
      this.setInnerHeight(size.height);
    },
    changeInstructionLang() {
      this.toggleInstruction = !this.toggleInstruction;
    },
  },
  computed: {
    showStar: function () {
      return this.$store.state.system.star;
    },
  },
  mounted() {
    // let _this = this;
    // this.saveMonitor(_this.$route.params.practicekey);
    // this.checkSession();
    this.displayDiamond();
    // check login ซ้อน
    // this.checkLoginKey();
    // ดักในกรณีที่ user เน็ตช้า แล้วทำการโหลด แบบฝึกหัดที่ผ่านแล้วไม่ทัน จึงทำให้ทะลุมาที่แบบฝึกหัดได้ เช็คว่า หากได้ทำแบบฝึกหัดไปแล้ว ให้เด้งไป studyplan
    // console.log(this.$route.name);
    this.checkPracticePermission(this.$route.params.practicekey);
  },
  watch: {
    showStar() {
      if (this.showStar == 2) {
        document.getElementById("star3").classList.add("animate-star");
      } else if (this.showStar == 1) {
        document.getElementById("star3").classList.add("animate-star");
        document.getElementById("star2").classList.add("animate-star");
      }

      setTimeout(() => {
        document.getElementById("star3").classList.remove("animate-star");
        document.getElementById("star2").classList.remove("animate-star");
      }, 1000);
    },
  },
};
</script>

<style>
.bg {
  background-image: url("../assets/background14.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.diamondWidth-l {
  width: 75%;
}
.diamondWidth-s {
  width: 70%;
}
.bar-width-l {
  width: 95%;
}
.bar-width-s {
  width: 100%;
}
.animate-star {
  animation: zoomOutAndIn 1s 1;
}
@keyframes zoomOutAndIn {
  0% {
    transform: scale(5.5);
  }
  100% {
    transform: scale(1);
  }
}
</style>
